<!--Primary Footer Welcome, Login, etc -->
<footer>
    <!--footer one-->
    <div class="ftr_bx_one">
        <div class="ftr_log_bx">
            <img src="images/movesmartlogo.png" alt="movesmartlogo" />
        </div>
		<div class="ftr_log_bx">
            <img src="images/movesmartlogo.png" alt="movesmartlogo" />
        </div>
		<div class="ftr_log_bx">
            <img src="images/movesmartlogo.png" alt="movesmartlogo" />
        </div>
    </div>
    <!--footer two-->
    <div class="ftr_bx_two">
        <span class="menuspan fl" ></span>
        <span class="menuspan fl" ></span>
        <span class="menuspan fr" ></span>
        <span class="menuspan fl" ></span>
        <div class="clear"></div>
    </div>
</footer>