<script src="src/controllers/question.js"></script>
<script src="src/controllers/phase1.js"></script>
<script>
$(document).ready(function(){
$(".page-title h4 .one").text("MIND ACTIVITY");
});
</script>
<div class="activity_todaybox" >
	<div class="comm_banner_img_box">
                <div class="transparent-stripe"></div>
                <img src="images/banner/mind8.jpg" alt="move2">
                
            </div>

	<div class="scroll_tabs today-green" >
		<span class="fl" >sunday</span>
		<span class="scroll_tabs_active" >today</span>
		<span class="fr" >tuesday</span>
		<div class="clear" ></div>
	</div>
	<div id="question-forms"><img src="images/loading.gif"/></div>
</div>
<div id="progress_group" class="footer_graph_box progress_group">	
    <label class="ac_text" >Move</label>
    <label>Eat</label>
    <label>Mind</label>
    <label>General</label>
</div>
<div class="activityinfo_popup" >
    <button class="close_btn" onclick="closeActivityPopup()">X</button>
    <div class="activityinfo_popup_inner educationcontent"></div>
    <!--<div class="edu-prev"><</div>
    <div class="edu-next">></div>-->
</div>
<div class="info_popupbox_bg" ></div>
<div class="info_popupbox_inner">
<a href="javascript:void(0)" class="close-info" onclick="infoClosedBtn()"><img src="images/close-info.png"></a>
            <br clear="all">
    <div class="main_panel_header">
        <h5 class="transinfo">info</h5>
    </div>
    <div>
        <div class="welcome_ctn_bx infoctn_box" id="idinfotext">

        </div>
    </div>
    <!--<button class="circle_blue_btn goback_btn transback" onclick="goBack()" >Back</button>-->
    <!--<button class="circle_blue_btn goback_btn" onclick="infoClosedBtn()" >Done</button>-->
</div>