<script src="src/controllers/testtraining.js"></script>
<!-- <div class="panel_cnt_header border_bottom">
    <img alt="user_image1" class="useicon" src="images/no_image.png" id="userprofile">
    <h5 class="comm_h4">Welcome,<span class="username"></span></h5>
</div> -->
<!-- <h4 class="comm_para txt_cntr transselectactivity" > select your activity </h4> -->

<br>
<h4 class="comm_h4" style="text-align: center"> <span class="username"></span><br>Selecteer een activiteit</h4>

<div class="quest_list_box_outer " id="slctactivityimg">
    <ul class="quest_list_box list-welcome">
        <img src="images/loading.gif" alt="loading" />
    </ul>
</div>
<br clear="all"><br>
<button class="white_btn blue_btn transotheractivity" id="otheractivity" onclick="findOtherActivity()">find other activity ?</button>
<button class="white_btn blue_btn transfewactivity" id="fewactivity" onclick="findfewActivity()" style="display:none">Show top activities ?</button>
<!-- <span class="light_icon fr mar_bott10" ></span> -->
<div class="clear"></div>