<script src="src/controllers/question.js"></script>
<script src="src/controllers/phase1.js"></script>
<style>
.cvs{

     width: 222px;
    background: #FF7900 !important;
    color: #fff !important;
    float: left;
    margin-left: 20px;
    padding: 10px 14px;
    border-radius: 28px;
    font-weight: bold;}
</style>
<script>
$(document).ready(function(){
$(".page-title h4 .one").text("MIND ACTIVITY");
});
</script>
<div id="frst_sd"  class="activity_todaybox" >
    <div class="comm_banner_img_box">
                <div class="transparent-stripe"></div>
                <img src="images/banner/mind8.jpg" alt="move2">
            </div>
    <button id="emailmindact"  onclick= "openquesmind()" class="cvs" >Start Mind Vragenlijst</button>
    
</div>
