<script src="src/controllers/question.js"></script>
<script src="src/controllers/phase1.js"></script>
<script>
    $(document).ready(function(){
                      $(".page-title h4 .one").text(GetLanguageTextLocal("16"));
                      });
    </script>
<!--<div class="home_cnt_bx">
 <img src="images/home_img6.png" alt="home_img6" />
 </div>-->
<div id="scf_fg" style="display:block;">
<div class="activity_todaybox" >
    
    <div class="comm_banner_img_box">
        <div class="transparent-stripe">
            
        </div>
        <img src="images/banner/move11.jpg" alt="move2">
            
            </div>
    
    <div class="scroll_tabs today-green" >
        <div class="fl" >sunday</div>
        <div class="scroll_tabs_active" >today</div>
        <div class="fr" >tuesday</div>
        <div class="clear" ></div>
    </div>
    
    <div id="question-forms" class="swiper-container">
        <img src="images/loading.gif"/>
    </div>
    
</div>
<!----------------start---->
<div id="progress_group" class="footer_graph_box progress_group">   
    <label class="ac_text" >Move</label>
    <label>Eat</label>
    <label>Mind</label>
    <label>General</label>
</div>

<div class="activityinfo_popup" >
    <button class="close_btn" onclick="closeActivityPopup()">X</button>
    <div class="activityinfo_popup_inner educationcontent"></div>
    <!--<div class="edu-prev"><</div>
    <div class="edu-next">></div>-->
</div>
<div class="info_popupbox_bg" ></div>
<div class="info_popupbox_inner">
<a href="javascript:void(0)" class="close-info" onclick="infoClosedBtn()"><img src="images/close-info.png"></a>
            <br clear="all">
    <div class="main_panel_header">
        <h5 class="transinfo">info</h5>
    </div>
    <div>
        <div class="welcome_ctn_bx infoctn_box" id="idinfotext">

        </div>
    </div>
    <!--<button class="circle_blue_btn goback_btn transback" onclick="goBack()" >Back</button>-->
    <!--<button class="circle_blue_btn goback_btn" onclick="infoClosedBtn()" >Done</button>-->
</div>
</div>
<!---end-->
<style>
    .comm_panel_bx{
        margin: 0px 0px !important;
    }
.step_right {
    margin: 0 15px !important;
}
.step_right .input_blue {
    width: 90% !important;
}
</style>
<!--<div class="educationcontent"></div> -->
<!--<span class="light_icon fr" onclick="EatfreshTips()" ></span>-->
<!--<div class="eduction">
 <div class="swiper-wrapper">
 <div class="swiper-slide edu_inner">
 <p class="comm_para" >You can monitor your steps with a steps counter. This could be your Phone or a seperate device. If you have a Phone (list of supported phones) or device already you can start right away!</p>
 </div>
 </div>
 <div class="edu-prev"><</div>
 <div class="edu-next">></div>
 <div class="edu-pagination">></div>
 </div>-->