<script src="src/controllers/question.js"></script>
<script src="src/controllers/appointment.js"></script>
<!--<div class="main_panel_header mar_bottom_none border_bottom_none" id="appointment_title">
    <h5>MOVESMART.coach</h5>
</div>
-->
<div id="SearchClubs" style="display:none;/*Later Need to implement*/">
    <div class="home_cnt_bx" >
        <img alt="home_img1" src="images/home_img1.png">
    </div>
    <div class="triangle_question_bx">
        <span id="miles" class="ques_count">0</span>
        <span class="qus_fl_btn decrmtstep" start="0" step="1" associd="miles">-</span>
        <span class="qus_fr_btn incrmentstep" end="20" step="1" associd="miles">+</span>
    </div>
    <div class="comm_panel_bx" >
        <button class="white_btn transsearch" onclick="searchCoachAndClub()">Search</button>
    </div>
</div>
<div id="pnlcoachresult" style="display:block;margin:0px 0px;">
    <div class="comm_panel_bx" style="margin:0px 0px;" >
        <span id="search_label" class="coach_search_input" ><img src="images/loading.gif" alt="Loading.." />Searching</span>
        <!--<ul id="reqcoachlist" class="coach_list_box" >
            <li>
                <div class="useicon">
                    
                </div>
                <div class="coach_name_box" >
                    <h4 class="comm_h4" ><img src="images/loading.gif" alt="Loading.." /></h4>
                    <p class="comm_para"><img src="images/loading.gif" alt="Loading.." /></p>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
		-->
		<div id="reqcoachlist" class="coach-wrap coach_list_box">
		
		</div>
    </div>
</div>
<div class="coachinfodetail" style="display:none">
    <!--<div class="panel_cnt_header">
        <div class="useicon">
            <img src="images/usericon.png" id="coachicon" alt="usericon" />
        </div>
        <h5><span class="coach_name"><img src="images/loading.gif"/></span></h5>
    </div>-->
	<div class="appointment_cnt">
        <div class="comm_banner_img_box">
			<div class="transparent-stripe">
                    
            </div>
            <img src="images/banner/mind9.jpg" alt="mind9" />
            <!--<h4>Appointment Request</h4>-->
            <!-- <img class="banner_logo" src="images/movesmartlogo.png" alt="movesmartlogo" /> -->
        </div>

        <div class="welcome_ctn_bx" >
            <div class="coachdetail swiper-container">
                <p class="comm_para">Thanks you for selecting <span class="coach_name_span"></span> as a personal Vitality coach</p>
                <p class="comm_para">Your MOVESMART.coach will contact you as soon as possible.</p>
                <p class="comm_para">In the mean time, don't forget your goal.
                    Enter your steps in the 10.000 stepgame.
                    Try to stand up more and move around, don't
                    keep seated the whole time.
                    Don't forget to drink water and eat a small
                    healthy snack.
                    Your sleep is a crusial part of your life, make
                    sure your sleep enough.
                </p>


            </div>
        </div>    
    </div>	
    <div class="pupopfooter">
        <button class="white_btn transselect" style="width:43% !important;height:40px !important" onclick="selectClientAppointment(this)" id="appointmentSlct" clubid="" coachid="">select</button>
        <button class="white_btn transcancel" style="width:43% !important;height:40px !important" id="appointment_cancel" onclick="cancelAppointment(this)">cancel</button>
    </div>
    <!-- <button class="circle_blue_btn" >Start <br/> check</button>
    <span class="light_icon fr mar_bott10 lamp_icon" ></span>
    <button class="circle_blue_btn goback_btn transback" onclick="goBack()" >Back</button>-->
</div>