<div class="main_panel_header">
    <h5>MOVESMART.test</h5>
</div>
<div class="panel_cnt_header">
    <div class="useicon" id="coachimage">
        <img src="images/usericon.png" alt="Coach" />
    </div>
    <h5 id="coachname">MOVESMART</h5>
</div>

<div class="welcome_ctn_bx" >
    <p class="comm_para" >Thank you for entering all info we need to initiate your test. Your personal coach will
    guide you thru this test and will select togheter with you your goals and discusse
    your achivements this far.</p>
    <p class="comm_para" >Every 12 weeks you will get a retest and your goals will be adjusted to your personal needs and goals.</P>
</div>
<!-- <button class="circle_blue_btn" >Start <br/> check</button> -->
<span class="light_icon fr mar_bott10 lamp_icon" ></span>
<button class="circle_blue_btn goback_btn transback" onclick="openMoveSmart()" >Back</button>
<div class="clear"></div>
