<script src="src/controllers/question.js"></script>
<script src="src/controllers/appointment.js"></script>
<script>
$(document).ready(function(){
$(".page-title h4 .one").text(GetLanguageTextLocal("22"));
});
</script>

            <div class="loginform_bx clientinfo formfocus_ipentry">
				<div class="comm_banner_img_box">
				<div class="transparent-stripe">
						
				</div>
					<img src="images/banner/mind10.jpg" alt="mind10">
					<!--<h4>Client Info</h4>-->
					<!-- <img class="banner_logo" src="images/movesmartlogo.png" alt="movesmartlogo" /> -->
				</div>
			
               <!-- <p class="comm_para txt_cntr transneededinfo" >This info is needed to setup the test.</p>-->
			   <div class="text-wrap">
				   <div class="q-mark question_icon personalclientinfo" onclick="showtext()" style="left: -10px !important;     background: none;"><img src="images/question-mark.png">  </div>
					<div class="counter-container" style="    padding-top: 10px !important;">
						<!--div class="input_box compulsory">
							<div class="clsinputfieldouterstyle1" id="idbirthday" >
								<label class="clientinfo_label birthday_label1 transbirthday"  for="client_dob">birthday :</label>
								<input type="date" value="" id="client_dob" class="input_blue birthday_input1 req-nonempty" placeholder="birthday" style="padding-left: 55% !important;" err_reporton="idbirthday"/>
							</div>
						</div>
						<div class="input_box compulsory">
							<div class="clsinputfieldouterstyle1 ios_input_fix" id="idlength" >
								<label class="clientinfo_label translength" for="client_length" >length :</label>
								<input type="number" id="client_length" class="input_blue req-nonempty" placeholder="" style="padding-left: 55% !important;" onkeypress="return isNumberDecimal(event)" err_reporton="idlength"/>
							</div>
						</div>

						<div class="input_box compulsory">
							<div class="clsinputfieldouterstyle1 ios_input_fix" id="idweight" >
								<label class="clientinfo_label transweight" >weight :</label>
								<input type="number" id="client_weight" class="input_blue req-nonempty" placeholder="" style="padding-left: 55% !important;"  onkeypress="return isNumberDecimal(event)" err_reporton="idweight"/>
							</div>
						</div-->
						<div class="input_box ">
					        <input type="tel" value="" id="phno" class="input_blue transphone" placeholder="phone"/ style="width:100%;padding-left:10% !important;">
					    </div>
						<div class="input_box" style="display:none;">
							<div class="clsinputfieldouterstyle1 ios_input_fix" id="" >
								<label class="clientinfo_label transgender" for="gender" >gender :</label>
								<span id="gendertext" class="input_blue selectchrbox transtextmale" style="padding-left: 65% !important;">male</span>
								<select id="gender" class="input_blue selectdropdown select_opcity" name="gender_details" checkemptyonval="-1">
									<option value="0" selected class="transtextmale">male</option>
									<option value="1" class="transtextfemale">female</option>
								</select>
							</div>
						</div>
						<div class="input_box relative_bx ">
							<button class="white_btn blue_btn transsave" style="margin-left: auto !important; float:left !important;" onclick="savePersonalInfo(this)" class="circle_blue_btn   savecls blue_btn" >Save</button>
							<!--<span class="question_icon personalclientinfo" >?</span>-->
						</div>

						<span class="compulsory_ftr transmandatory" style="float:left !important; margin-top: 20px !important; margin-left: 10px !important;display:none;">compulsory *</span>
						<div class="clear" ></div>
					</div>
				</div>
            </div>
			<style>
			.clsinputfieldouterstyle1{
				background: none !important;
				width:100% !important;
			}
			</style>
