<script src="src/controllers/dashboard.js"></script>
<!--<script src="src/controllers/phase1.js"></script> -->
<script>

    $(function(){
        SetCheckSummaryViewed();
    });
    openCoachListFromCheckFase();
    function openCoachListFromCheckFase(){
        logStatus("Calling openCoachListFromCheckFase", LOG_FUNCTIONS);

        try{
            var sa  =   getSavedQuestionsInLocal();
            if(!$.isEmptyObject(sa))
            {
                 $.each(sa,function(i,row){
                    if(row.question==42){
                        var answer      =   row.actualOtherData;
                        if(answer==1)
                        {
                            setTimeout(function(){ GoForTestAppointmentFromCheckphase(); }, 7000);
                        }
                    }
                 });
            }
            
        }
        catch(e){
            ShowExceptionMessage("openCoachListFromCheckFase", e);
        }
    }
</script>

<!--<div class="comm_banner_img_box">
	<img src="images/banner/move19.jpg" alt="move19" />
	<h4>A healthy life </h4>
	<!--<img class="banner_logo" src="images/movesmartlogo.png" alt="movesmartlogo" />'---
</div>
<br> -->
<div class="summarycnt">

    <div class="home_cnt_bx">
        <img src="images/home_img6.png" alt="home_img6" />
    </div>
    <div class="newcomm_txt">
        <h4 class="comm_h4" > The MOVESMART.score combines the way you
        MOVE, EAT and you MIND activities.</h4>
        <p class="comm_para" >A combined score of 10 means you are
        meeting all health criteria given by years of
        research. If you want, you could even go
        further!</p>
    </div>
    <div class="yourscore_box" >
        <h4 class="comm_h4">Your score</h4>
        <h3 class="Yourscore">6.4</h3>
        <h4 class="comm_h4">out of 10</h4>

    </div>

</div>
 <input type="hidden" name="movevalue" value="" id="move_value">
        <input type="hidden" name="eatvalue" value="" id="eat_value">
        <input type="hidden" name="mindvalue" value="" id="mind_value">
        <input type="hidden" name="totalvalue" value="" id="total_value">
        <input type="hidden" name="credittotalvalue" value="" id="credit_value">	