<script src="src/controllers/appointment.js"></script>
<script>
    $(document).ready(function(){
                      $(".page-title h4 .one").text(GetLanguageTextLocal("5"));
                      $('.transproceed').html(GetLanguageTextLocal("15"));
                      $('.transcoachthankstxt').html(GetLanguageTextLocal("14"));
                      });
    </script>
<div class="comm_banner_img_box">
    <div class="transparent-stripe">
        
    </div>
	<img src="images/banner/coach.jpg" alt="coach">
	<!--<h4>MOVESMART.score</h4>-->
	<!-- <img class="banner_logo" src="images/movesmartlogo.png" alt="movesmartlogo" /> -->
</div>

<!-- <div class="main_panel_header">
    <h5><span class="clscurrentgrouptext">MOVESMART</span>.score</h5>
</div> -->

<div class="panel_cnt_header">
    <div class="useicon">
        <img src="images/usericon.png" alt="usericon" id="coachicon" />
    </div>
    <h5>Coach, <span class="coach_name"></span></h5>
</div>

<div class="welcome_ctn_bx transcoachthankstxt" >
    <p class="comm_para" >Thank you for entering all info we need to initiate your test. Your personal coach will
    guide you thru this test and will select togheter with you your goals and discusse
    your achivements this far.</p>
    <p class="comm_para" >Every 12 weeks you will get a retest and your goals will be adjusted to your personal needs and goals.</P>
</div>
<button class="white_btn blue_btn transproceed" onclick="proceedClient()" >Proceed</button>
<!-- <span class="light_icon fr mar_bott10 lamp_icon" ></span>
<button class="circle_blue_btn goback_btn proceed" onclick="proceedClient()" >Proceed</button> -->	
<div class="clear"></div>
