<script src="src/controllers/appointment.js"></script>
<script src="src/controllers/question.js"></script>
<div class="panel_cnt_header">
    <div class="useicon">
        <img src="images/usericon.png" alt="usericon" />
    </div>
    <h5><span></span></h5>
</div>

<!--div class="welcome_ctn_bx" >-->
<div class="welcome_ctn_bx coachdetail swiper-container">
    <p class="comm_para">Thanks you for selecting him as a personalMOVESMART.coach</p>
    <p class="comm_para">Your MOVESMART.coach will contact you as soon as possible.</p>
    <p class="comm_para">In the mean time, don't forget your goal.
        Enter your steps in the 10.000 stepgame.
        Try to stand up more and move around, don't
        keep seated the whole time.
        Don't forget to drink water and eat a small
        healthy snack.
        Your sleep is a crusial part of your life, make
        sure your sleep enough.
    </p>


</div>
<!-- <button class="circle_blue_btn" >Start <br/> check</button> -->
<span class="light_icon fr mar_bott10 lamp_icon" ></span>
<button class="circle_blue_btn goback_btn transback" onclick="goBack()" >Back</button>
<div class="clear"></div>
