<script src="src/controller/register.js"></script>
<section style="background-color:#FFF">
    <div class="register" style="display:block">
        <div class="head1_box">
            <div class="userimage">
                <img src="images/no_image.png" alt="user_image1" id="regusrimg"/>
            </div>
            <h4><strong>Welcome,</strong> <span class="regusername">Martine</span></h4>
            <div class="clear" ></div>
        </div>
        <!-- <div class="welcome_box register compreg-step_one" style="display:block"> -->
        <div class="ompreg-step_one" style="display:block">
            <p class="comm_para" >Welcome to</p>
            <strong class="comm_h4" >MOVE SMART.  EAT FRESH!  MIND SWITCH?</strong>
            <p class="comm_para" >Move Smart is your personal coach to a funnier,
            healthier, more relaxed and enjoyable lifestyle.</p>
            <p>You have taken your first big step and we realy
            want to get to know you better, to give you
            the best support to achieve YOUR goals in life.</p>
            <br/>
            <br/>
            <p class="comm_para" >Get started</p>
            <p class="comm_para">press next to go to the inquiring list so we can help gide you to your</p>
            <strong class="comm_h4"> FUNN, HEALTHY, RELAXED and ENJOYABLE LIFESTYLE</strong>
        </div>
        <div class="register compreg-step_two"  style="display:none">
            <!-- <div class="register"> -->

                <div class="input_box">
                    <input type="text" value="" id="client_street" class="input_blue transname" placeholder="first name"  />
                </div>

                <div class="input_box">
                    <input type="text" value="" id="client_number" class="input_blue transname" placeholder="number"  />
                </div>

                <div class="input_box">
                    <input type="text" value="" id="client_bus" class="input_blue transname" placeholder="bus"  />
                </div>
                <div class="input_box">
                    <input type="text" value="" id="client_zipcode" class="input_blue transname" placeholder="zipcode"  />
                </div>
                <div class="input_box">
                    <input type="text" value="" id="client_place" class="input_blue transname" placeholder="place"  />
                </div>
                <div class="input_box">
                    <input type="text" value="" id="client_country" class="input_blue transname" placeholder="place"  />
                </div>


            <!-- 	<input type="text" class="input1 req-nonempty" id="client_street" placeholder="street" />
                <input type="text" class="input1 req-nonempty" id="client_number" placeholder="number"/>
                <input type="text" class="input1 req-nonempty" id="client_bus" placeholder="bus"/>
                <input type="text" class="input1 req-nonempty" id="client_zipcode" placeholder="zipcode"/>
                <input type="text" class="input1 req-nonempty" id="client_place" placeholder="place"/>
                <input type="hidden" id="client_placeid"/>
                <select class="input1" id="client_country" placeholder="country"></select>
                </br>
            </div> -->
            <span class="compulsory_para transmandatory" > compulsory *</span>
        </div>
        <div class=" compreg-step_three" style="display:none">
            <div class="sect_head2" >
                <span class="fl">Client info</span>
                <div class="clear"></div>
            </div>


            <div class="input_box">
                <input type="text" value="" id="client_dob" class="input_blue transname" placeholder="birthday"  />
            </div>

            <div class="input_box">
                <input type="text" value="" id="client_length" class="input_blue transname" placeholder="length"  />
            </div>

            <div class="input_box">
                <input type="text" value="" id="client_weight" class="input_blue transname" placeholder="weight"  />
            </div>

            <div class="input_box">
                <input type="text" value="" id="client_profession" class="input_blue transname" placeholder="length"  />
            </div>

            <!-- <input type="date" id="client_dob" class="input1 req-nonempty" placeholder="birthday"/>
            <input type="text" id="client_length" class="input1 req-nonempty" placeholder="length" />
            <input type="text" id="client_weight" class="input1 req-nonzero" placeholder="weight" />
            <select id="client_profession" class="input1 req-nonempty"></select>
            <span class="compulsory_para" > compulsory *</span> -->
        </div>
        <div class="register compreg-step_four" style="display:none">
            <div class="sect_head2" >
                <span class="fl">MOVE SMART.</span>
                <span class="fr">Awareness</span>
                <div class="clear"></div>
            </div>
            <div class="welcome_box">
                <p class="text_l" >1. Medical info : </p>
                <p class="text_l" >Physical activity during exercise my profession.</p>
                <br/>
                <br/>
                <div class="single_radio_box">
                    <span class="radiobox" >
                        <input class="check" type="checkbox" id="physicslbl">
                    </span>
                    <label for="physicslbl">heavy physical labor</label>
                </div>
                <div class="single_radio_box">
                    <span class="radiobox">
                        <input class="check" type="checkbox" id="lightphysicslbl">
                    </span>
                    <label for="lightphysicslbl">light physical labor</label>
                </div>
                <div class="single_radio_box">
                    <span class="radiobox">
                        <input class="check" type="checkbox" id="sedentaryjob"/>
                    </span>
                    <label for="sedentaryjob">sedentary jobs</label>
                </div>
            </div>
            <span class="compulsory_para transmandatory" > compulsory *</span>
        </div>
        <div class="register compreg-step_five" style="display:none">
            <div class="sect_head2" >
                <span class="fl">MOVE SMART.</span>
                <span class="fr">Awareness</span>
                <div class="clear"></div>
            </div>
            <div class="welcome_box">
                <p class="text_l" >1. Medical info : </p>
                <p class="text_l" >How do you exercise regularly? <br/> (average of the last 6 months)</p>
                <br/>
                <br/>
                <div class="selectbox">
                    <span>Selected activity : running</span>
                </div>

                <div class="two_radio_box">
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="check" type="checkbox" id="monthlylbl">
                        </span>
                        <label for="monthlylbl">Montly</label>
                    </div>
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="check" type="checkbox" id="weekly">
                        </span>
                        <label for="weekly">Weekly</label>
                    </div>
                </div>

                <div class="field_box">
                    <label for="avgtime">Average time</label>
                    <input type="text" value="60 Min" id="avgtime" />
                    <div class="clear"></div>
                </div>

                <button class="btn1 fr" >add next activity</button>
                <div class="clear"></div>
            </div>
        </div>
        <div class="register compreg-step_six" style="display:none">
            <div class="sect_head2" >
                <span class="fl">MOVE SMART.</span>
                <span class="fr">Awareness</span>
                <div class="clear"></div>
            </div>
            <div class="register">
                <p class="text_l" >1. Medical info : </p>
                <p class="text_l" >GP info</p>
                <br/>
                <input type="text" class="input1" placeholder="name GP"/>
                <input type="text" class="input1" placeholder="street"/>
                <input type="text" class="input1" placeholder="number"/>
                <input type="text" class="input1" placeholder="bus"/>
                <input type="text" class="input1" placeholder="zipcode"/>
                <input type="text" class="input1" placeholder="place"/>
                <input type="text" class="input1" placeholder="country"/>
                <input type="text" class="input1" placeholder="phone"/>
                <input type="text" class="input1" placeholder="email"/>
                <br/>
            </div>
            <span class="compulsory_para transmandatory" > compulsory *</span>
        </div>
        <div class="register  compreg-step_seven" style="display:none">
            <div class="sect_head2" >
                <span class="fl">MOVE SMART.</span>
                <span class="fr">Awareness</span>
                <div class="clear"></div>
            </div>
            <div class="welcome_box">
                <p class="text_l" >1. Medical info : </p>
                <p class="text_l" >Injury / medical problems</p>
                <br/>
                <p class="text_l"  >If you have certain medical problems which we need to be aware (recent injuries, asthma, heart problems, high blood pressure, diabetes, ...) please add them below. If in doubt, it is better to say too much than too little. We advise you to perform a medical examination by a doctor stating any special considerations for your MoveSmart plan can emerge.</p>
                <div class="textarea_box">
                    <textarea placeholder="Type Here" ></textarea>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="register compreg-step_eight" style="display:none">
            <div class="sect_head2" >
                <span class="fl">MOVE SMART.</span>
                <span class="fr">Awareness</span>
                <div class="clear"></div>
            </div>
            <div class="welcome_box">
                <p class="text_l" >1. Medical info : </p>
                <p class="text_l" >Medication</p>
                <br/>
                <p class="text_l" >Do you use medication at this time:</p>
                <div class="two_radio_box">
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="check" type="checkbox" id="yeslbl">
                        </span>
                        <label for="yeslbl">Yes</label>
                    </div>
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="check" type="checkbox" id="nolbl">
                        </span>
                        <label for="nolbl">No</label>
                    </div>
                </div>
                <p class="text_l" >If so, which</p>
                <br/>
                <div class="textarea_box">
                    <textarea placeholder="Type Here" ></textarea>
                </div>
                <br/>
                <div class="clear"></div>
            </div>
        </div>
        <div class="register compreg-step_nine" style="display:none">
            <div class="sect_head2" >
                <span class="fl">MOVE SMART.</span>
                <span class="fr">Awareness</span>
                <div class="clear"></div>
            </div>
            <div class="welcome_box">
                <p class="text_l" >1. Medical info : </p>
                <p class="text_l" >Tests</p>
                <p class="text_l" >Did you ever undergo a physical stress test?</p>
                <div class="two_radio_box">
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="check" type="checkbox" id="yslbl">
                        </span>
                        <label for="yslbl">Yes</label>
                    </div>
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="check" type="checkbox" id="nolabel">
                        </span>
                        <label for="nolabel">No</label>
                    </div>
                </div>
                <p class="text_l" >If so, date of this test:</p>
                <br/>
                <div class="selectbox">
                    <span>select testday : 12/11/2015</span>
                </div>
                <br/>
                <div class="clear"></div>
            </div>
        </div>
        <div class="register  compreg-step_ten" style="display:none">
            <div class="sect_head2" >
                <span class="fl">MOVE SMART.</span>
                <span class="fr">Awareness</span>
                <div class="clear"></div>
            </div>
            <div class="welcome_box">
                <p class="text_l" >1. Medical info : </p>
                <p class="text_l" >Tests</p>
                <p class="text_l" >How do you feel today ?</p>
                <div class="todayfeel_box">
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="check" type="checkbox" id="exclbl">
                        </span>
                        <label for="exclbl">excellent</label>
                    </div>
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="check" type="checkbox" id="goodlbl">
                        </span>
                        <label for="goodlbl">good</label>
                    </div>
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="check" type="checkbox" id="everage">
                        </span>
                        <label for="everage">everage</label>
                    </div>
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="check" type="checkbox" id="poor">
                        </span>
                        <label for="poor">poor</label>
                    </div>
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="check" type="checkbox" id="badlbl">
                        </span>
                        <label for="badlbl">bad</label>
                    </div>
                    <div class="single_radio_box">
                        <span class="radiobox">
                            <input class="check" type="checkbox" id="lightphylabor">
                        </span>
                        <label for="lightphylabor">light physical labor</label>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="register  compreg-step_eleven" style="display:none">
            <div class="sect_head2" >
                <span class="fl">MOVE SMART.</span>
                <span class="fr">Awareness</span>
                <div class="clear"></div>
            </div>
            <div class="welcome_box">
                <p class="text_l" >1. Medical info : </p>
                <p class="text_l" >Medication</p>
                <br/>
                <p class="text_l" >I hereby have read the entered information and declare it for real.</p>
                <br/>

                <div class="selectbox">
                    <span>date of entry: 07/12/2015</span>
                </div>

                <div class="single_radio_box bordernone backgroundnone">
                    <span class="radiobox">
                        <input class="check" type="checkbox" id="declarelbl">
                    </span>
                    <label class="marginleftnone" for="declarelbl">declare for real and read<span class="compulsory_text" >*</span></label>
                </div>

                <p class="text_l" >If so, which</p>
                <div class="textarea_box">
                    <div class="signaturebox">
                    </div>
                    <h4>signature and full name</h4>
                </div>

                <br/>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="fixed_btn_box">
        <button>Save</button><span>or</span>
        <button onclick="saveContinueCurrentStep()">Next >> </button>
    </div>
</section>