<script src="src/controllers/creditflow.js"></script>
<div class="main_panel_header">
    <h5><span class="clscurrentgrouptext">MOVESMART</span>.score</h5>
</div>
<div class="comm_panel_bx" >
    <span class="question_icon">?</span>
    <div class="comm_graph_box" id="resultchart">
        <img src="images/graphimage.png" alt="graphimage" />
    </div>
    <div class="clear"></div>
        <div class="move_graph_left" >
            <div class="comm_coin_box coin_box_fullwidth" >
            <div class="graph_bg_progress" onclick="GoForTestTraining()">
                <img alt="graph_top_bg" src="images/graph_top_bg1.png" class="graph_top_bg">
                <img alt="graph_top_bg" src="images/graph_bottom_bg1.png" class="graph_bottom_bg">
                <div class="graph_center_bg graph_bg_blue "></div>
            </div>
            <input id="creditsinprocess" type="text" placeholder="000" />
            <h4 class="comm_h4" >total credits</h4>
        </div>
    </div>
    <div class="move_graph_right" >
        <div class="comm_coin_box coin_box_fullwidth" >
            <div class="graph_bg_progress" onclick="_movePageTo('shop')">
                <img alt="graph_top_bg" src="images/graph_top_bg.png" class="graph_top_bg">
                <img alt="graph_top_bg" src="images/graph_bottom_bg.png" class="graph_bottom_bg">
                <div class="graph_center_bg clsnocurve"></div>
            </div>
            <input id="redeemedcredits" type="text" class="" placeholder="000" />
            <h4 class="comm_h4" >shop</h4>
        </div>
    </div>
    <div class="clear"></div>
</div>