<script src="src/controllers/dashboard.js"></script>
<script src="src/controllers/dashboarddetail.js"></script>

<div class="info-popup">
  <br clear="all">



            <div class="info-content">
                <h1>Score info</h1>
                <p>De cirkels die je ziet geven de door jou behaalde Score weer op het gebied van MOVE, EAT en MIND. Deze is berekend aan de hand van de antwoorden op de vragen uit de check of het bijhouden van een MOVE-, EAT of MIND-dagboek. De Score kan lopen van 0 tot 100. Op basis van alleen de eerste vragenlijst kan deze maximaal 80 zijn. Na het bijhouden van een dagboek kan deze 100 worden.</p>
                <p>
                De kleuren van de cirkels zeggen iets over je leefstijl op de gebieden MOVE, EAT en MIND. Als de cirkel rood scoort, betekent dit niet dat je ongezond bent. Het betekent dat het risico groot is dat je als gevolg van deze leefstijl gezondheidsklachten zult oplopen. Een oranje score betekent dat er een risico aanwezig is, maar minder groot, en dat deze relatief eenvoudig is aan te passen. Een groene score betekent dat je huidige leefstijl goed is en dat het belangrijk is dit vol te houden.
                </p>
                <p>
                De credits die je gespaard hebt zijn een beloning voor de acties die je uitgevoerd hebt. Dit kan het invullen van een vragenlijst zijn, maar ook het deelnemen aan een vervolgprogramma. Naarmate je meer acties onderneemt en hier ook beter op scoort krijg je meer credits. Na een consult bij een coach kunnen de credits die je ‘in the cloud’ hebt gespaard worden verzilverd en krijg je ze ‘in the pocket’. Deze kun je inwisselen in de winkel.<br>
                Kijk hiervoor bij Credits.
                </p>
                <div class="footer-info">
                <img src="images/bottom-info.png"></div>

            </div>

</div>
<div class="deshboardslider">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="main_panel_header">
                <h5 id="dashboard_header"><span class="clscurrentgrouptext1">Vitality </span>score</h5><!--clscurrentgrouptext-->
            </div>
            <div class="comm_panel_bx" >
                <!-- <span class="question_icon">?</span> -->
                <!--<a href="javascript:_movePageTo('dashboard-info')" class="question_icon">?</a>-->
                <!--<a href="javascript:void(0)" class="question_icon" onclick="openResultSlidePage()">?</a>-->
				<img  class="question_icon"  src="images/question-mark.png" />
				<!--Social sharing---------------------------------------->
                <div class="socialShare">
                    <img src="images/facebookshare.png" height="25px" width="25px">
                    <!--button id="shareuserscore" class="transshare" onclick="shareScore()" transshare>Share</button-->
                    <button id="shareuserscore" class="transshare" onclick="sharePhoto()" transshare>Share</button>
                    <!--a href="#" id="shareuserscore" class="" onclick="shareScore()">Share</a-->
                    <input type="hidden" value="" id="hiddenScore"-->
                </div> 
                <input type="hidden" name="movevalue" value="" id="move_value">
                    <input type="hidden" name="eatvalue" value="" id="eat_value">
                    <input type="hidden" name="mindvalue" value="" id="mind_value">
                    <input type="hidden" name="totalvalue" value="" id="total_value">
                    <input type="hidden" name="credittotalvalue" value="" id="credit_value">
                <!--Social sharing------end---------------------------------->

                <div id="resultchart" class="comm_graph_box">
                    <img src="images/graphimage.png" alt="graphimage" />
                </div>
                <!--< div class="comm_coin_box" onclick="_movePageTo('dashboard-info')"><!-- onclick="openResultPage()">-->
                <div class="comm_coin_box" onclick="openResultSlidePage()"><!-- onclick="openResultPage()">-->
                    <!-- <img src="images/coin_bg.png" alt="coin_bg" />-->
                   <!--  <div class="graph_bg_progress">
                        <img alt="graph_top_bg" src="images/graph_top_bg1.png" class="graph_top_bg">
                        <img alt="graph_top_bg" src="images/graph_bottom_bg1.png" class="graph_bottom_bg">
                        <div class="graph_center_bg graph_bg_blue  clscurveinc"></div>
                    </div> -->
					<!--
                    <h4 class="comm_h4 tanstotalcredits" >Credits</h4>
                    <input id="total_credits" type="text" class="" placeholder="000" readonly="readonly"/>
					-->
				<div class="scores-text">
					<h4 class="comm_h4 tanstotalcredits" >Credits</h4><div  class="container"><input id="total_credits" type="text" class="" placeholder="000" readonly="readonly"/>
                   
                    </div>
				</div>
				 
				<style>
				.comm_coin_box{
				width:70% !important;
				}
				.comm_coin_box input, .current_credit { padding:0px;margin: 0px 0px; }
				.scores-text {
					width: 100%;
					}
				.scores-text .container {

						border: 0px;

						padding-top: 0px;
					}
				</style>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-index="1">
            <div class="newwelcome_head_bx">
				<h4 class="newwel_h4" >MOVE Score</h4>
                <div class="newwel_left creditchart" id="curactcreditchart_move">
                    <img src="images/graphnew.png" alt="graphnew" />
                </div>
               <!-- <div class="newwel_right" >
                    <span onclick="showSuccessQuickWinText('q',1)"><label class="group1qwtext limitwrap">Quick win : Exercise</label><!--<img src="images/loading.gif" width="10px"/>--
                        <a href="javascript:void(0)" class="question_icon" >?</a>
                    </span>
                    <span  onclick="showSuccessQuickWinText('s',1)"><label class="group1suctext limitwrap">Succes :Moderate activities</label><!--<img src="images/loading.gif" width="10px"/>--
                        <a href="javascript:void(0)" class="question_icon">?</a>
                    </span>
                </div> --> 
                <div class="clear"></div>
            </div>
          <!--   <div class="newwelcome_bx">
                <div class="clsprefgroup move"></div> -->
				
                <div class="two_btn" style="    margin: 0px 10px;">
				<button id="idfasecompletedbutton_move"  class="white_btn blue_btn curgrpbtn" onclick="openMoveSmart()"  style="float:left;width:48% !important;font-size:15px;" >Start step counter</button> 
				<button class="white_btn blue_btn transgetcoach findcoachshow" onclick="GoForTestAppointment()" style="float:right;width:48% !important;font-size:15px;display:none;">Get a coach</button>
				<button class="white_btn blue_btn coachinfoshow" onclick="gotoCoachProfiledash()" style="float:right;width:48% !important;font-size:15px;display:none;">Coach Info</button>
					<!--
                    <button id="idfasecompletedbutton_move" class="circle_blue_btn fl curgrpbtn" onclick="openMoveSmart()">Start <br/> step <br/> counter</button>
                    <button class="circle_blue_btn fr transgetcoach" onclick="GoForTestAppointment()">Get <br/> a coach</button>
					-->
                    <div class="clear"></div>
                </div>
            <!-- </div> -->
        </div>
        <div class="swiper-slide" data-slide-index="1">
            <div class="newwelcome_head_bx">
				<h4 class="newwel_h4" >EAT Score</h4>
                <div class="newwel_left creditchart" id="curactcreditchart_eat">
                    <img src="images/graphnew.png" alt="graphnew" />
                </div>
               <!--  <div class="newwel_right">
                    <span onclick="showSuccessQuickWinText('q',2)"><label class="group2qwtext limitwrap">Quick win : Exercise</label><!--<img src="images/loading.gif" width="10px"/>--
                    <a href="javascript:void(0)" class="question_icon">?</a></span>
                    <span onclick="showSuccessQuickWinText('s',2)"><label class="group2suctext limitwrap">Succes : Moderate activities </label><!--<img src="images/loading.gif"  width="10px"/>--
                    <a href="javascript:void(0)" class="question_icon">?</a></span>
                </div> -->
                <div class="clear"></div>
            </div>
            <!-- <div class="newwelcome_bx">
                <div class="clsprefgroup eat"></div> -->
                <div class="two_btn" style="    margin: 0px 10px;">
				<!--
                    <button id="idfasecompletedbutton_eat" class="circle_blue_btn fl curgrpbtn" onclick="openEatfresh()">Start Diary</button>
                    <button class="circle_blue_btn fr transgetcoach" onclick="GoForTestAppointment()">Get <br/> a coach</button>
					-->
					<button id="idfasecompletedbutton_eat"  class="white_btn blue_btn curgrpbtn" onclick="openEatfresh()"  style="float:left;width:48% !important;font-size:15px;" >Start Diary</button> 
					<button class="white_btn blue_btn transgetcoach findcoachshow" onclick="GoForTestAppointment()" style="float:right;width:48% !important;font-size:15px;display:none;">Get a coach</button>
					<button class="white_btn blue_btn coachinfoshow" onclick="gotoCoachProfiledash()" style="float:right;width:48% !important;font-size:15px;display:none;">Coach Info</button>
                    <div class="clear"></div>
                </div>
           <!--  </div> -->
        </div>
        <div class="swiper-slide" data-slide-index="1">
            <div class="newwelcome_head_bx">
				<h4 class="newwel_h4" >MIND Score</h4>
                <div class="newwel_left creditchart" id="curactcreditchart_mind">
                    <img src="images/graphnew.png" alt="graphnew" />
                </div>
                <!-- <div class="newwel_right">
                    <span  onclick="showSuccessQuickWinText('q',3)"><label class="group3qwtext limitwrap">Quick win : Exercise</label><!--<img src="images/loading.gif" width="10px"/>--<a href="javascript:void(0)" class="question_icon">?</a></span>
                    <span  onclick="showSuccessQuickWinText('s',3)"><label class="group3suctext limitwrap">Succes :  Moderate activities</label><!--<img src="images/loading.gif" width="10px"/>--<a href="javascript:void(0)" class="question_icon">?</a></span>
                </div> -->
                <div class="clear"></div>
            </div>
           <!--  <div class="newwelcome_bx">
                <div class="clsprefgroup mind"></div> -->
                <div class="two_btn" style="    margin: 0px 10px;">
                    <!--
					<button id="idfasecompletedbutton_mind" class="circle_blue_btn fl curgrpbtn" onclick="openMindswitch()">Start <br/>Activity</button>
                    <button class="circle_blue_btn fr transgetcoach" onclick="GoForTestAppointment()">Get <br/> a coach</button>
					-->
					<button id="idfasecompletedbutton_mind"  class="white_btn blue_btn curgrpbtn" onclick="openMindswitch()"  style="float:left;width:48% !important;font-size:15px;" >Start Diary</button> 
					<button class="white_btn blue_btn transgetcoach findcoachshow" onclick="GoForTestAppointment()" style="float:right;width:48% !important;font-size:15px;display:none;">Get a coach</button>
					<button class="white_btn blue_btn coachinfoshow" onclick="gotoCoachProfiledash()" style="float:right;width:48% !important;font-size:15px;display:none;">Coach Info</button>
                    <div class="clear"></div>
                </div>
            <!-- </div> -->
        </div>
        <!--
        <div class="swiper-slide" data-slide-index="2">
            <div class="welcome_ctn_bx dash_ctn_bx">
                <div class="move_graph_left" >
                    <h5 class="comm_h4" ><span class="clscurrentgrouptext1">MOVESMART.</span>credit</h5>
                </div>
                <div class="move_graph_right" >
                    <div class="comm_coin_box min_coin" >
                        <!-- <img src="images/coin_bg.png" alt="coin_bg" /> -- >
                        <div class="graph_bg_progress">
                            <img alt="graph_top_bg" src="images/graph_top_bg1.png" class="graph_top_bg">
                            <img alt="graph_top_bg" src="images/graph_bottom_bg1.png" class="graph_bottom_bg">
                            <div class="graph_center_bg graph_bg_blue"></div>
                        </div>
                        <input type="text" class="current_credit" placeholder="000" />
                        <!-- <h4 class="comm_h4" >total credits</h4> -- >
                    </div>
                </div>
                <div class="clear"></div>
                <p class="comm_para" >The credits can be achieved in different ways.</p>
                <div class="coinbox3" >
                    <div class="comm_coin_box" >
                        <h4 class="comm_h4" >MOVE</h4>
                        <!-- <div class="graph_bg_color" >
                            <img src="images/graphbg1.png" alt="graphbg1" />
                        </div> -->
                        <!-- <span class="coin_label" >MOVE</span> -- >
                        <div class="graph_bg_progress">
                            <img alt="graph_top_bg graph_hight_1" src="images/graph_top_bg1.png" class="graph_top_bg">
                            <img alt="graph_top_bg graph_hight_1" src="images/graph_bottom_bg1.png" class="graph_bottom_bg">
                            <div class="graph_center_bg graph_bg_blue"></div>
                        </div>
                        <input type="text" class="movecredit credit_1" placeholder="000" />
                    </div>
                    <div class="comm_coin_box" >
                        <h4 class="comm_h4" >EAT</h4>
                        <!-- <div class="graph_bg_color" >
                            <img src="images/graphbg2.png" alt="graphbg2" />
                        </div> -->
                        <!-- <span class="coin_label" >EAT</span> -- >
                        <div class="graph_bg_progress">
                            <img alt="graph_top_bg graph_hight_2" src="images/graph_top_bg1.png" class="graph_top_bg">
                            <img alt="graph_top_bg graph_hight_2" src="images/graph_bottom_bg1.png" class="graph_bottom_bg">
                            <div class="graph_center_bg graph_bg_gray"></div>
                        </div>
                        <input type="text" class="eatcredit credit_2" placeholder="000" />
                    </div>
                    <div class="comm_coin_box" >
                        <h4 class="comm_h4" >MIND</h4>
                        <!-- <div class="graph_bg_color" >
                            <img src="images/graphbg3.png" alt="graphbg3" />
                        </div> -->
                        <!-- <span class="coin_label" >MIND</span> -- >
                        <div class="graph_bg_progress">
                            <img alt="graph_top_bg graph_hight_3" src="images/graph_top_bg1.png" class="graph_top_bg">
                            <img alt="graph_top_bg graph_hight_3" src="images/graph_bottom_bg1.png" class="graph_bottom_bg">
                            <div class="graph_center_bg graph_bg_green"></div>
                        </div>
                        <input type="text" class="mindcredit credit_3" placeholder="000" />
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-index="3">
            <div class="welcome_ctn_bx dash_ctn_bx">
                <h5 class="comm_h4" ><span class="clscurrentgrouptext1">MOVESMART.</span>credit</h5>
                <div class="move_graph_left" >
                    <div class="comm_coin_box coin_box_fullwidth" >
                        <!-- <img class="width_fullimage" src="images/coin_bg.png" alt="coin_bg" /> -- >
                        <div class="graph_bg_progress">
                            <img alt="graph_top_bg" src="images/graph_top_bg1.png" class="graph_top_bg">
                            <img alt="graph_top_bg" src="images/graph_bottom_bg1.png" class="graph_bottom_bg">
                            <div class="graph_center_bg graph_bg_blue"></div>
                        </div>
                        <input type="text" class="credit_inprocess" placeholder="000" value="0"/>
                        <h4 class="comm_h4" >In the cloud</h4>
                    </div>
                </div>

                <div class="move_graph_right" >
                    <div class="comm_coin_box coin_box_fullwidth" >
                        <!-- <img class="width_fullimage" src="images/coin_bg1.png" alt="coin_bg" /> -- >
                        <div class="graph_bg_progress">
                            <img alt="graph_top_bg" src="images/graph_top_bg.png" class="graph_top_bg">
                            <img alt="graph_top_bg" src="images/graph_bottom_bg.png" class="graph_bottom_bg">
                            <div class="graph_center_bg clsnocurve"></div>
                        </div>
                        <input type="text" class="credit_inpocket" placeholder="000" value="0"/>
                        <h4 class="comm_h4" >In the pocket</h4>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="coinbox3" >
                    <div class="comm_coin_box" >
                        <span class="coin_label" >MOVE</span>
                        <input type="text" class="credit_1" placeholder="000" />
                    </div>
                    <div class="comm_coin_box" >
                        <span class="coin_label" >EAT</span>
                        <input type="text" class="credit_2" placeholder="000" />
                    </div>
                    <div class="comm_coin_box" >
                        <span class="coin_label" >MIND</span>
                        <input type="text" class="credit_3" placeholder="000" />
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <div class="swiper-pagination swiper_blu_btns"></div>
    <!--<div class="swiper-button-next slider_left_arrow"  ></div>
    <div class="swiper-button-prev slider_right_arrow" ></div>-->
</div>	
<!--<span class="slider_right_arrow" onclick="openResultPage()">></span>-->
<!--<span class="slider_right_arrow" onclick="openResultSlidePage()">></span>-->


<div class="quic_popupbox_bg" ></div>
<div class="quic_popupbox_inner">
    <p id="resulttext" class="comm_para">Content Goes Here</p>
    <span class="close_btn" onclick="quicClosedBtn()" >X</span>
</div>