<script src="src/controllers/dashboard.js"></script>
<script src="src/controllers/dashboarddetail.js"></script>
<script src="src/controllers/dashboardcredit.js"></script>
<div class="deshboardslider">
    <div class="swiper-wrapper">

        <div class="swiper-slide" data-slide-index="3">
            <div class="dash_ctn_bx">
                <!-- <h5 class="comm_h4" ><span class="clscurrentgrouptext1">MOVESMART.</span>credit</h5> -->
				<div class="main_panel_header">
					<!--<h5 id="dashboard_header"><span class="clscurrentgrouptext1">MOVESMART.</span>credit</h5>--><!--clscurrentgrouptext-->
					<h5 id="dashboard_header"><span class="clscurrentgrouptext1 transyourcredit">YOUR CREDITS</h5>
				</div>
				<br>
				<!--
                <div class="move_graph_left" >
                    <div class="comm_coin_box coin_box_fullwidth" >
                       
						<div class="new_credit_coinbox cloud_coin">
							<div class="new_credit_coin coin_left move_credit" >
								<span></span>
								<span></span>
								
							</div>
							<div class="new_credit_coin coin_center eat_credit" >
							<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
							<div class="new_credit_coin coin_right mind_credit" >
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
						</div>
								
                        <input type="text" readonly class="credit_inprocess" placeholder="000" value="0" readonly />
                        <h4 class="comm_h4 transcloud" >In the cloud</h4>
                    </div>
                </div>

                <div class="move_graph_right" >
                    <div class="comm_coin_box coin_box_fullwidth" >
                        
                        <div class="graph_bg_progress">
                            <img alt="graph_top_bg" src="images/graph_top_bg.png" class="graph_top_bg">
                            <img alt="graph_top_bg" src="images/graph_bottom_bg.png" class="graph_bottom_bg">
                            <div class="graph_center_bg clsnocurve"></div>
                        </div>
                        <input type="text" class="credit_inpocket" placeholder="000" value="0"readonly />
                        <h4 class="comm_h4 transpocket" >In the pocket</h4>
                    </div>
                </div>
                -->
				   <div class="credit-wrap" style="padding-top:0px;">
               
                
                <div class="credits-counter-top">
                    <div class="cloud-credits">
                        <h3 class="credits"><input type="text" style="    border: 0px;    width: 50%;" readonly class="credit_inprocess" placeholder="000" value="0" readonly /></h3>
                        <p align="center" style="text-align:center !important;">in the cloud</p>
                    </div>
                    <div class="pocket-credits">
                        <h3 class="credits "><input type="text" style="    border: 0px;    width: 50%;" class="credit_inpocket" placeholder="000" value="0"readonly /></h3>
                        <p align="center" style="text-align:center !important;">in the pocket</p>
                    </div>
                </div>
                <div class="clear"></div>
                <br><br>
                <h3 align="center" class="transcreditachieve">The credits can be achieved <br>in different ways</h3>
                
                <div class="coin-counter-top">
                    <div class="coin-stack">
					<!--<img src="images/coin-unit.png">-->
					<div class="new_credit_coin coin_position_fix move_credit" >
								<span></span>
								<span></span>
							</div>
					<h3 class="credits credith3_1">4</h3>MOVE</div>
                    <div class="coin-stack">
					<div class="new_credit_coin coin_position_fix eat_credit" >
							<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
					<h3 class="credits credith3_2">485</h3>EAT</div>
                    <div class="coin-stack">
					
					<div class="new_credit_coin coin_position_fix mind_credit" >
								<span></span>
								<span></span>
								<span></span>
								<span></span>
								<span></span>
							</div>
					<h3 class="credits credith3_3">186</h3>MIND</div>
                </div>
                
                <!--button class="white_btn blue_btn transtoshop" onclick="_movePageTo('shop')"  style="float:left;width:49% !important" >Shop</button--> 
                <!--button class="white_btn blue_btn transtoshop" onclick="movetoActiveshops()"  style="float:left;width:49% !important" >Shop</button--> 
                <button class="white_btn blue_btn transvouchers" onclick="GoToVouchers()"  style="float:left;width:49% !important" >Vouchers</button> 
				<button class="white_btn blue_btn transforconsult" onclick="GoForTestAppointment()" style="float:right;width:49% !important" >Consult</button>
            </div>
			<style>
			.dash_ctn_bx {margin: 0 0px !important; }
			.coin_position_fix{
				margin: 0px auto;
				position:inherit !important;
			}
			</style>
			<!--
                <div class="clear"></div>
				</br>
				</br>
				</br>
				<div class="two_btn">
                    <button class="circle_blue_btn fl transtoshop" onclick="_movePageTo('shop')" >To the Shop</button>
                    <button class="circle_blue_btn fr transforconsult" onclick="GoForTestAppointment()">Get a Consult </button>
                    <div class="clear"></div>
                </div>
			-->
               <!--  <div class="coinbox3" >
                    <div class="comm_coin_box" >
                        <span class="coin_label" >MOVE</span>
                        <input type="text" class="credit_1" placeholder="000" />
                    </div>
                    <div class="comm_coin_box" >
                        <span class="coin_label" >EAT</span>
                        <input type="text" class="credit_2" placeholder="000" />
                    </div>
                    <div class="comm_coin_box" >
                        <span class="coin_label" >MIND</span>
                        <input type="text" class="credit_3" placeholder="000" />
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!--<div class="swiper-pagination"></div>-->
</div>