<script src="src/controllers/dashboard.js"></script>
<div class="main_panel_header">
    <h5 class="transinfo">info</h5>
</div>
<div class="pnlinfocurosel ">
    <!--Pdf - Page :20-->
    <div class="swiper-wrapper">
        <div class="swiper-slide" >
            <!--<div class="welcome_ctn_bx info_graph_box">
                <h5 class="comm_h4 txt_cntr" ><span class="">MOVESMART</span>.index</h5>
                <div id="resultchart_thumbs" class="move_graph_right" >
                    <img src="images/graphimage.png" alt="graphimage" />
                </div>
                <div class="move_graph_left" >
                    <ul class="move_listtitel_bx" >
                        <li><label class="color_bx blue_color" ></label>MOVESMART.</li>
                        <li><label class="color_bx grey_color" ></label>EATFRESH!</li>
                        <li><label class="color_bx green_color" ></label>MINDSWITCH?</li>
                    </ul>
                </div>
            </div>-->
            <div class="newwelcome_head_bx">
                <div class="newwel_left">
                    <img src="images/graphnew.png" alt="graphnew" />
                </div>
                <div class="newwel_right">
                    <span>Quick win : Exercise</span>
                    <span>Succes : Moderate activities</span>
                </div>
                <div class="clear"></div>
            </div>
            <div class="newwelcome_bx">
                <div class="clsprefgroup">
                    <!--<h4 class="comm_h4" >MOVESMART.</h4>
                    <div class="newwelcomebx_inner ">
                        <p class="comm_para" >Your index shows your current activity level.
                        Set a goal and try to reach it!
                        Changing your habits.</p>
                        <p class="comm_para" >Changing your habits is hard for many people.
                        A coach helps you make changes which last.
                        Be active.</p>
                        <p class="comm_para" >The first step to an active life is to take a closer
                        look at the way you move.</p>
                    </div>
                    <div class="two_btn">
                        <button class="circle_blue_btn fl" onclick="">Start <br/> step <br/> counter</button>
                        <button class="circle_blue_btn fr" onclick="">Get <br/> a coach</button>
                        <div class="clear"></div>
                    </div>-->
                </div>
            </div>
        </div>
        <!--Pdf Page:21-->
        <div class="swiper-slide" >
            <div class="welcome_ctn_bx">
                <div class="move_graph_left" >
                    <h5 class="comm_h4" ><span class="clscurrentgrouptext1">MOVESMART.</span>credit</h5>
                </div>
                <div class="move_graph_right" >
                    <div class="comm_coin_box min_coin" >
                        <!-- <img src="images/coin_bg.png" alt="coin_bg" /> -->
                        <div class="graph_bg_progress">
                            <img alt="graph_top_bg" src="images/graph_top_bg1.png" class="graph_top_bg">
                            <img alt="graph_top_bg" src="images/graph_bottom_bg1.png" class="graph_bottom_bg">
                            <div class="graph_center_bg graph_bg_blue"></div>
                        </div>
                        <input type="text" class="current_credit" placeholder="000" />
                        <!-- <h4 class="comm_h4" >total credits</h4> -->
                    </div>
                </div>
                <div class="clear"></div>
                <p class="comm_para" >The credits can be achieved in different ways.</p>
                <div class="coinbox3" >
                    <div class="comm_coin_box" >
                        <h4 class="comm_h4" >MOVE</h4>
                        <!-- <div class="graph_bg_color" >
                            <img src="images/graphbg1.png" alt="graphbg1" />
                        </div> -->
                        <!-- <span class="coin_label" >MOVE</span> -->
                        <div class="graph_bg_progress">
                            <img alt="graph_top_bg graph_hight_1" src="images/graph_top_bg1.png" class="graph_top_bg">
                            <img alt="graph_top_bg graph_hight_1" src="images/graph_bottom_bg1.png" class="graph_bottom_bg">
                            <div class="graph_center_bg graph_bg_blue"></div>
                        </div>
                        <input type="text" class="movecredit credit_1" placeholder="000" />
                    </div>
                    <div class="comm_coin_box" >
                        <h4 class="comm_h4" >EAT</h4>
                        <!-- <div class="graph_bg_color" >
                            <img src="images/graphbg2.png" alt="graphbg2" />
                        </div> -->
                        <!-- <span class="coin_label" >EAT</span> -->
                        <div class="graph_bg_progress">
                            <img alt="graph_top_bg graph_hight_2" src="images/graph_top_bg1.png" class="graph_top_bg">
                            <img alt="graph_top_bg graph_hight_2" src="images/graph_bottom_bg1.png" class="graph_bottom_bg">
                            <div class="graph_center_bg graph_bg_gray"></div>
                        </div>
                        <input type="text" class="eatcredit credit_2" placeholder="000" />
                    </div>
                    <div class="comm_coin_box" >
                        <h4 class="comm_h4" >MIND</h4>
                        <!-- <div class="graph_bg_color" >
                            <img src="images/graphbg3.png" alt="graphbg3" />
                        </div> -->
                        <!-- <span class="coin_label" >MIND</span> -->
                        <div class="graph_bg_progress">
                            <img alt="graph_top_bg graph_hight_3" src="images/graph_top_bg1.png" class="graph_top_bg">
                            <img alt="graph_top_bg graph_hight_3" src="images/graph_bottom_bg1.png" class="graph_bottom_bg">
                            <div class="graph_center_bg graph_bg_green"></div>
                        </div>
                        <input type="text" class="mindcredit credit_3" placeholder="000" />
                    </div>
                </div>
            </div>
        </div>
        <!--PDF Page:22-->
        <div class="swiper-slide" >
            <div class="welcome_ctn_bx">
                <h5 class="comm_h4" ><span class="clscurrentgrouptext1">MOVESMART.</span>credit</h5>
                <div class="move_graph_left" >
                    <div class="comm_coin_box coin_box_fullwidth" >
                        <!-- <img class="width_fullimage" src="images/coin_bg.png" alt="coin_bg" /> -->
                        <div class="graph_bg_progress">
                            <img alt="graph_top_bg" src="images/graph_top_bg1.png" class="graph_top_bg">
                            <img alt="graph_top_bg" src="images/graph_bottom_bg1.png" class="graph_bottom_bg">
                            <div class="graph_center_bg graph_bg_blue"></div>
                        </div>
                        <input type="text" readonly  class="credit_inprocess" placeholder="000" value="0"/>
                        <h4 class="comm_h4" >In the cloud</h4>
                    </div>
                </div>

                <div class="move_graph_right" >
                    <div class="comm_coin_box coin_box_fullwidth" >
                        <!-- <img class="width_fullimage" src="images/coin_bg1.png" alt="coin_bg" /> -->
                        <div class="graph_bg_progress">
                            <img alt="graph_top_bg" src="images/graph_top_bg.png" class="graph_top_bg">
                            <img alt="graph_top_bg" src="images/graph_bottom_bg.png" class="graph_bottom_bg">
                            <div class="graph_center_bg clsnocurve"></div>
                        </div>
                        <input type="text" class="credit_inpocket" placeholder="000" value="0"/>
                        <h4 class="comm_h4" >In the pocket</h4>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="coinbox3" >
                    <div class="comm_coin_box" >
                        <span class="coin_label" >MOVE</span>
                        <input type="text" class="credit_1" placeholder="000" />
                    </div>
                    <div class="comm_coin_box" >
                        <span class="coin_label" >EAT</span>
                        <input type="text" class="credit_2" placeholder="000" />
                    </div>
                    <div class="comm_coin_box" >
                        <span class="coin_label" >MIND</span>
                        <input type="text" class="credit_3" placeholder="000" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <button class="circle_blue_btn goback_btn transback" onclick="goBack()" >Back</button>
</div>