<script src="src/controllers/edit-coachprofile.js"></script>
<style>
/*5-june-2017*/
#changecoach {
    width: 99%;
    text-align: center;
    background: #0095ac!important;
    color: white!important;
    padding-left: 0;
}
</style>
    <div class="register editprofile formfocus_ipentry">
	
	<!-- <div class="new_profile_bg"></div> -->
    <div class="new_profile">
        <div class="user_profileimage">
            <img src="" alt="" id="popupcoachprofile"/>
        </div>
        <!--<span class="camara_icon" onclick="" ></span>-->
        <h4 class="loginusername">Coach Naam</h4>
        
    </div>
	
	
	
	<div class="edit_ctn_two">
		 <div class="input_box" >
            <input type="text" placeholder="firstname" value="Firstnmae" id="coachfirstname" class="input_blue transfirstname" readonly />
                <!-- <span class="comp_text">*</span> -->
        </div>
        <div class="input_box">
            <input type="text" placeholder="lastname" value="lastname" id="coachlastname" class="input_blue translastname" readonly />
            <!-- <span class="comp_text">*</span> -->
        </div>
        <div class="input_box">
            <input type="email" placeholder="email" value="Email" id="coachemail" class="input_blue  transemail" disabled="disabled" readonly />
            <!-- <span class="comp_text">*</span> -->
        </div>
        <div class="input_box ">
            <input type="number" placeholder="phone" value="Phone" id="coachphone" class="input_blue transphone" readonly />
            <!-- <span class="comp_text">*</span> -->
        </div>    
        
        <div class="input_box ">
					<input type="button" value="Select Coach" id="changecoach" class="input_blue changecoachclass" onclick="ChangeCoachForTestAppointmentFromMenu()" style="display:none;"/>
		   
					<!-- <span class="comp_text">*</span> -->
		</div>
        <input type="hidden" id="imgval" value="">
		  <br/>
        <!--SN - Edit / Update Profile With Images-->
        
        <br/>
        
	
	</div>

    </div>
