<script src="src/controllers/edit-profile.js"></script>
    <div class="register editprofile formfocus_ipentry">
	
	<!-- <div class="new_profile_bg"></div> -->
    <div class="new_profile">
        <div class="user_profileimage">
            <img src=""  id="popupuserprofile"/>
        </div>
        <!--<span class="camara_icon" onclick="" ></span>-->
        <h4 class="loginusername">Instellingen</h4>
        
    </div>
	
	<div class="edit_ctn_one" style="display:none">
		<ul>
			<li class="edit_twoshow transprofile" onclick="" >Profile Edit</li>
			<li onclick="GoForTestAppointment()" class="transgofortest">Go For Test</li>
			<li onclick="signout()" class="translogout">Logout</li>
			<li onclick="GoPrivacyPolicy()" class="transplcycond">Terms and Conditions</li>
		</ul>
	</div>
	
	<div class="edit_ctn_two">
		 <div class="input_box compulsory" >
            <input type="text" placeholder="firstname" value="Firstnmae" id="userfirstname" class="input_blue  req-nonempty transfirstname"/>
                <!-- <span class="comp_text">*</span> -->
        </div>
        <div class="input_box compulsory">
            <input type="text" placeholder="name" value="Name" id="userlastname" class="input_blue req-nonempty translastname"/>
            <!-- <span class="comp_text">*</span> -->
        </div>
        <div class="input_box compulsory ">
            <input type="email" placeholder="email" value="Email" id="useremail" class="input_blue req-nonempty transemail" disabled="disabled"/>
            <!-- <span class="comp_text">*</span> -->
        </div>
        <div class="input_box ">
            <input type="number" placeholder="phone" value="Phone" id="userphone" class="input_blue transphone"/>
            <!-- <span class="comp_text">*</span> -->
        </div>    <div class="input_box">
            <label for="usergenderdata" class="input_blue selectchrbox" id="usergenderdata_text" >Male</label>
            <!--select id="usergenderdata" class="input_blue selectdropdown select_opcity" checkemptyonval="-1"-->
            <select id="usergenderdata" class="input_blue selectdropdown select_opcity" checkemptyonval="-1" name="gender_details">
               <option value="-1" selected class="transtextselgender">Select Gender</option>
                <option value="0"  class="transtextmale">Male</option>
                <option value="1" class="transtextfemale">Female</option>
            </select>
            <!-- <input type="text" class="blu_input" placeholder="Male/Female" value="Male/Female" id="usergender"/> -->
            <!-- <span class="comp_text">*</span> -->
        </div>
        <div class="input_box compulsory" style="display:none;">
            <label for="language" class="input_blue ipfilled selectchrbox" id="language_text" >english</label>
            <select id="language" name="languagename" class="input_blue selectdropdown ipfilled req-nonempty select_opcity">
            </select>
            <!-- <span class="comp_text">*</span> -->
        </div>
        <div class="questions_list" style="display:none;">
            <div class="input_box ">
                <input type="text" placeholder="What's your favorite pet ?" value="What's your favorite pet?" class="input_blue"/>
                <!-- <span class="comp_text">*</span> -->
            </div>
            <div class="input_box">
                <input type="text" class="input_blue" placeholder="What's your favorite colour ?" value="What's your favorite colour ?"/>
                <!-- <span class="comp_text">*</span> -->
            </div>
            <div class="input_box">
                <input type="text" class="input_blue" placeholder="Name family member ?" value="Name family member ?"/>
                <!-- <span class="comp_text">*</span> -->
            </div>
        </div>
        <input type="hidden" id="imgval" value="">
		  <br/>
        <!--SN - Edit / Update Profile With Images-->
        <form class="getpicture " id="profilepicform" enctype="multipart/form-data">
            <div class="profileimages"    style="background-image: url(images/no-photo.png); background-size: 100%;" >
                <input type="file" id = "profilepic"  name ="profilepic"  style="display:none;width:80px;height:80px;"/>
                <img alt="" src="" id="userprofile">
                    <span class="getpic transgetpicture" style="color:#0095ac;">Get picture</span>
                    </div>
            <div style="margin-top:40px;" class="choosephoto_popup clspopupscreen">
                <div class="choosephotocnt">
                    <h2  class="capturephotoopt" style="background:#bbb" selectopt="0">
                        <span class="galleryicon" ></span>
                        <label class="transgallery">Gallery</label>
                        <!--<input type="file" id="prodimgfile" name="prodimgfile"/>-->
                    </h2>
                    <h2 id="idcapturephoto" style="background:#bbb"  class="capturephotoopt" selectopt="1">
                        <span class="photoicon" ></span>
                         <label class="transcamera">Camera</label>
                    </h2>
                    <span class="close_btn" onclick="" >X</span>
                </div>
            </div>
            <span class="hidePg"></span>
        </form>
        <br/>
        <div style="display:none">
        <input type="text" class="input1 input2" placeholder="Extra Parameters" value="Extra Parameters" />
        <input type="text" class="input1 input2" placeholder="Login email" value="Email" id="loginemail"/>
        <input type="text" class="input1 input2" placeholder="Password" value="Password" />
        <div class="two_radio_box">
            <div class="single_radio_box">
                <span class="radiobox" id="isactive">
                    <input type="checkbox" placeholder="Password">
                </span>
                <label>Active</label>
            </div>
            <div class="single_radio_box">
                <span class="radiobox" id="isnotactive">
                    <input type="checkbox" placeholder="Password">
                </span>
                <label>Not Active</label>
            </div>
        </div>
        <div class="captcha_box recapchabox">
            <!--<span><img src="images/captcha.png" value="" alt="captcha"/></span>-->
            <input type="text" placeholder="type here what you see" value="type here what you see" />
            <label class="compulsory_icon" >*</label>
        </div>
        </div>
        <button id="saveProfieldata" class="white_btn blue_btn transsave" placeholder="" value="Save" onclick="saveClientProfile(this)"></button>
       <!--  <div class="edit_btn">
        <button class="white_btn transgofortest logout_btn" onclick="GoForTestAppointment()" >Go for test</button>
        <button class="white_btn reqactivetrain logout_btn transgofortraining" onclick="GoForTestTraining()">Go for training</button>
        <button class="white_btn  logout_btn transpolicy" onclick="GoPrivacyPolicy()" >Privacy policy</button>
        <button class="white_btn translogout logout_btn" onclick="signout()" >Logout</button>
        </div> -->
        <span class="compulsory_ftr transmandatory" > compulsory *</span>
	
	</div>

    </div>
