<div class="main_panel_header padding_bottom_none">
    <h5 class="padd_12" >shop</h5>
    <span class="add_cart_icon" ></span>
    <span class="add_cart_count" >33</span>
</div>
<div class="blue_border_box" >
    <p class="comm_para" >Welcome to our healthshop. Spend your earned credits the healthy
way.</p>
</div>

<div class="comm_panel_bx" >
    <!-- <span class="question_icon">?</span>
    <div class="clear"></div> -->
    <div class="comm_coin_box coin_box_fullwidth" >
        <img class="width_fullimage" src="images/coin_bg1.png" alt="coin_bg" />
        <input type="text" class="" placeholder="000" />
    </div>
    <div class="clear"></div>
</div>
<div class="product_box">
    <div class="product_left_box">
        <img src="images/product_1.png" alt="product_1" />
    </div>
    <div class="product_right_box">
        <h6 class="comm_h4" >Polar Bluetooth Smart Heart Rate Monitor</h6>
        <p class="comm_para" >H7 Sz M-XXL </p>
        <p class="comm_para" >Black Chest Strap Sensor !</p>
        <h4 class="comm_h4" >€ 139.99 • credits 7521</h4>
        <span class="add_cart_icon" ></span>
        <span class="question_icon" >?</span>
        <div class="clear" ></div>
    </div>
    <div class="clear" ></div>
</div>