<script src="src/controllers/hrmonitor.js"></script>
<!-- <div class="main_panel_header padding_bottom_none">
    <h5>select your HR-Monitor</h5>
    <!-- <span class="add_cart_icon" ></span>
    <span class="add_cart_count" >33</span> --
</div> -->
<div class="comm_banner_img_box">
     <div class="transparent-stripe"></div>
	<img src="images/home_img1.png" alt="home_img1" />
	<!--<h4>Select your HR-Monitor</h4>-->
	<!--<img class="banner_logo" src="images/movesmartlogo.png" alt="movesmartlogo" />-->
</div>

<div class="product_box" id="slcthrmonitor">
    <div class="product_left_box">
        <img src="images/product_2.png" alt="product_2" />
    </div>
    <div class="product_right_box">
        <!--<h6 class="comm_h4 margin_top10" onclick="goHrmRate()">DFFDD54GDG45FDS4D4484R</h6>
        <!-- <p class="comm_para" >H7 Sz M-XXL </p>
        <p class="comm_para" >Black Chest Strap Sensor !</p>
        <h4 class="comm_h4" >€ 139.99 • credits 7521</h4>
        <span class="add_cart_icon" ></span>
        <span class="question_icon" >?</span> -->
        <div class="clear" ></div>
    </div>
    <div class="clear" ></div>
</div>

<button onclick="ScanHR_BLEDevice()" class="white_btn transagainsearch" >search again</button>