<!-- <script src="src/controllers/testtraining.js"></script> -->
<script src="src/controllers/hrmrate.js"></script>
<style>
.heading_p {
    margin-left: 19px!important;
}
</style>
<br>
<h4 class="week-separator" style="text-align: center"><!-- <span style="float:left">Welcome &nbsp;</span> --><!-- <span class="username" style="float:left"></span> --><span class="week" style="float:right"><strong class = "week_label" >Week 1</strong></span><br clear="all"></h4>
<div class="hr_mra_box" >
        <!-- <label>Your credits</label> Change 5-5-17 -->
		<p class="heading_p"><b>Deze training:</b></p>
    <div class="hr_mra_feild">
        <!-- <label>Your credits</label> Change 5-5-17 -->
		<label>FIT-punten behaald</label>
        <input readonly type="text" id="credit_points"/>

    </div>
    <div class="hr_mra_feild">
        <label>Adviesdoel deze training</label>
        <input readonly type="text" id="credit_daytarget"/>
        <input type="hidden" id="idcurrcreditpoint"/>
    </div>
    <div class="clear"></div>
    <!--<button class="circle_blue_btn" onclick="" >Start <br> Training</button>-->
</div>

<div class="hr_mra_box border_color" >
    <!--<img src="images/new_graph.png" alt="new_graph" />-->
    <div id="idhrchartobj" style="height:130px; width: 100%;"></div>
    <div class="hr_mra_feild">
        <label>Hartslag</label>
        <input readonly type="text" value="0" id="idhearratedata"/>
    </div>
    <div class="hr_mra_feild">
        <label>Tijd</label>
        <input readonly type="text" id="training_time" value="00:00:00"/>
    </div>
    <div class="clear"></div>
</div>


<div class="hr_mra_box" >
        <p class="heading_p"><b>Deze week:</b></p>
    <!-- <div class="hr_mra_feild">
        <label>Behaald deze week</label>
        <input readonly type="text" id="idweekacheivedpoint"/>
    </div> -->
	
    <div class="hr_mra_feild">
        <label>Weekdoel</label>
        <input readonly type="text" id="idpointstoachive"/>
    </div>
	<div class="hr_mra_feild">
        <label>Behaald</label>
        <input readonly type="text" id="idweekacheivedpoint"/>
    </div>
    <div class="clear"></div>
    <!--4-july-2017 <div class="hr_mra_feild">
        <label>Deze training</label>
        <input readonly type="text" id="training_day"/> 
    </div>-->
    <div class="clear"></div>
    <!-- <button class="white_btn blue_btn save_btn"  id="idsavecardiotraining" onclick="SaveCardioTraining(this)">Opslaan</button> -->
	<button class="white_btn blue_btn save_btn"  id="idsavecardiotraining" onclick="SaveCardioTraining(this)">Einde training</button>
</div>


<!-- <div class="panel_cnt_header">
 <img alt="user_image1" class="useicon" src="images/no_image.png" id="userprofile">
 <h5 class="comm_h4">Welcome,<span class="username"></span></h5>
 <div class="clear"></div>
 <label class="week_label" >Week <img src="images/loading.gif" /></label>
 <div class="clear"></div>
 </div> -->

<!-- <div class="result_screen_box" >
 <div class="circle_box_outer">
 <span class="hearth_icon circle_span_cunt" ></span>
 </div>
 <div class="circle_box_outer">
 <span class="circle_span_cunt red_color_text" id="idhearratedata">0</span>
 <p class="comm_para">HRM</p>
 </div>
 <div class="circle_box_outer fr">
 <span id="credit_daytarget" class="circle_span_cunt green_color_text" >55</span>
 <p class="comm_para">TRAINING GOAL</p>
 </div>
 <div class="circle_box_outer fr">
 <input type="hidden" value="" id="idprevcreditpoint"/>
 <input type="hidden" value="" id="idcurrcreditpoint"/>
 <span id="credit_points" class="circle_span_cunt green_color_text">35</span>
 <p class="comm_para">CREDITS</p>
 </div>
 <div class="clear"></div>
 <div class="graph_box_outer">
 <!-- <img src="images/graph_image.png" alt="graph_image" /> --
 <div id="idhrchartobj" style="height:130px; width: 100%;"></div>
 </div>
 <button id="training_time" class="white_btn right_white_btn font_weightbold" >00:18:23</button>
 <div class="clear"></div>
 <div class="circle_box_outer">
 <span class="circle_span_cunt green_color_text" id="idweekacheivedpoint" >96</span>
 <p class="comm_para">ACHIVED</p>
 </div>
 <div class="circle_box_outer">
 <span id="idpointstoachive" class="circle_span_cunt blue_color_text" ></span>
 <p class="comm_para">TO ACHIVE</p>
 </div>
 
 <div class="circle_box_outer">
 <span id="training_day" class="circle_span_cunt black_color_text" >2</span>
 <p class="comm_para">TRAINING</p>
 </div>
 <button class="white_btn right_white_btn only_mar_bottom btnsmall" onclick="SaveCardioTraining(this)">save</button>
 </div> --?