<script src="src/controllers/Intro.js"></script>
 
        <!--Login-welcome-screen        -->
        
        <div class="login-welcome-screen">
            <div class="loginbottom">
                <div class="slider_btn_bx">
                    <button onclick="_movePageTo('register')" id="newuser" class="white_btn transintrouser">I'm new</button>
                    <button id="intrologin" onclick="goIntroLogin()" class="white_btn translogin" >login</button>
					<!-- Comment on Move button on login page 08-05-17 -->
                    <!-- <button class="white_btn transfacebooklogin lfb" id="idbuttonlogin" onclick="fb_login()">Login with facebook</button> -->
                </div>
            </div>
        </div>
        
        <!-- End login page -->
<!--
<style>
.home_slider_inner{height:100% !important;}
.home_ctn_padding {
    padding: 0 25px 0px;
}
</style>
-->
<!--
<div class="slider_btn_bx">
    <button onclick="_movePageTo('register')" id="newuser" class="white_btn transnewuser ">I'm new</button>
    <button id="intrologin" onclick="goIntroLogin()" class="white_btn translogin" >login</button>
</div>
-->