<!-- <script src="src/controllers/Intro.js"></script> -->
<!-- <div class="home_slider_inner">
    <div class="content swiper-wrapper" id="intro_cnt">

    </div>
    <div class="swiper-pagination"></div>
</div> -->
<!-- <div class="slider_btn_bx">
    <button onclick="_movePageTo('register')" class="white_btn transnewuser">I'm new</button>
    <button id="intrologin" onclick="goIntroLogin()" class="white_btn translogin" >login</button>
</div> -->

    <div class="home_slider_inner">
        <div class="home_slider_panel">
            <div class="home_cnt_bx">
                <img src="images/home_img6.png" alt="home_img6" />
            </div>
            <div class="intro_logo">
                <img src="images/intro_logo.png" alt="intro_logo" />
            </div>
        </div>
    </div>