<script src="src/controllers/Intro.js"></script>
<script src="src/controllers/login.js"></script>


<div class="comm_banner_img_box">
	<!--<img src="images/banner/move2.jpg" alt="move2">
	<h4>Login </h4>
	-->
	<!-- <img class="banner_logo" src="images/movesmartlogo.png" alt="movesmartlogo"> -->
	<div class="transparent-stripe">
                
    </div>
	
    <img src="images/banner/move2.jpg" alt="move2">
</div>

<div class="home_cnt_bx">
    <img src="images/home_img4.png" alt="home_img1" />
</div>
<div class="loginform_bx formfocus_ipentry" id="loginform1">
    <div class="loginmessage">
        <span class="errortext" style="color:red;"></span>
    </div>
    <div class="input_box">
        <input type="email" value="" id="loginid" class="input_blue req-nonempty transname" placeholder="Email"  />
    </div>
    <div class="input_box">
        <input type="password" value="" id="loginpswd" class="input_blue req-nonempty transpassword" placeholder="password" />
    </div>
    <!--
    <div class="input_box rememberme_bx">
        <span class="checkouter" onclick="">
            <input type="checkbox" placeholder="Password" value="" id="is_remindme" class="check" style="">
        </span>
                    <label class="rememberme_label transrememberme">remember me</label>
    </div>
    -->
    <div class="input_box">
        <button class="white_btn blue_btn transsubmit" onclick="doUserLogin(this)" id="idbuttonlogin" style="float:left" >login</button>
		<div style="float:right;width:45%;margin-top:10px;">
                    <a href="javascript:void(0)" class="linkforgot forgot_label transforgot" >Forgot password </a>
                    <a href="javascript:void(0)" class="forgot_label transregiter" onclick="_movePageTo('register')">Register</a>
                </div>
    </div>
	
	<div class="clear"></div>
            
            <div class="input_box"  >
			<!-- Add the button on login page 08-05-17 -->
			<button  style="color:#fff;" class="white_btn transfacebooklogin lfb" id="idbuttonlogin" onclick="fb_login_confirm()">Login with facebook</button>
                <!--button class="facebook blue_btn" id="idbuttonlogin" onclick="fb_login()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login with facebook</button-->
            </div>
            
            <div class="bottom-separator"></div>
	<!--
    <div class="input_box">
        <a href="javascript:void(0)" class="linkforgot forgot_label transforgot" onclick="">forgot password</a>
    </div>
	-->
    <!-- Since No Link to Register once logout-->
	<!--
    <div class="input_box">
        <a href="javascript:void(0)" class="forgot_label transregiter" onclick="_movePageTo('register')">register</a>
    </div>
	-->
</div>