<div class="main_panel_header">
    <h5><span class="clscurrentgrouptext">MOVESMART.</span>score</h5>
    </div>

    <div class="comm_panel_bx" >
    <span class="question_icon">?</span>
    <div class="comm_graph_box">
        <img src="images/graphimage.png" alt="graphimage" />
    </div>
    <div class="clear"></div>
    <div class="move_graph_left" >
        <div class="comm_coin_box coin_box_fullwidth" >
            <img class="width_fullimage" src="images/coin_bg.png" alt="coin_bg" />
            <input type="text" class="" placeholder="000" />
            <h4 class="comm_h4 tanstotalcredits" >total credits</h4>
        </div>
    </div>
    <div class="move_graph_right" >
        <div class="comm_coin_box coin_box_fullwidth" >
            <img class="width_fullimage" src="images/coin_bg1.png" alt="coin_bg" />
            <input type="text" class="" placeholder="000" />
            <h4 class="comm_h4 transshop" >shop</h4>
        </div>
    </div>
    <div class="clear"></div>
</div>