<script src="src/controllers/shopping.js"></script>
<div class="main_panel_header">
    <h5><span class="clscurrentgrouptext">MOVESMART.</span>score</h5>
</div>

<div class="welcome_ctn_bx" >
    <!-- <h5 class="comm_h4" >MOVESMART.index</h5> -->
    <p class="comm_para" >Congratulations,<span class="username"></span>, you've done the test.</p>
    <p class="comm_para" >You can use the accumulated credits in the shop.</p>
    <div class="credits_animation_box">
        <img src="images/credit_animation.gif" alt="credit_animation" />
    </div>
    <div class="move_graph_left" >
        <div class="comm_coin_box coin_box_fullwidth" >
            <img class="width_fullimage" src="images/coin_bg.png" alt="coin_bg" />
            <input type="text" class="" placeholder="000" />
            <h4 class="comm_h4" >total credits</h4>
        </div>
    </div>

    <div class="move_graph_right" >
        <div class="comm_coin_box coin_box_fullwidth" >
            <img class="width_fullimage" src="images/coin_bg1.png" alt="coin_bg" />
            <input type="text" class="" placeholder="000" />
            <h4 class="comm_h4" onclick="goHealthShop()">shop</h4>
        </div>
    </div>
    <div class="clear"></div>
</div>
<button class="circle_blue_btn goback_btn transback" onclick="goBack()" >Back</button>