<!-- <script src="src/controllers/testtraining.js"></script> -->
<script src="src/controllers/nohrmonitor.js"></script>
<br>
<h4 class="week-separator" style="text-align: center"><span style="float:left">Welcome &nbsp;</span><span class="username" style="float:left"></span><span class="week" style="float:right"><strong><span class="week_labele">Week1</span></strong></span><br clear="all"></h4>





<div class="hr_mra_box" >
    
    <div class="hr_mra_time_feild">
        
        <input type="tel" id="training_minutes"/>
        <label class="transtimemsg">Enter your training time in minutes </label>
    </div>
    <div class="clear"></div>
    <button class="white_btn blue_btn save_btn"  id="idsavecardiotraining" onclick="SaveNoHrTest(this)">SAVE</button>
</div>


