<script src="src/controllers/appointment.js"></script>
<!-- <div class="main_panel_header">
    <h5><span class="clscurrentgrouptext">MOVESMART</span>.index</h5>
</div>
<div class="panel_cnt_header">
    <div class="useicon">
        <img src="images/usericon.png" alt="usericon" />
    </div>
    <h5>Movesmart Client</h5>
</div> -->

<div class="comm_banner_img_box">
<div class="transparent-stripe">
						
				</div>
	<img src="images/banner/mind5.jpg" alt="mind5" />
	
	<!-- <img class="banner_logo" src="images/movesmartlogo.png" alt="movesmartlogo" /> -->
</div>

<div class="newcommon_box" >
    <p class="comm_para" >Thank you for entering all info we need to initiate your test. Your personal coach will
    guide you thru this test and will select togheter with you your goals and discusse
    your achivements this far.</p>
    <p class="comm_para" >Every 12 weeks you will get a retest and your goals will be adjusted to your personal needs and goals.</P>
</div>
<!-- <button class="circle_blue_btn" >Start <br/> check</button> -->
<span class="light_icon fr mar_bott10 lamp_icon" ></span>
<button class="white_btn blue_btn goback_btn proceed fl" onclick="proceedClient()" style="font-size: 18px !important;    margin-left: 15px;">Proceed</button>	
<div class="clear"></div>
