<script src="src/controllers/creditflow.js"></script>
<div class="main_panel_header">
    <h5><span class="clscurrentgrouptext">MOVESMART</span>.credits</h5>
</div>

<div id="idredeemcredit" class="welcome_ctn_bx">
    <p class="comm_para" >Congratulations, <span id="idusername"><img src="images/loading.gif" /></span>, you've done the test.</p>
    <p class="comm_para" >You can use the accumulated credits in the shop.</p>
    <div class="credits_animation_box">
        <img src="images/credit_animation.gif" alt="Animation Unavailable" />
    </div>
    <div class="move_graph_left" >
        <div class="comm_coin_box coin_box_fullwidth" >
            <div class="graph_bg_progress">
                <img alt="graph_top_bg" src="images/graph_top_bg1.png" class="graph_top_bg">
                <img alt="graph_top_bg" src="images/graph_bottom_bg1.png" class="graph_bottom_bg">
                <div class="graph_center_bg graph_bg_blue" ></div>
            </div>
            <!--<img class="width_fullimage" src="images/coin_bg.png" alt="coin_bg" />-->
            <input type="text" id="credits" class="" placeholder="000" />
            <h4 class="comm_h4" >total credits</h4>
        </div>
    </div>

    <div class="move_graph_right" >
        <div class="comm_coin_box coin_box_fullwidth" >
            <div class="graph_bg_progress">
                <img alt="graph_top_bg" src="images/graph_top_bg.png" class="graph_top_bg">
                <img alt="graph_top_bg" src="images/graph_bottom_bg.png" class="graph_bottom_bg">
                <div class="graph_center_bg clsnocurve"></div>
            </div>
            <!--<img class="width_fullimage" src="images/coin_bg1.png" alt="coin_bg" />-->
            <input type="text" id="redeem" class="" placeholder="000" />
            <h4 class="comm_h4" >shop</h4>
        </div>
    </div>
    <div class="clear"></div>
</div>