<script src="src/controllers/question.js"></script>
<!-- <div class="main_panel_header">
    <h5><span class="clscurrentgrouptext"></span><span class="transcheck">check</span></h5>
</div> -->

<div id="question-forms">
    <img src="images/loading.gif"/>
</div>

<!-- change on 17-05-17 -->
<!-- <div class="swiper-containers">
	<img src="images/loading.gif"/>
</div> -->


<div id="progress_group" class="footer_graph_box progress_group">	
    <label class="ac_text" >Move</label>
    <label>Eat</label>
    <label>Mind</label>
    <label>General</label>
</div>


<div class="info_popupbox_bg" ></div>
<div class="info_popupbox_inner">
	<a href="javascript:void(0)" class="close-info" onclick="infoClosedBtn()"><img src="images/close-info.png"></a>
            <br clear="all">
    <div style="height:90%">
        <div id="idinfotext">

        </div>
    </div>
    <!--<button class="circle_blue_btn goback_btn transback" onclick="goBack()" >Back</button>-->
    <!--<button class="circle_blue_btn goback_btn" onclick="infoClosedBtn()" >Done</button>-->
</div>
