<script src="src/controllers/question_info.js"></script>
<div class="main_panel_header">
    <h5 class="transinfo">info</h5>
</div>
<div id="idinfotext">
    <div class="welcome_ctn_bx">
        <p class="comm_para" >Anxiety disorders</p>
        <p class="comm_para" >Every feels anxious now and then. it's normal emotion.many peeple fell nervous when faced with a prpblem at work before taking a test or making an important decision</p>
        <div class="video_bx">
            <iframe width="100%" height="250" src="http://www.youtube.com/embed/XGSy3_Czz8k"></iframe>
        </div>
    </div>
</div>	
<button class="circle_blue_btn goback_btn transback" onclick="goBack()" >Back</button>