<div class="main_panel_header">
    <h5 class="transinfo">info</h5>
</div>

<div class="welcome_ctn_bx" >
    <div class="welcome_ctn_header" >
        <h4 class="comm_h4" >smileys</h4>
    </div>
    <ul class="smileys_list_bx">
        <li>
            <span><img src="images/smile1.png" alt="smile1" /></span>
            <h4>kan ik heel goed </h4>
        </li>
        <li>
            <span><img src="images/smile2.png" alt="smile2" /></span>
            <h4>kan ik goed</h4>
        </li>
        <li>
            <span><img src="images/smile3.png" alt="smile3" /></span>
            <h4>kan ik redelijk</h4>
        </li>
        <li>
            <span><img src="images/smile4.png" alt="smile4" /></span>
            <h4>Kan ik niet goed</h4>
        </li>
    </ul>
</div>
<button class="circle_blue_btn goback_btn transback" onclick="goBack()" >Back</button>
