<script type="text/javascript" src="src/controllers/login.js"></script>
<script type="text/javascript" src="src/controllers/register.js"></script>

<div class="loginform_bx step_one formfocus_ipentry" >
	<!--
    <div class="input_box facebook_bx">
        <button id="facebook" class="white_btn transfacebook"></button>
    </div>
	-->
	 <!--   redesign for get picture-->
               <form class="getpicture" id="profilepicform" enctype="multipart/form-data">
               			
          			
          			<div style="position:relative;height:124px;width:100%">
          				<!--a href="javascript:void(0)" class="gallery capturephotoopt" selectopt="0"></a-->
          				
          				<div class="new-get-picture">
							<div class="profileimages">
								<input type="file" id="profilepic" name ="profilepic"  style="display:none;"/>
								<img src="" alt="" id="userprofile"/>
								
							</div>
							<style>
							.profileimages{    
								width: 120px !important;
								height: 120px !important;
								}
                            
							</style>
						</div>
          				<a href="javascript:void(0)" class="take-photo capturephotoopt" selectopt="1">
          					
          				</a>
          			</div>
               
               
            
                </form>
				<!-- End -->
     <div class="privacy_bx">
         <span id="termscond" class="checkouter" onclick="">
                    <input type="checkbox"  class="" id="termscondinputlbl">
                </span>
                <a href="javascript:void(0)" onclick="openPrivacyPolicy()" ><label for="termscondinputlbl" class="transacreepolicy" >Ik ga akkoord met de privacy policy</label></a>
    </div>         
    <div class="input_box compulsory">
        <input type="text" value="" id="firstname" class="input_blue req-nonempty applyucfirst transfirstname"
        placeholder="first name" onkeypress=""><!--return checkSpcialChar(event)" />-->
    </div>
    <div class="input_box compulsory ">
        <input type="text" value="" id="name" class="input_blue req-nonempty applyucfirst translastname" placeholder="name" onkeypress=""/><!--return checkSpcialChar(event)" />-->
    </div>
    <div class="input_box compulsory">
        <input type="email" value="" id="email" class="input_blue req-nonempty req-email transemail" placeholder="Email"  />
    </div>
    <div class="input_box compulsory">
        <input type="password" value="" id="rpassword" class="input_blue req-nonempty transpasword" placeholder="password"  />
    </div>
    <div class="input_box compulsory">
        <input type="password" value="" id="cpassword" class="input_blue req-nonempty transrepasword" placeholder="re-password"  />
    </div>
    <div class="input_box compulsory">
        <div class="clsinputfieldouterstyle2 clsinputfieldouterstyle1 clsregdob" style="width:100%;" >
            <!--<label class="clientinfo_label dob_label placeholderlabel transdob" style="background: none !important; ">DOB</label>
           <input type="date" value="" id="regdob" class="input_blue dob_input ipfocus_ph" placeholder="DOB" onempty="" style="padding-left: 10% !important;width: 90% !important;">-->
           <!--<label class="clientinfo_label dob_label placeholderlabel transdob">DOB</label>-->
           <input type="date" value="" id="regdob" class="input_blue dob_input req-nonempty ipfocus_ph transdob " placeholder="DOB" onempty="" onfocus="this.type='date';this.focus();" onblur="if(this.value == '') this.type='text';" style="padding-left:10% !important;">
        </div>
    </div>
	<style>
	.clsinputfieldouterstyle1{
		background: none !important; 
	}
	.label.clientinfo_label.dob_label.transdob{
	background: none !important; 
	}
	</style>
    <!-- <div class="input_box">
        <input type="date" value="" id="regdob" class="input_blue" placeholder="DOB"  />
    </div> -->
    <div class="input_box ">
        <input type="tel" value="" id="phno" class="input_blue transphone" placeholder="phone"/>
    </div>
    <!--div class="input_box compulsory">
        
        <span id="gendertext" class="input_blue selectchrbox transtextmale" >Geslacht</span>
        <label for="gender" style="display:none;"></label>
        <select id="gender" class="input_blue selectdropdown select_opcity req-novalequal" novalequal="-1" checkemptyonval="-1" name="gender_details" err_reporton='gendertext'>
            <option value="-1" selected class="transtextselgender">Seleect gender</option>
            <option value="0" class="transtextmale">male</option>
            <option value="1" class="transtextfemale">female</option>
        </select>
    </div-->
    <div class="input_box compulsory">
        
        <span id="gendertext" class="input_blue selectchrbox" >Geslacht</span>
        <label for="gender" style="display:none;"></label>
        <select id="gender" class="input_blue selectdropdown select_opcity req-nonempty" novalequal="-1" checkemptyonval="-1" name="gender_details" err_reporton='gendertext'>
            <option value="-1" selected class="transtextselgender">Seleect gender</option>
            <option value="0" class="transtextmale">male</option>
            <option value="1" class="transtextfemale">female</option>
        </select>
    </div>
    <div class="input_box compulsory" style="display:none;">
        <!--<input type="text" value="" id="" class="input_blue" placeholder="male/female" />-->
        <span id="language_text" class="input_blue selectchrbox" ></span>
        <label for="language" style="display:none;"></label>
        <select id="language" class="input_blue selectdropdown select_opcity req-nonzero" err_reporton='language_text'>

        </select>
    </div>

    <!--<div class="getpicture">
        get picture
    </div>-->
   <!-- <form class="getpicture" id="profilepicform" enctype="multipart/form-data">
            <div class="profileimages">
                <input type="file" id="profilepic" name ="profilepic"  style="display:none;"/>
                <img src="" alt="" id="userprofile"/>
                <span class="getpic transgetpicture">get <br/> picture</span>
            </div>
    </form>
	-->
    <input type="hidden" id="imgval" value="">
    <input type="hidden" id="logintype" value="1">
    <input type="hidden" id="loginreffieldid" value="">
    <input type="hidden" id="image_url" value="">
	<!--
    <div class="privacy_bx">
        <a href="javascript:void(0)" onclick="openPrivacyPolicy()" class="transplcycond">Privacy policy, terms and conditions</a>
        <div class="clear"></div>
        <span id="termscond" class="checkouter" onclick="">
            <input type="checkbox"  class="" id="termscondinputlbl">
        </span>
        <label for="termscondinputlbl"><p class="transacreepolicy">I wish to subscribe and <br/> agree on the privacy policy</p></label>
    </div>
	-->
	<!--
    <div class="input_box">
        
        <button class="white_btn blue_btn transsave" id="cliregister" onclick="registerMember(this)" >save</button>
    </div>
    <button class="white_btn  logout_btn translogin" onclick="_movePageTo('login');" >login</button>
	-->
	
	 <div class="input_box">
                <!-- <input type="button" class="white_btn" value="save"  /> -->
                <button class="white_btn blue_btn transsave" id="cliregister" onclick="registerMember(this)" >save</button>
      </div>
	  <!--
	 <div class="input_box" style="margin-top:10px !important">
		<button class="facebook blue_btn transsubmit" id="idbuttonlogin">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login with facebook</button>
	</div>
	-->
    <span class="compulsory_ftr transmandatory">compulsory *</span>
</div>
<div class="loginform_bx step_two formfocus_ipentry" style="display:none">
   <!-- <div class="security_hdr facebook_bx">
        <h5 class="tanssecurity">security</h5>
    </div> -->
	<div class="comm_banner_img_box">
        <div class="transparent-stripe">
            
        </div>
		<img src="images/banner/move15.jpg" alt="move15" />
        
		<!--<h4>Security Questions </h4>-->
		<!--<img class="banner_logo" src="images/movesmartlogo.png" alt="movesmartlogo" /> -->
	</div>
    <div class="questions_list questionval"></div>
    <div class="input_box">
        <!--button class="white_btn circle_blue_btn blue_btn sequritybtn transsave" value="save" style="float:left" onclick="saveSequrityAnswers(this)"></button-->
        <button class="white_btn circle_blue_btn blue_btn sequritybtn transsave" value="save" style="float:left" onclick="saveSequrityAnswers(this)" id="reg_save_seq"></button>
    </div>
    <span class="compulsory_ftr transmandatory" style="float:left; margin-top: 18px; margin-left:20px; font-size:14px">compulsory *</span>
</div>
<!--
<div class="choosephoto_popup clspopupscreen">
    <div class="choosephotocnt">
        <h2 class="capturephotoopt" selectopt="0">
            <span class="galleryicon" ></span><label class="transgallery">Gallery</label>
            
        </h2>
        <h2 id="idcapturephoto" class="capturephotoopt" selectopt="1">
            <span class="photoicon" ></span>
            <label class="transcamera">Camera</label>
        </h2>
        <span class="close_btn" onclick="" >X</span>
    </div>
</div>
-->
<span class="hidePg privacy_bg"></span>

<div class="resitboxpop_outer">
   <header>
            <div class="logo" onclick="openHomePage()" >
                <!--<img src="images/movesmartlogo.png" alt="movesmartlogo" />-->
                <img src="images/logo.png" alt="logo" />
            </div>
            <!-- <span class="menuspan menu_icon fr reqlogin" onclick="_movePageTo('edit-profile');return false;"></span> --->
			
			<div class="page-title"><h4><div class="one transpolicy"></div></h4></div>
          
            <div class="clear"></div>
       
    </header>
    <h4 class="privacy_header transplcycond" >Privacy policy, terms and conditions </h4>
    <div class="resitboxpop_inner">
        <h4 class="comm_h4 transpolicy" >Privacy policy</h4>
        <div class="resitbox_content">
            <p class="comm_para terms_condition" >A healthy lifestyle contributes to a healthy and happy life. Living a healthy life just don't prevent a lot of diseases but also helps live an energetic life. Being fit makes you resilient so you can be a better person at home and at work.</p>
        </div>
		
        <button id="idagreeprivacy" class="white_btn blue_btn policy_btn stepokbtn agree_btn fr transagree" onclick="">Agree</button>
        <button id="iddisagreeprivacy" class="white_btn blue_btn policy_btn stepokbtn disagree_btn fl transdisagree" onclick="">Disagree</button>
		
        <div class="clear"></div>
    </div>
   <!-- <button class="white_btn privacy_back transback" onclick="closeTermsPopup()">Done</button>--->
     <footer>
          
            <div class="ftr_bx_one">
                <div class="ftr_log_bx">
                    <img src="images/bottom-info.png" alt="movesmartlogo" />
                </div>
				
            </div>
    </footer>
</div>