<script src="src/controllers/dashboarddetail.js"></script>
<div class="home_cnt_bx">
    <img src="images/home_img3.png" alt="home_img7" />
</div>
<!-- <div class="welcome_comm_inner_bx" >
    <ul id="toptopics" class="improvements_list_bx" >
        <li>
            <span class="light_icon lamp_icon" onclick="" >
                <!-- <label class="question_icon result_movesmart_info"  onclick="">?</label> --
            </span>
            <h4 class="light_label" ><img src="images/loading.gif"/></h4>
        </li>
    </ul>
</div> -->
<div class="comm_panel_bx" >
    <h4 class="comm_h4 txt_cntr" >MINDSWIITCH!</h4>
    <div class="clear"></div>
    <button class="circle_blue_btn" id="idfasecompletedbutton">Start <br/> activity</button>
    <p class="comm_para txt_cntr">
        Great that you want to start with the
        MINDSWITCH?activity. Don't forget your
        goal and enter your steps in the stepsgame!
    </p>
    <!-- Ed 20160509-->
    <!-- <span class=" fixed_lamp light_icon fr showresulttipms" ></span>
    <label class="question_icon  fixed_question_icon "  onclick="">?</label>-->
    <div class="clear"></div>
</div>