<script src="src/controllers/dashboarddetail.js"></script>
<div class="main_panel_header">
    <h5>info</h5>
</div>
<div class="" id="resmoveinfo">
    <div class="welcome_ctn_bx" >
        <p class="comm_para" >You've choosen to MOVESMART. as your goal.</p>
        <p class="comm_para" >Starting the 10.000 stepgame will give you the
        needed amount of movement to start your healthier way of life.
        Keep track of how many steps you make every day and reach your 10.000 steps.
        Try not to sit all the time, move around and improve your mobility.
        The less you sit the better.</P>
        <p class="comm_para" >Good luck with your 14-day stepgame and start now!</P>
    </div>
</div>	
<button class="circle_blue_btn" id="idfasecompletedbutton">Start <br/> Stepgame</button>