<script src="src/controllers/dashboarddetail.js"></script>
<div class="home_cnt_bx">
    <img src="images/home_img5.png" alt="home_img5" />
</div>
<div class="welcome_comm_inner_bx" >
    <ul id="toptopics" class="improvements_list_bx" >
        <li>
            <span class="light_icon lamp_icon" onclick="" ></span>
            <h4 class="light_label" ><img src="images/loading.gif"/></h4>
        </li>
    </ul>
</div>
<button id="idfasecompletedbutton" class="circle_blue_btn transtepgame">Start <br/> Stepgame</button>
<!-- Ed 20160509-->
<!--<span class="question_icon  fixed_question_icon que_question_btn">?</span>
<span class="light_icon fixed_lamp fr showresultmvs" onclick="resultMovesmartTips()" ></span>-->

<span class="que_popupbox_bg" ></span>
<div class="que_popupbox">
    <div class="lamp_popup_header">
    <span class="question_icon ">?</span>
    <span class="lamp_popup_close" onclick="">>></span>
    <div class="clear"></div>
    </div>
    <div class="que_popupbox_cnt">
        <p class="comm_para" >MOVESMART is your personal coach to a
        funnier, healthier, more relaxed and enjoyable
        lifestyle.</p>
        <p class="comm_para" >You have taken your rst big step and we realy
        want to get to know you better, to give you
        the best support to achieve YOUR goals in
        life.</p>
    </div>
</div>