<script src="src/controllers/security.js"></script>
<div class="comm_banner_img_box">
	
	<div class="transparent-stripe">
                    
                </div>
				<img src="images/home_img1.png" alt="home_img1">
	<!--<img class="banner_logo" src="images/movesmartlogo.png" alt="movesmartlogo">-->
</div>
<div class="comm_panel_bx">
    <div class="sec_header1">
		<!--p class=" comm_para txt_cntr transansqus">Please answer the security questions.</p-->
        
		<!-- <a href="#" class="btn1" > Facebook </a>-->
    </div>
	
    <form id="" >

    <div class="questions_list field_in_box"></div>
        <!--<input type="button" class="btn1 savebtn sec_quessave transsave" placeholder="" value="Save" />-->
        <div class="input_box">
            <button type="button" class="white_btn blue_btn sec_quessave" id="sec_quessave" onclick="sendRequest(this)">Checking</button>
        </div>
        <br/>
    </form>
    <!--span class="compulsory_ftr transmandatory" > compulsory *</span-->
</div>
