<script src="src/controllers/shopping.js"></script>

	 <div class="comm_banner_img_box">
                <div class="transparent-stripe">
                    
                </div>
                <img src="images/banner/shop.jpg" alt="move2">
                
            </div>


<!--Shop items-->
                     <div class="text-wrap" style="margin-bottom:70px;">
                			
                			<div class="details-container">
                				<div class="credit-shop"><strong>867</strong> <br>credits</div>
                				<div class="basket-shopt"><strong>2</strong> <br>products</div>
                			</div>
                			<div class="clear"></div>
                			<div class="shop-item-box">
                				<table cellpadding="0" cellspacing="0" with="90%" style="margin:0px auto;">
                					<tr>
                					  <td width="100%" align="center" valign="middle"><img src="images/product_1.png" width="142" height="86"></td></tr>
                					<tr>
                						
                						<td width="100%" align="center">
                							<strong>Polar bluetooth smart heart rate monitor</strong><br>
                							H7-MX-XXL<br>
                							Black chest Strap sensor
                							<div class="price">&euro;139 / credits 7999</div>
                							<a href="#"><img src="images/addtocart.png" height="30">&nbsp;</a><a href="#"><img src="images/infobtn.png" height="30"></a>
                						</td>
                					</tr>
                				</table>
                			</div>
       						<div class="shop-item-box">
                				<table cellpadding="0" cellspacing="0" with="90%" style="margin:0px auto;">
                					<tr>
                					  <td width="100%" align="center" valign="middle"><img src="images/product_1.png" width="142" height="86"></td></tr>
                					<tr>
                						
                						<td width="100%" align="center">
                							<strong>Polar bluetooth smart heart rate monitor</strong><br>
                							H7-MX-XXL<br>
                							Black chest Strap sensor
                							<div class="price">&euro;139 / credits 7999</div>
                							<a href="#"><img src="images/addtocart.png" height="30">&nbsp;</a><a href="#"><img src="images/infobtn.png" height="30"></a>
                						</td>
                					</tr>
                				</table>
                			</div> 
                			<div class="shop-item-box">
                				<table cellpadding="0" cellspacing="0" with="90%" style="margin:0px auto;">
                					<tr>
                					  <td width="100%" align="center" valign="middle"><img src="images/product_1.png" width="142" height="86"></td></tr>
                					<tr>
                						
                						<td width="100%" align="center">
                							<strong>Polar bluetooth smart heart rate monitor</strong><br>
                							H7-MX-XXL<br>
                							Black chest Strap sensor
                							<div class="price">&euro;139 / credits 7999</div>
                							<a href="#"><img src="images/addtocart.png" height="30">&nbsp;</a><a href="#"><img src="images/infobtn.png" height="30"></a>
                						</td>
                					</tr>
                				</table>
                			</div>        			
                			
					 </div>
                
            <!-- End-->
            <div class="bottom-separator"></div>