<script src="src/controllers/shopping.js"></script>

	<div class="comm_banner_img_box">
		<img src="images/banner/mind10.jpg" alt="mind10" />
		<h4>Health Shop</h4>
		<img class="banner_logo" src="images/movesmartlogo.png" alt="movesmartlogo" />
	</div>

<!-- <div class="main_panel_header padding_bottom_none">
    <h5 class="padd_12" >shop</h5>
    <span class="add_cart_icon" ></span>
    <span class="add_cart_count" >33</span>
</div>
<div class="blue_border_box" >
    <p class="comm_para" >Welcome to our healthshop. Spend your earned credits the healthy
way.</p>
</div> -->

<div class="comm_panel_bx" >
    <!-- <span class="question_icon">?</span>
    <div class="clear"></div> -->
    <div class="" >
		<div class="newcredits">
			<div class="graph_bg_progress ">
				<img alt="graph_top_bg" src="images/graph_top_bg.png" class="graph_top_bg">
				<img alt="graph_top_bg" src="images/graph_bottom_bg.png" class="graph_bottom_bg">
				<div class="graph_center_bg clsnocurve"></div>
			</div>
		</div>
		<div class="newcredits" >
			<h5 class="txt_cntr">Your Credits</h5>
			<input type="text" id="shopcredited" class="" placeholder="000"  readonly/>
		</div>
		<div class="clear"></div>
    </div>
	 <p class="comm_para txt_cntr" >Black Chest Strap Sensor !</p>
    <div class="clear"></div>
</div>
 <div class="clear"></div>
<div class="product_box">
    <div class="product_left_box">
        <img src="images/product_2.png" alt="product_2" />
    </div>
    <div class="product_right_box">
        <h6 class="comm_h4" >Polar Bluetooth Smart Heart Rate Monitor</h6>
        <p class="comm_para" >H7 Sz M-XXL </p>
        <p class="comm_para" >Black Chest Strap Sensor !</p>
        <h4 class="comm_h4" >€ 139.99 • credits 7521</h4>
		<div class="shop_btns">
			<span class="add_cart_icon" ></span>
			<span class="question_icon" >More Info</span>
		<div>
        <div class="clear" ></div>
    </div>
    <div class="clear" ></div>
</div>