<script src="src/controllers/dashboarddetail.js"></script>
<script>
$(document).ready(function(){
$(".page-title h4 .one").text("EAT DIARY");
});
</script>
<div class="startphasecls">
    <div class="swiper-wrapper">
        <div class="swiper-slide startphasecntslide" >
			<div class="comm_banner_img_box">
			<div class="transparent-stripe">
                    
                </div>
				<img src="images/banner/eat5.jpg" alt="eat5" />
				<!--<h4 class="startfaseeattrans">Start diary</h4>-->
				<!--<img class="banner_logo" src="images/movesmartlogo.png" alt="movesmartlogo" /> -->
			</div>
            <div class="stepregistereatfreshcont">
                <div class="clstemploader">
                    <img src="images/loading.gif" alt="loading" />
                </div>
                <!--<div class="home_cnt_bx">
                    <img alt="home_img3" src="images/home_img3.png">
                </div>
                <div class="newcontbx" >
                    <p class="comm_para"> Steps registration</p>
                <p class="comm_para">When you're not sure if you want to change anything
                about your activity level it's helpfull to monitor the
                amount of steps you take during the day.</p>
                <p class="comm_para">Each day you register you get usefull information
                about being active and the benfits it has for your life.
                Give it a try!</p>
                </div>-->
            </div>
              <button id="idfasecompletedbutton" class="white_btn blue_btn transeatdiary" style="float:left; margin-left:20px;" onclick="">Start <br/> diary</button>
        </div>
        <!--
        <div class="swiper-slide startphasecntslide" >
			<div class="comm_banner_img_box">
			<div class="transparent-stripe">
                    
                </div>
				<img src="images/banner/eat6.jpg" alt="eat6" />
				
			</div>
            <div class="stepcounter_ctn_bx">
                
            </div>
            <button id="idfasecompletedbutton" class="white_btn blue_btn transeatdiary" style="float:left; margin-left:20px;" onclick="">Start <br/> diary</button>
        </div>
         -->
    </div>
    <!--<div class="swiper-pagination"></div>-->
</div>
<div class="timeboxpopup_outer">
    <div class="timeboxpop_inner">
        <label>
            <input type="time" class="white_btn">
        </label>
        <button class="white_btn blue_btn transeatdiary stepokbtn" onclick="">OK</button>
    </div>
</div>