<script src="src/controllers/dashboarddetail.js"></script>
<script>
$(document).ready(function(){
$(".page-title h4 .one").text("MOVE DIARY");
});
</script>
<div class="startphasecls">
    <div class="swiper-wrapper">
        <div class="swiper-slide startphasecntslide" >
			<div class="comm_banner_img_box">
			<div class="transparent-stripe">
                    
                </div>
				<img src="images/banner/move17.jpg" alt="move17" />
				<!--<h4 class="startfaseeattrans">Start diary</h4>-->
				<!--<img class="banner_logo" src="images/movesmartlogo.png" alt="movesmartlogo" /> -->
			</div>
            <div class="stepregistercont33">
                <div class="reg comm_para">
			<p class="reg_tittle"><strong>MOVE-dagboek</strong></p>
			<p class="reg_txt">Als je nog niet zeker bent of en hoe je iets wilt veranderen aan je beweeggedrag, kan het helpen om eerst meer inzicht te krijgen in je beweegpatroon. Dit krijg je door 2 weken lang iedere dag dit beweegdagboek bij te houden.</p>
			<p>&nbsp;</p>
			<p>Elke dag dat je dit doet krijg je extra informatie over het belang van voldoende lichamelijke activiteit. Zowel over voldoende bewegen en sporten als over het doorbreken van te lang zitten. Je score verandert elke dag aan de hand van je registratie.</p>
		</div>	
                <!--<div class="home_cnt_bx">
                    <img alt="home_img3" src="images/home_img3.png">
                </div>
                <div class="newcontbx" >
                    <p class="comm_para"> Steps registration</p>
                <p class="comm_para">When you're not sure if you want to change anything
                about your activity level it's helpfull to monitor the
                amount of steps you take during the day.</p>
                <p class="comm_para">Each day you register you get usefull information
                about being active and the benfits it has for your life.
                Give it a try!</p>
                </div>-->
            </div>
              <!-- <button id="idfasecompletedbutton" class="white_btn blue_btn transstartcheck transcounter" onclick="">Start <br/> step <br/> counter</button> -->
			  <button id="idfasecompletedbutton" class="white_btn blue_btn transstartcheck" style="   float:left;margin-left: 20px;" onclick="">Start Move</button>
        </div>
        <!--
        <div class="swiper-slide startphasecntslide" >
			<div class="comm_banner_img_box">
			<div class="transparent-stripe">
                    
                </div>
				<img src="images/banner/eat6.jpg" alt="eat6" />
				
			</div>
            <div class="stepcounter_ctn_bx">
                
            </div>
            <button id="idfasecompletedbutton" class="white_btn blue_btn transeatdiary" style="float:left; margin-left:20px;" onclick="">Start <br/> diary</button>
        </div>
         -->
    </div>
    <!--<div class="swiper-pagination"></div>-->
</div>
<div class="timeboxpopup_outer">
    <div class="timeboxpop_inner">
        <label>
            <input type="time" class="white_btn">
        </label>
        <button class="white_btn blue_btn transeatdiary stepokbtn" onclick="">OK</button>
    </div>
</div>