<script src='src/controllers/dashboarddetail.js'></script>
<script>
$(document).ready(function(){
$(".page-title h4 .one").text("MOVE ACTIVITY");
});
</script>
<div class="startphasecls">
<div class="swiper-wrapper">

<div class="swiper-slide startphasecntslide" >
	<div class="comm_banner_img_box">
	<div class="transparent-stripe"></div>
		<img src="images/banner/move17.jpg" alt="move17" />
		
	</div>
    <div class="stepregistercont33">
		<div class="reg">
			<p class="reg_tittle"><b>Stappen registratie</b></p>
			<p class="reg_txt">Als je niet zeker weet of je iets wilt veranderen aan je niveau van activiteit, is het nuttig om het aantal stappen dat je zet in de loop van de dag op te volgen.</p>
			<p>Elke dag dat je je aanmeldt, krijg je nuttige informatie over wat een actief leven is en welke voordelen het heeft voor je leven. Probeer het eens!</p>
		</div>		
        <!-- <div class="clstemploader">
            <img src="images/loading.gif" alt="loading" />
        </div> -->
       
    </div>
    </div>
	
    <div class="swiper-slide startphasecntslide" >
		<div class="comm_banner_img_box">
			<div class="transparent-stripe">
                    
                </div>
                <img src="images/banner/move11.jpg" alt="move2">
		</div>
    <div class="stepcounter_ctn_bx" >
        <p class="comm_para transstepcounter">
            <!--<div class="clstemploader">
                <img src="images/loading.gif" alt="loading" />
            </div>-->
        </p>
        <!--You can monitor your steps with a steps
        counter. This could be your Phone or a
        seperate device. If you have a Phone (list of
        supported phones) or device already you can
        start right away!-->
       <!-- <button class="white_btn yoursteps_btn transmonitorstep" onclick="_movePageTo('stepcounter1')">Waerables to monitor your steps</button>-->
		<div class="input_box">
                <span class="input_blue selectchrbox arrow transtextwearable" >Select wearables</span>
                <label for="wearables" style="display:none;"></label>
                <select id="wearables" class="input_blue selectdropdown select_opcity req-novalequal" novalequal="-1" checkemptyonval="-1" >
                    <option value="-1" selected class="transtextwearable">Select wearables</option>
                    <option value="0" >Fitbit</option>
                    <option value="1" >Impulse</option>
					<option value="2" >Pedometer</option>
					<!--option value="3" >Iphone 6</option-->
                </select>
                </div>       
	   <div class="startphase_para">
            <span class="checkouter" onclick="">
                <label for="startype" style="display:none"></label><input type="checkbox" id="startype" value="1">
            </span>
            <p class="comm_para transdontuse">I don't want to use a stepmonitor</p>
        </div>
       <!-- <div class="startphase_para startphasetimer" >
            <p class="comm_para">Select your daily time</p>
            <div class="input_btn">
                <label for="dailysteptimer" style="display:none;"></label><input type="time" id="dailysteptimer" class="input_blue req-nonempty" value="" />
            </div>
        </div> -->
    </div>

<button id="idfasecompletedbutton" class="white_btn blue_btn transstartcheck transcounter" onclick="">Start <br/> step <br/> counter</button>
</div>
</div>
<div class="swiper-pagination"></div>
</div>
<div class="timeboxpopup_outer">
    <div class="timeboxpop_inner">
        <input type="time" class="white_btn" >
        <button class="white_btn blue_btn transeatdiary stepokbtn" onclick="">OK</button>
    </div>
</div>