<script src="src/controllers/dashboarddetail.js"></script>
<script>
$(document).ready(function(){
$(".page-title h4 .one").text("MIND ACTIVITY");
});
</script>
<div class="startphasecls">
    <div class="swiper-wrapper">
	
        <div class="swiper-slide startphasecntslide" >
			<div class="comm_banner_img_box">
			<div class="transparent-stripe">
                    
                </div>
				<img src="images/banner/mind15.jpg" alt="mind15" />
				
			</div>
            <div class="startphsemindcont">
                <div class="clstemploader">
                    <img src="images/loading.gif" alt="loading" />
                </div>
               
            </div>
            <button id="idfasecompletedbutton" class="white_btn blue_btn transmindactivity" style="float:left; margin-left:20px;" onclick="">Start <br/>Activity</button>
        </div>
		<!--
        <div class="swiper-slide startphasecntslide" >
			<div class="comm_banner_img_box">
				<img src="images/banner/mind12.jpg" alt="mind12" />
				<div class="transparent-stripe">
                    
                </div>
		
			</div>
            <div class="stepcounter_ctn_bx" id="">
               

            </div>
            <button id="idfasecompletedbutton" class="white_btn blue_btn transmindactivity" style="float:left; margin-left:20px;" onclick="">Start <br/>Activity</button>
        </div>
         -->
    </div>
    <!--<div class="swiper-pagination"></div>-->
</div>
<div class="timeboxpopup_outer">
    <div class="timeboxpop_inner">
        <input type="time" class="white_btn" >
        <button class="white_btn blue_btn stepokbtn" onclick="">OK</button>
    </div>
</div>