<!-- <script src="src/controllers/welcome.js"></script> -->
<script>
    $(document).ready(function(){
        UpdateDynamicPageForId('.stop_counter_ctn_bx',PAGE_STEPCOUNTER,function(cnt,pagetitle){
            $(".comm_banner_img_box h4").text(pagetitle);
        });
    });
</script>
<div class="welcome_ctn_bx stop_counter_ctn_bx" id="">
    <img src="images/loading.gif" />
    <!--<h5 class="divices_h5" >Phones</h5>
    <div class="divicesproduct_box">
        <div class="divices_box">
            <div class="divices_fl_box">
                <h4 class="comm_h4" >Iphone 6</h4>
            </div>
            <div class="divices_fr_box">
                <img src="images/iphone.png" alt="iphone" />
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <h5 class="divices_h5" >Devices</h5>
    <div class="divicesproduct_box">
        <div class="divices_box">
            <div class="divices_fl_box">
                <h4 class="comm_h4" >Fitbit</h4>
            </div>
            <div class="divices_fr_box">
                <img src="images/devices1.png" alt="devices1" />
            </div>
            <div class="clear"></div>
        </div>
        <div class="divices_box">
            <div class="divices_fl_box">
                <h4 class="comm_h4" >Impulse</h4>
            </div>
            <div class="divices_fr_box">
                <img src="images/devices2.png" alt="devices2" />
            </div>
            <div class="clear"></div>
        </div>
        <div class="divices_box">
            <div class="divices_fl_box">
                <h4 class="comm_h4" >Pedometer</h4>
            </div>
            <div class="divices_fr_box">
                <img src="images/devices3.png" alt="devices3" />
            </div>
            <div class="clear"></div>
        </div>
    </div>-->
</div>
<div class="signl_btn">
    <button class="white_btn blue_btn transback" onclick="goBack()">Done</button>
</div>
