<script src="js/cardio_test_struct.js"></script>
<script src="js/cardio.js"></script>
<script src="src/controllers/testtraining.js"></script>
<!-- <div class="main_panel_header padding_bottom_none">
    <h5 class="comm_h4 txt_center" >MOVESMART.training</h5>
</div> -->

<div class="" >
<br><br>
<h4 class="comm_h4 welcomusetxt" style="text-align: center">Welcome <span class="username"></span>, to your first training.</h4>
<br><br>
   <!--  <div class="training_right">
      
        <h4 class="comm_h4">POINTS</h4>
        <span class="circle_span_cunt blue_color_text" id="achieve_point"><img src="images/loading.gif" alt="loading" /></span>
        <h4 class="comm_h4" >TO ACHIEVE</h4>
    </div> -->
   <br>
	<div class="training_right">
		
		<div class="left-training fitlevelimg">
		<img src="images/piramide-1.png" class="new_graph_top"  alt="piramide1" width="100%"/>
		</div>
		<div class="right-training">
        <span class="circle_span_cunt " id="fit_level"><img src="images/loading.gif" alt="loading" /></span>	<h4 class="tt transfitlevel" >FIT-LEVEL</h4>
        <br clear="all"><br>
        <span class="circle_span_cunt" id="achieve_point"><img src="images/loading.gif" alt="loading" /></span><h4 class="tt transpointtoacheive">POINTS TO ACHIEVE</h4>
		</div>
    </div>
    <div class="clear"></div>

</div>
<br>
<button class="white_btn blue_btn start" onclick="trainingStart()" style="font-size:16px !important">Start training</button>
