<script src="js/cardio_test_struct.js"></script>
<script src="js/cardio.js"></script>
<script src="src/controllers/testtraining.js"></script>
<!-- <div class="main_panel_header padding_bottom_none">
    <h5 class="comm_h4 txt_center" >MOVESMART.training</h5>
</div> -->

<div class="" >
	<!--
    <div class="comm_banner_img_box">
		<img src="images/home_img1.png" alt="home_img1" />
		<h4>Welkorm to you first training.</h4>
		<img class="banner_logo" src="images/movesmartlogo.png" alt="movesmartlogo" />
	</div>
     -->
   <!-- <h4 class="comm_h4" >Welcome <span class="username"></span>, to your first training.</h4>-->
    <div class="training_left fitlevelimg">
		<img src="images/piramide-1.png" class="new_graph_top"  alt="piramide1" />
		<!--<div class="new_graphtop_bottom">
			<img src="images/new_graph_top.png" class="new_graph_top"  alt="new_graph_top" />
			<img src="images/new_graph_bottom.png" class="new_graph_bottom" alt="new_graph_bottom" />
		</div> -->
    </div>
   <!--  <div class="training_right">
        <h4 class="comm_h4" >FIT-LEVEL</h4>
        <span class="circle_span_cunt orange_color_text " id="fit_level"><img src="images/loading.gif" alt="loading" /></span>
        <h4 class="comm_h4">POINTS</h4>
        <span class="circle_span_cunt blue_color_text" id="achieve_point"><img src="images/loading.gif" alt="loading" /></span>
        <h4 class="comm_h4" >TO ACHIEVE</h4>
    </div> -->
	<div class="training_right">
        <h4 class="comm_h4">POINTS TO ACHIEVE</h4>
        <span class="circle_span_cunt blue_color_text" id="achieve_point"><img src="images/loading.gif" alt="loading" /></span>
    </div>
    <div class="clear"></div>

</div>

<button class="white_btn blue_btn transtraining" onclick="trainingStart()">Start<br/> training</button>
