<!-- <script src="src/controllers/welcome.js"></script> -->
<script>

    var _TimerThankyou;
    $(document).ready(function(){
        UpdateDynamicPageForId('.thankyoupagecontent',THANKYOU_REGISTRATION,function(content,pagetitle){
		
            if(_TimerThankyou){
                clearTimeout(_TimerThankyou)
            }
            //var HTML = GetSwiperContent(content, '.thankyoupagecontent', 'onlycontentbox');
            GetSwiperContent(content, '.thankyoupagecontent', 'onlycontentbox');
           // $(".comm_banner_img_box h4").text(pagetitle);
			$(".page-title h4 .one").text(pagetitle);
            _TimerThankyou	=	setTimeout(function(){
                clearTimeout(_TimerThankyou);
                _movePageTo('welcome');
            },8000);
        })
    });
</script>
<div class="thankyoupagecontent" >

    <div class="clstemploader">
        <img src="images/loading.gif" alt="loading">
    </div>
    <!--<p class="comm_para" >Thanks for joining MOVESMART.company.</p>
    <p class="comm_para" >We've sent you an email with a confirmation
    link. Click on this link to start a healthier,
    happier lifestyle.</p>-->
</div>

