<script>
$(document).ready(function(){
$(".page-title h4 .one").text(GetLanguageTextLocal("30"));
UpdateDynamicPageForId('.beforecontent',TEXTBEFORESELECTCOACH,function(content,pagetitle){
});
});
</script>

            <div class="loginform_bx clientinfo formfocus_ipentry">
				<div class="comm_banner_img_box">
				<div class="transparent-stripe">
						
				</div>
					<img src="images/banner/mind10.jpg" alt="mind10">
				</div>
               
			   <div class="text-wrap">
				<div class="beforecontent">
					<p>
					
					</p>
				</div>
				</div>
            </div>
			<style>
			.clsinputfieldouterstyle1{
				background: none !important;
				width:100% !important;
			}
			</style>
