<script src="src/controllers/vouchers-page.js"></script>
<div class="voucher-container">
    <div class="swiper-wrapper">

        <div class="swiper-slide" data-slide-index="3">
            <div class="dash_ctn_bx">
                <!-- <h5 class="comm_h4" ><span class="clscurrentgrouptext1">MOVESMART.</span>credit</h5> -->
				<br>
				<div class="credit-wrap" style="padding-top:10%;">
                    <img class="question_icon" src="images/question-mark.png">
                    <h2 class="transvoucherhead">Select your Voucher</h2>
                    <br>
                    <div class="voucher_wrap" id="vvvvvvv">
                            <div class="vouchrlst">
                                <p><input type="radio" value="voucher_1" id="" name="voucherList">&nbsp;5000 credits</p>
                                <p><input type="radio" value="voucher_2" id="" name="voucherList">&nbsp;10000 credits</p>
                                <p><input type="radio" value="voucher_3" id="" name="voucherList">&nbsp;50000 credits</p>
                            </div>
                            <input type="hidden" id="hidn_voucher_val" value="">               
                            
                    
                    </div>
                    <div class="cart_bttn">
                        <button class="white_btn blue_btn transVoucherbtn" style="float:left;width:49% !important" onclick="CheckVoucherPoints()">receive voucher <br> by mail
                        </button>
                        <button class="white_btn blue_btn" style="float:right;width:49% !important" onclick="openCreditPage()">Cancel
                        </button>
                    </div>

                </div>
			
			
            </div>
        </div>
    </div>
    
</div>