<script src="src/controllers/welcome.js"></script>
<!-- <div class="panel_cnt_header">
    <img alt="user_image1" class="useicon" src="images/no_image.png" id="userprofile">
    <h5 class="comm_h4">Welcome,<span class="username"></span></h5>
</div> -->

 <div class="comm_banner_img_box">
                <div class="transparent-stripe">
                    
                </div>
                <img src="images/banner/move1.jpg" alt="move2">
                
            </div>

<div class="meeting-wrap">
<div class="comm_contentbox" id="welcome_cnt">
    <!--<p class="comm_para" >Welcome to </p>
    <h4 class="comm_h4" >Movesmart. eAT FRESH! MIND SWITCH?<h4>
    <P class="comm_para" >Mover Smart is your personal coach to a funnier,
        healthier,more relaxed and enjoyable lifestyle.</P>
    <P class="comm_para" >You have taken you first big step and we ready want to get know you better, to give you the best support to achieve your goals in life.</P>--->

	</div>
 <!--Start your check page-->
            <div class="text-wrap" style="padding-bottom:30px;">
                <div style="margin: 43% 0 0 30%;"><button class="white_btn blue_btn transstartcheck" onclick="startCheck(this)" style="float:left;width:58% !important" >Start check</button>
                <div class="clear"></div></div>
            </div>
            <!-- End your check page -->	
<!--<button class="white_btn blue_btn transstartcheck" onclick="startCheck(this)" style="float:left;width:43% !important" >Start check</button>-->
<!--<button class="white_btn blue_btn transgofortest" onclick="GoForTestAppointment(this)" style="float:left;margin-left:5px; width:43 !important" >Go for <br/> test</button>-->
<div class="clear"></div>
</div>
<!--
<div class="two_btn">
    <button class="circle_blue_btn transstartcheck" onclick="startCheck(this)">Start check</button>
    <button class="circle_blue_btn transgofortest" style="display:none" onclick="GoForTestAppointment(this)">Go for <br/> test</button>
</div>
-->
<style>
.page_content{
	    padding-bottom: 50px !important;
}
</style>
