/*
.exit_link {
    display: none !important;
    }
*/
.logout_link a {
    border-bottom: 0 !important;
    }

header {
    padding-top: 20px !important;
    }

.menu_icon {
        top: 30px;
        margin-right: 12px;
    }

label.clientinfo_label.dob_label.transdob {
    z-index: 110;
    }

input#regdob {
    text-align: center !important;
    padding-left: 0 !important;
    background: rgba(0, 0, 0, 0);
    /*z-index: 100 !important;*/
    position: relative !important;
    }

input#regdob:focus{
    /*background: #0095ac !important;*/
    }

#idbirthday {
    /*border: 1px solid #0095ac;*/
    }

#idbirthday .input_blue {
    background: #fff;
    color: #575b5b !important
    }

#idbirthday .clientinfo_label {
    background: #fff;
    color: #575b5b !important
    }
.ios_input_fix .input_blue{
    width:100% !important;
}
