/***  common css ***/


@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    }


body {
    background: #fff;
    color: #575b5b;
    /* ED 20160324 */
    font-family: 'open_sanslight' !important;
    overflow-x: hidden;
    }

body, body * {
    -webkit-user-select: none !important;
    user-select: none !important;
    /*-webkit-user-callout: initial !important;*/
    -webkit-touch-callout: initial !important;
    }

input, textarea {
    -webkit-user-select: text !important;
    user-select: text !important;
    /*-webkit-user-callout: default !important;*/
    -webkit-touch-callout: default !important;
    }

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    -webkit-user-drag: none;
    /*-webkit-user-modify: none;*/
    }

li {
    list-style: none;
    }

input, img, a , button, img:focus, textarea, select  {
    outline: none;
    text-decoration: none;
    }

img {
    display: none;
}
img[src*="http"],[src*="images"]{
    display: block;
}

.clear {
    clear: both;
    }

.fl {
    float: left !important;
    }

.fr {
    float: right !important;
    }
/*
.txt_fl {
    text-align: left;
    }

.txt_fr {
    text-align: right;
    }
*/
.txt_cntr {
    text-align: center !important;
    }

header, footer, section{
    display: block;
    }

a {
    color: rgb(67, 70, 74);
    }

.page_content {
    background: #fff;
    }

/***  common css ***/

header,	footer  {
    background: #0095ac;
    padding: 6px 0px 3px 0px;
    height: 60px;
	width:100%;	
    text-align: center;
    position: relative;
    z-index: 1000;
    }

footer {
    background: #6c7075;
    padding : 0 3px;
    height: 54px;
    }

.log_bx {
    width: 33% !important;
    max-width: 135px;
    margin: 3px auto 0;
  display:block;
	float:left;
	padding-left:20px;
    /*margin-top: 3px;*/
    }

header h4{
	display:block;
	margin:0px;
	padding:0px;	
	font-family:'open_sansbold' !important;
	color:#fff;
}

.ftr_log_bx {
    width: 33%;
    max-width: 135px;
    margin: 3px auto 0;
    display: inline-block;
    /*margin-top: 3px;*/
    }

.log_bx img{
    width: 50px;
    display: block;
    }
	
.ftr_log_bx img {
    width: 90%;
    display: block;
	margin: 0 auto;
    }

.menuspan {
    width: 33%;
    height: 60px;
   /*  background: rgba(0,0,0,0.2); */
  /*   border-radius: 50%; */
    margin: 0 4px;
    position: relative;
    }

.ftr_bx_two {
    display: none;
    }

.home_cnt_bx img {
    width: 100%;
    height: auto;
    display: block;
    }

/*
.home_txt_cnt_header, .home_txt_cnt {
    padding: 8px 0;
    width: 86%;
    /* Ed 20160505 * /
    margin: 0 auto;
    }
*/
.home_txt_cnt_header h4 {
    padding: 5px 0 ;
    display: block;
    font-size: 23px;
    }

/*
.home_txt_cnt{
    min-height: 140px;
    height: 140px;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }


.slider_btn_bx .white_btn {
    display: inline-block !important;
    margin: 10px 0 10px 0;
    }

.home_txt_cnt p {
    font-size: 14px;
    }

/* .main_panel {
    padding: 15px;
    } */

/* button style */

.white_btn {
    color: #575b5b;
    border: 1px solid #0095ac;
    font-size: 16px;
    width: 200px;
    line-height: 36px;
    height: 40px;
    display:block;
    border-radius: 20px;
    background: none;
    text-align: center;
    margin: 0 auto;
    }

.input_box {
    padding: 4px 0;
    position: relative;
    }

.input_box .input_blue, .input_box .white_btn {
    margin: 0 auto;
    }

/* input style */

/*
.rememberme_bx {
    text-align: center;
    margin-top: 15px;
    }

.rememberme_label {
    font-size: 16px;
    line-height: 25px;
    vertical-align: top;
    margin-left: 4px;
    }

*/
.checkouter {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #59bac9;
    display: inline-block;
    background: #fff;
    }

.checkouter input {
    padding: 0 !important;
    margin: 0 !important;
    visibility: hidden;
    }

.checkouter.checkbtn {
    background: #fff url("../images/checkbtn.png") no-repeat scroll center center / 70% auto;
    }

.slick-dots{
    bottom: -110px;
    }

.forgot_label {
    margin: 0 auto;
    width: 200px;
    display: block;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    text-decoration: underline;
    }

.loginform_bx {
    padding-top: 15px;
    }

.facebook_bx, .main_panel_header {
    /* padding: 0 0 10px 0; */
   /*  border-bottom: 1px solid #0095ac; */
    width: 80%;
    margin: 10px auto 10px;
    /*margin-bottom: 10px;*/
    }

.compulsory {
    position: relative;
    }



.getpicture {
    color: #fff;
    width: 100px;
    height: 100px;
    margin: 10px auto;
    border-radius: 50%;
    background: #0095ac;
    text-align: center;
    line-height: 100px;
    overflow:hidden;
    }

.compulsory_ftr {
    color: #0095ac;
    display: block;
    text-align: right;
    font-size: 14px;
    padding: 10px 0;
    margin-right: 10px;
    }

.security_hdr h5 {
    display: block;
    font-size: 20px;
    text-align: center;
	font-weight: normal;
    }

.security_hdr h5 {
    padding-bottom: 7px;
    }

.security_hdr {
    margin-bottom: 7px !important;
    }

.input_box.facebook_bx {
    margin-bottom: 7px;
    padding-bottom: 7px;
    }

.panel_cnt_header {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    }

.useicon {
    width: 60px;
    height: 60px;
    border: 1px solid #0095ac;
    background: #0095ac;
    border-radius: 50%;
    vertical-align: top;
    display: inline-block;
    }

.panel_cnt_header h5 {
    line-height: 60px;
    padding-left: 10px;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    text-transform: capitalize;
    }

.panel_cnt_header h5 .username {
    padding-left: 4px;
    display: inline-block;
    }

.welcome_ctn_bx {
    margin:  0 !important;
   /*  border: 1px solid #0095ac; */
    border-radius: 15px;
   /*  min-height: 200px; */
    /*margin-bottom: 15px;*/
    padding: 0 25px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    }

.comm_h4{
    font-size: 20px;
    display: block;
    padding: 7px 0;
    /* text-transform: uppercase; */
    }

.comm_para{
    font-size: 17px;
    display: block;
    padding: 7px 0;
    }


.circle_blue_btn {
    width: 100px;
    height: 100px;
    margin: 10px auto;
    display: block;
    border-radius: 50%;
    color: #fff;
    line-height: 25px;
    background: #0095ac;
    text-align: center;
    border: 0;
    font-size: 17px;
	padding: 4px;
	box-sizing: border-box;
	-webkit-box-shadow: border-box;
	-moz-box-shadow: border-box;
    }

.main_panel {
    overflow: auto;
    }

.main_panel_header {
    margin-bottom: 10px ;
    width: 90%;
    position: relative;
    }

.main_panel_header h5 {
    font-size: 25px;
    display: block;
    text-align: center;
    padding: 7px 0;
    }

.welcome_ctn_header {
    position: relative;
    }

.welcome_ctn_header .comm_h4 {
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 0 5px 0;
   /*  overflow: auto; */
    min-height: 40px;
    position: relative;
    font-size: 17px;
    font-weight: normal;
    }

.question_icon {
    position: absolute;
    width: 35px;
    height: 35px;
    background: #0095ac;
    color: #fff;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    top: 3px;
    left: 15px;

    /* ED 20160503 */
    /* top: 3;
    right: 0; */
    /*MK Added - Dashbord Info click is masked by Graph SVG tag - fixed*/
    z-index:99;
    }

.triangle_question_bx {
    width: 200px;
    height: 200px;
    /* border-left: 101px solid transparent;
    border-right: 101px solid transparent;
    border-bottom: 201px solid #0095ac; */
    margin: 20px auto;
    position: relative;
    border: 1px solid #0095ac;
    border-radius: 50%;
    overflow: hidden;
    }

.triangle_question_bx .qus_fl_btn, .triangle_question_bx .qus_fr_btn {
    /* bottom: -200px; */
    /* height: 0; */
    /* position: absolute; */
    /*width: 65px;*/
    color: #fff;
    font-size: 35px;
    line-height: 60px;
    font-weight: bold;
    background: #0095ac;
  /*  width: 98px;
    height: 100px; */
    width: 106px;
    height: 140px;
    top: auto;
    display: inline-block;
    text-align: center;
    position: absolute;
    border: 0 !important;
    }

.triangle_question_bx .qus_fl_btn {
    /* border-bottom: 66px solid rgba(122, 222, 236, 0.38);
    border-left: 33px solid transparent;
    border-right: 0 solid transparent;
    left: -99px;
    text-indent: 15px; 
    border-radius: 0 0 0 100px;
    /*left: -2px; By SNK*
    left: 0;
    bottom: 0; */
    border-radius: 0 0 0 100px;
    left: -7px;
    bottom: 0;
    background: url(../images/question_bg_left.png) no-repeat top left / 100% 100%;
    }

.triangle_question_bx .qus_fl_btn:after {
    border-bottom: 41px solid #0095ac;
    border-right: 98px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -40px;
    width: 0;
    display: none;
    }

.triangle_question_bx .qus_fr_btn {
    /* border-bottom: 66px solid rgba(122, 222, 236, 0.38);
    border-left: 0 solid transparent;
    border-right: 33px solid transparent;
    right: -99px;
    text-indent: 30px; 
    border-radius: 0 0 100px 0;
    bottom: 0;
    right: -4px;
    right: -4px; By Sankar
    Ed 20160324 */
    border-radius: 0 0 100px 0;
    right: -7px;
    bottom: 0;
    background: url(../images/question_bg_right.png) no-repeat top right / 100% 100%;
    }

.triangle_question_bx .qus_fr_btn:after {
    content: "";
    top: -40px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 41px solid #0095ac;
    border-left: 98px solid transparent;
    position: absolute;
    display: none;
    }
.ques_count {
    /* background: rgb(0, 0, 0); */
    border-radius: 100px 100px 0 0;
    color: rgb(0, 149, 172);
    display: block;
    font-size: 45px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    }

.btn_center_box {
    text-align: center;
    }

.btn_center_box .white_btn{
    margin: 0 auto;
    }

.footer_graph_box {
    height: 30px;
   /*  border: 1px solid #0095ac; */
    border-radius: 20px;
    margin: 10px auto;
    width: 90%;
    position: relative;
    z-index: 2;
    /* padding: 0 10px; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }
/*MK Added - Percentage Fill*/
.perfill{
    position: absolute;
    background-color: #0095ac;
    border-radius: 20px;
    z-index: -2;
    left: 0; /*By SNK*/
    top: 0;/*By SNK*/
    bottom: 0;/*By SNK*/
    -webkit-box-shadow: 0 0 10px 0 #004752 inset;
    box-shadow: 0 0 10px 0 #004752 inset;
    }
/*MK Added - Percentage On progress bar*/
.cpercentage{	
    position: absolute;
    top: -19px;
    color: #000;
    right: 0;
    font-size: 9px;
    }
/*MK - Added End*/
.footer_graph_box:after{
    /*content: "";
    position: absolute;
    left: 0;
    width: 30%;
    top:0;
    bottom:0;
    display: block;
    background: #0095ac;
    border-radius: 20px;
    z-index: -2;*/
    }

.footer_graph_box label {
    /*MK Dynamic width & text-align:left
    width: 24%;
    text-align: center;*/
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    color: #000;
    display: inline-block;
    }

.ac_text {
    color: #fff !important;
    }

.question_yesno_bx {
    padding: 10px 0;
    text-align: center;
    }

.yesno_btn {
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: #fff;
    background: #0095ac !important;
    border: 1px solid #0095ac;
    border-radius: 50%;
    display: inline-block;
    background: none;
    margin: 0 20px;
    position:relative;
    }

.video_bx {
    margin-top: 20px;
    }

.common_list_dottbox {
    list-style-position: inside !important;
    margin-left: 30px;
    }

.common_list_dottbox li{
    list-style-type:disc !important;
    }

.question_smile_btn_bx {
    padding: 10px ;
    margin: 5% 0;
    text-align: center;
    }

.question_smile_btn_bx span, .smileys_list_bx li span {
    width: 100px;
    height: 100px;
    border: 1px solid #0095ac;
    border-radius: 50%;
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
    }

.question_smile_btn_bx span img, .smileys_list_bx li span img {
    width: 100%;
    display: block;
    }

.question_smile_btn_bx span .question_icon {
    right: -20px;
    top: -25px;
    }

.smileys_list_bx li h4 {
    display: inline-block;
    font-size: 18px;
    line-height: 70px;
    vertical-align: top;
    }

.smileys_list_bx li span {
    width: 70px;
    height: 70px;
    padding: 5px !important
    }

.smileys_list_bx li {
    padding: 4px 0;
    display: block;
    }

.questionselect_list {
    display: block;
    }

.questionselect_list li {
    display: block;
    font-size: 16px !important;
    padding: 7px 0;
    text-align: center;
    line-height: 25px !important;
    color: rgba(123, 120, 120, 0.55);
    letter-spacing: 0px;
    }

.questionselect_list li.act_select{
    background: #0095ac;
    color: #fff;
    border-radius: 20px;
   /*  font-size: 20px !important; */
    font-style: normal;
    line-height: 25px !important;
    letter-spacing: normal !important;
    }

.comm_panel_bx {
    margin: 0 15px;
    padding: 10px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    }

.comm_graph_box {
    margin: 10px 0;
    }

.comm_graph_box img {
    display: block;
    margin: 0 auto;
    }

.comm_coin_box {
    width: 150px;
    margin: 10px auto;
    }

.comm_coin_box img {
    width: 100%;
    display: block;
    }

.comm_coin_box input, .current_credit {
    display: block;
   /*  padding: 5px 0; */
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    border: 1px solid #0095ac;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    }

.comm_coin_box .comm_h4 {
    text-align: center;
    font-size: 14px;
    /* text-transform: lowercase; */
    }
    /*
.move_listtitel_bx {
    display: block;
    }
    */
.move_listtitel_bx li {
    display: block;
    line-height: 30px;
    font-size: 15px;
    padding: 5px 0;
    }

/*
.color_bx {
    border-radius: 50%;
    display: inline-block;
    height: 25px;
    margin-right: 5px;
    margin-top: 3px;
    vertical-align: top;
    width: 25px;
    }

.green_color {
    background: #8eca80;
    }

.grey_color {
    background: #3f3f48;
    }

.blue_color {
    background: #71afdf;
    }
*/
.move_graph_left,.move_graph_right {
    width: 48%;
    display: inline-block;
    float: left;
    }

.move_graph_right {
    float: right;
    }

.move_graph_right img {
    width: 80%;
    display: block;
    }

.min_coin {
    width: 80px !important;
    float: right;
    }

.min_coin img {
    display: block;
    margin: 0 auto;
    width: 80%;
    }

.min_coin input {
    margin: 3px 0 !important;
    padding: 2px 0;
    font-size: 13px;
    }

.coinbox3 {
    text-align: center;
    margin: 15px 0;
    }

.coinbox3 .comm_coin_box {
    width: 30%;
    display: inline-block;
    margin: 0 1%;
    }

.coin_label {
    width: 70px;
    height: 70px;
    border: 1px solid #0095ac;
    border-radius: 50%;
    margin: 0 auto 5px;
    display: block;
    line-height: 70px;
    text-align: center;
    }

.coinbox3 .comm_coin_box input, .current_credit {
    /*margin: 5px 0;*/
    padding: 3px 0;
    font-size: 15px;
    margin: 0 auto;
    max-width: 100px;
    }

.width_fullimage {
    width: 100% !important;
    }

.coin_box_fullwidth {
    max-width: 150px !important;
    width: 80% !important;
    }

.welcome_comm_inner_bx {
    margin: 10px auto;
    width: 90%;
    padding: 20px 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border : 1px solid #0095ac;
    border-radius: 15px;
    }

.improvements_list_bx {
    display: block;
    }

.improvements_list_bx li {
    display: block;
    padding: 10px 0;
    }

.light_icon {
    width: 40px;
    height: 40px;
    background: url(../images/lighticon.png) no-repeat center center;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    margin-right: 2%;
    }

.light_label {
    display: inline-block;
    line-height: 40px;
    border: 1px solid #0095ac;
    border-radius: 20px;
    width: 67%;
    max-width: 66%;
    vertical-align: top;
    font-size: 20px;
    padding-left: 15px;
    }

.light_icon .question_icon {
  /*   height: 40px; */
    right: -20px;
    top: -26px;
   /*  line-height: 40px;
    width: 40px; */
    }

.coach_list_box .useicon{
    margin-right: 10px;
    }

.useicon img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    /* border: 1px solid #0095ac; */
    }

.coach_list_box {
    display: block;
    }

.coach_list_box li  {
    display: block;
    padding: 6px 0;
    border-top: 1px solid #0095ac;
    }

.coach_list_box li h4.comm_h4 {
    font-size: 18px;
    padding-bottom: 0;
    text-transform: capitalize;
    }

.coach_list_box li p.comm_para {
    font-size: 16px;
    padding: 0;
    }

.coach_name_box {
    display: inline-block;
    }

.coach_list_box li .white_btn {
    display: inline-block;
    float: right;
    margin-top: 15px;
    vertical-align: top;
    width: 80px;
    }

.coach_search_input {
    display: inline;
   /* padding: 7px 0 0 30px;*/
    margin-bottom: 10px;
    width: 100%;
    border: 0;
    font-size: 18px;
    }

.mar_bott10 {
    margin-bottom: 10px;
    }

.relative_bx {
    position: relative;
    }

.relative_bx .question_icon {
    right:20px;
    }

.main_panel_header.mar_bottom_none {
    margin-bottom: 0 !important;
    padding-bottom: 0;
    }

.border_bottom_none {
    border-bottom: 0 !important;
    }

.question_image {
    width: 80px;
    height: 80px;
    border: 1px solid #0095ac;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    }

.question_image img {
    width: 100%;
    display: block;
    }

.quest_list_box {
    display: block;
    text-align: center;
    }

.quest_list_box li {
    width: 22%;
    display: inline-block;
    margin: 0 1%;
    vertical-align: top;
    }

.quest_list_box li img {
    width: 100%;
    display: block;
    }

.quest_list_box li h5 {
    display: block;
    font-size: 15px;
    text-align: center;
    padding: 6px 0;
    text-transform: uppercase;
    }

.quest_list_box_outer {
   /*  border: 1px solid #0095ac;
    border-radius: 20px; */
    width: 90%;
    padding: 10px;
    margin: 10px auto 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

.border_bottom {
    border-bottom: 1px solid #0095ac;
    }

.credits_animation_box {
    margin: 10px auto 0;
    }

.credits_animation_box img {
    width: 50%;
    display: block;
    margin: 0 auto;
    }

.padding_bottom_none {
    padding-bottom: 0 !important;
    }

.add_cart_icon {
    background: #0095ac url("../images/cart_icon.png") no-repeat center center / 60% auto;
    border-radius: 50%;
    display: inline-block;
    height: 38px;
    position: absolute;
    right: 40px;
    top: 2px;
    width: 38px;
    border: 1px solid #0095ac !important;
    }

.add_cart_count {
    width: 38px;
    height: 38px;
    background: #0095ac;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    line-height: 36px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 3px;
    right: 0;
    border-radius: 50%;
    }

.blue_border_box {
    width:90%;
    border: 1px solid #0095ac;
    margin: 10px auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    }

.product_box {
    padding: 10px;
    margin: 0 25px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #0095ac;
    border-radius: 10px ;
    }

.product_right_box .add_cart_icon {
    position: relative;
    border: 1px solid #000;
    height: 48px !important;
    width: 48px !important;
    }


.product_right_box .add_cart_icon, .product_right_box .question_icon {
    display: inline-block;
    height: 50px;
    position: relative;
    right: 0;
    top: 0;
    vertical-align: top;
    width: 50px;
    margin: 10px 5px 10px 0;
   /*  float: right; */
    line-height: 50px;
    }
.product_left_box {
    /* width: 30%; */
    width: 100%;
   /*  display: inline-block;
    float: left; */
    }

.product_left_box img {
    width: 60%;
    max-width: 200px;
    min-width: 120px;
    display: block;
    margin: 0 auto;
    }

.product_right_box {
    width: 100%;
   /*  display: inline-block;
    float: right; */
    }

.product_right_box .comm_h4{
    padding: 0;
    font-size: 16px;
    }

.product_right_box .comm_para{
    padding: 3px 0;
    font-size: 15px;
    }

.circle_span_cunt {
    border: 1px solid rgb(0, 149, 172);
    border-radius: 50%;
    display: block;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    margin: 0 auto;
    width: 80px;
    font-weight: bold;
    }

.training_left, .training_right {
    width: 95%;
    display: block;
  /*   float: left; */
    margin: 0 auto;
    text-align: center;
    }


.training_right h4, .training_right .circle_span_cunt {
    width: 48%;
    display: inline-block;
    }

.training_right .circle_span_cunt {
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    border-radius : 20px;
    }

.orange_color_text {
    color: #d58c40;
    }

.blue_color_text {
    color: #0095ac;
    }

.green_color_text {
    color: #76b142;
    }

.red_color_text {
    color: #f00;
    }

.black_color_text {
    color: #000;
    }

.training_left img {
    /* width: 70%; */
    width: 100px;
    max-width: 200px;
    margin: 10px auto;
    display: block;
    /*margin-top: 10%;*/
    }

/*
.margin_top10 {
    margin-top: 5%;
    color: #ccc;
    font-size: 20px !important;
    }
    */
.circle_box_outer {
    width: 100px;
    float: left;
    text-align: center;
    }

.circle_box_outer .comm_para {
    font-size: 14px;
    }

.circle_box_outer .hearth_icon {
    background: url(../images/heart_icon.png) no-repeat center center;
    background-size: 50px;
    }

.graph_box_outer img {
    width: 100%;
    display: block;
    }

.right_white_btn {
    display: inline-block;
    float: right;
    width: 120px !important;
    }

.only_mar_bottom {
    margin-top: 30px;
    }

.result_screen_box {
    width: 95%;
    margin: 0 auto;
    padding-top: 10px;
    border-top: 1px solid #0095ac;
    }

.menu_icon{
    position: absolute;
    top: 7px;
    right: 0;
    /*background: #fff url(../images/menuicon.png) no-repeat center center ;*/
    /*background-size: 50% 50%;*/
    /*MK Changed*/
    background: #fff url(../images/no_image.png) no-repeat center center;
    background-size: 100% 100%;
    z-index: 101;
    border-radius: 50% !important
    }

.eat_log {
    background: url(../images/eat_logo.png) no-repeat center center;
    background-size: 100% 100%;
    }

.mind_log {
    background: url(../images/mind_logo.png) no-repeat center center;
    background-size: 100% 100%;
    }

.move_log {
    background: url(../images/move_logo.png) no-repeat center center;
    background-size: 100% 100%;
    }

.home_log {
    background: url(../images/home_icon.png) no-repeat center center;
    background-size: 100% 100%;
    }

.credits_log {
    background: url(../images/credits_icon.png) no-repeat center center;
    background-size: 100% 100%;
    }

.yesno_btn img {
    width: 90%;
    margin: 4px auto;
    /* Edison 20160503 */
    display: block;
    }

.yesno_btn .yesnoimgouter {
    width: 74%;
    margin: 9px auto;
    display: block;
    border-radius: 50px;
}
/* .yesno_btn.checked{
    background: #fff !important;
} */

.font_weightbold {
    font-weight: bold;
    }

.graph_bg_color img {
    margin: 0 auto;
    width: auto;
    }

.single_radio_box {
    border: 1px solid #0095ac;
    border-radius: 20px;
    padding: 5px;
    margin: 3px auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 80%;
    }

.single_radio_box .comm_para {
    display: inline-block;
    }

.radiobox {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px 0 0;
    cursor: pointer;
    }

.radiobox input {
    visibility: hidden;
    }

.radiobox {
    border: 1px solid #0095ac;
    background: #fff;
    }

.radiobtn {
    background: #fff url(../images/radiocheckicon.png) no-repeat center center / 70% auto;
    }

.two_radio_box .single_radio_box {
    width: 40%;
    display: inline-block;
    text-align: left;
    }

.two_radio_box {
    text-align: center;
    }

/*
.avgtime_box {
    background: #0095ac;
    border-radius: 20px;
    text-align: center;
    margin: 5px auto;
    width: 80%;
    }

.transavgtime_label {
    color: rgb(255, 255, 255);
    display: inline-block;
    float: left;
    font-size: 12px;
    line-height: 30px;
    width: 49%;
    }

.transmin_input {
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    background: transparent;
    border: 1px solid transparent;
    color: #fff;
    float: right;
    width: 49%;
    }
    */
.textarea_box textarea {
    width: 80%;
    min-height: 120px;
    background: #0095ac;
    border-radius: 20px;
    border: 0;
    display: block;
    margin: 0 auto;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

.compulsory_text {
    color: #0095ac;
    }

.selectdropdown {
    border-radius: 18px;
    display: block;
    font-size: 14px;
    margin: 10px auto !important;
    padding: 12px 0;
    text-align: center;
    position: relative;
    text-align:-moz-center;
    text-align:-webkit-center;
    outline: none;
    }
.select_opcity {
    opacity: 0;
    position: absolute;
    top: -9px;
    right: 0;
    margin: 0;
    left: 0;
    }
.profileimages {
    display: block;
    /* 	height: 120px; */
    margin: 0 auto;
    position: relative;
    /* width: 120px; */
    border-radius: 50%;
    cursor: pointer;
    /* width: 100%;
    height: 100%; */
    width:100px;
    height:100px;
    }

.profileimages span {
    /*bottom: 13px;*/
    font-size: 12px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    cursor: pointer;
    /*ED 2016 May 10*/
    line-height: 100px;
    }

.profileimages img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    }
/*SN added profile pic choose photo popup*/
.choosephoto_popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    z-index: 1001;
    }

.choosephotocnt {
    width: 400px;
    height: 200px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    }

.choosephoto_popup  h2{
    position: relative;
    width: 150px;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    }

.choosephoto_popup  h2 span {
    width: 120px;
    height: 120px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
    }

.choosephoto_popup h2:hover span.photoicon {
    background-size: 70% auto;
    }

.choosephoto_popup :hover  span.galleryicon {
    background-size: 70% auto;
    }

.choosephoto_popup span.photoicon {
    background-size: 70% auto !important;
    }

.choosephoto_popup span.galleryicon {
    background-size: 70% auto !important;
    }

.choosephoto_popup  h2 input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    }

.choosephoto_popup  h2,.infobox_popup  h2{
    font: bold 13px/18px arial;
    padding: 10px 0;
    text-align: center;
    }

.hidePg {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -10;
    }


.choosephoto_popup {
    background: rgba(255, 255, 255, 0.8);
    }

/* .choosephoto_popup h2:hover span.photoicon {
    background-color: #0B7688 url(../images/photoicon.png) no-repeat center center;
    }

.choosephoto_popup :hover  span.galleryicon {
    background: #0B7688 url(../images/photogalery.png) no-repeat center center;
    } */

.choosephoto_popup span.photoicon {
    /* background:  url(../images/photoicon.png) no-repeat center center; */
    background-image: url(../images/photoicon.png);
    background-color: #0095ac;
    background-repeat: no-repeat;
    background-position: center center;
    }

.choosephoto_popup span.galleryicon {
    /* background: #0095ac url(../images/photogalery.png) no-repeat center center; */
    background-image: url(../images/photogalery.png);
    background-color: #0095ac;
    background-repeat: no-repeat;
    background-position: center center;
    }

.choosephoto_popup  h2,.infobox_popup  h2{
    color: #0095ac;
    }

.hidePg {
    background-color:rgba(255,255,255,0.9);
    }

/*
.signaturebox_img {
/* 	background: #0095ac;
    border-radius: 20px;
    color: #fff; * /
    height: 100px;
    }
*/
.scroll_tabs_active {
    font-size: 20px !important;
    font-weight: normal;
    width: 75px;
    margin: 0 auto;
	display: inline-block;
    }

.clsdaytabs  {
    /* margin-top: 3px; */
    width:30%;/* SN - 31/03/2016 - */
    display:none;/* SN - 31/03/2016 - */
    /*ED 10 May 2016*/
    line-height: 34px;
    }

/* input text align center */

input { 
    text-align:center;
    }
#facebook.white_btn{
    width:200px !important;
}
/*SN Login Error*/
.loginmessage, .errortext {
    display: block;
    text-align: center;
    font-size: 14px !important;
    margin: 10px 0 !important;
    }

/*
.result_span_icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #0095ac;
    display: inline-block;
    margin-right: 10px;
    }
    */
.result_span_icon img {
    width: 100%;
    display: block;
    }
.result_ul li {
    padding: 5px 0;
    }
.result_ul li .comm_para {
    display: inline-block !important;
    padding: 15px 0;
    vertical-align: top;
    }
.scroll_tabs {
    width: 98%;
    margin: 0 auto 10px;
    text-align: center;
    border-bottom:  1px solid #0095ac;
    position:relative;
    }
.scroll_tabs .scroll_label {
    font-size: 15px;
    padding: 10px 0;
    display: inline-block;
    }
.progress_group {
    position: relative;
   /* position: absolute;
    right:0;
    left: 0;
    bottom: 55px; */
    }
.progress_group:after,.progress_group:before {
    position: absolute;
    top: -20px;
    color: #000;
    font-size: 10px;
    }
.progress_group:before {
    content: "0%";
    left: 0;
    }
.progress_group:after {
    content: "100%";
    right: 0;
    }
.graph_bg_progress {
    width: 150px;
    height: 90px;
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    }

.graph_bg_progress img {
    width: 100%;
    height: 100%;
    }

.graph_top_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    }

.graph_bottom_bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    }

.graph_center_bg {
    position: absolute;
    width: 100%;
    z-index: 9;
    height: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,149,172,0.9);
    }

.graph_bg_gray {
    background: rgba(110,114,122,0.9);
    }

.graph_bg_blue {
    background: rgba(0,149,172,0.9);
    }

.graph_bg_green {
    background: rgba(128,160,126,0.9);
    }


.graph_bg_gray:after {
    background: url(../images/graph_center_bg_top2.png) no-repeat 0 0 !important;
    background-size: 100% 100% !important;
    }

.graph_bg_blue:after {
    background: url(../images/graph_center_bg_top.png) no-repeat 0 0 !important ;
    background-size: 100% 100% !important;
    }

.graph_bg_green:after {
    background: url(../images/graph_center_bg_top3.png) no-repeat 0 0 !important ;
    background-size: 100% 100% !important;
    }

.checked{
    background: #fff !important;
	color: #0095ac !important;
    -webkit-box-shadow: 0 0 0 1px #0095ac;
    -moz-box-shadow: 0 0 0 1px #0095ac;
    box-shadow: 0 0 0 1px #0095ac;
    }

/*ED - Highcharts center align*/
.highcharts-container {
    margin: 0 auto;
    }

.min_coin .graph_bg_progress {
    width: 80px !important;
    height: 50px !important;
    }

.menu_side_box {
    position: fixed;
    top: 54px;
    /* right: 4px; */
    right: -200px;
    bottom: 0;
    width: 200px;
    /* border-radius: 20px;  */
    display: none;
    border-bottom: 0;
    background: #0095ac;
    z-index: 100;
/* 	border: 1px solid #fff; */
    }

.home_menulist_box {
    display: block;
    }

.home_menulist_box li {
    display: block;
    background: #0095ac;
    color: #fff;
    padding: 8px 0;
    border-bottom: 1px solid #1B8696;
    }

.home_menulist_box li:last-child {
    /* border-radius: 0 0 20px 20px;  */
    border-bottom: 0;
    }

.home_menulist_box li:first-child {
    /* border-radius: 20px 20px 0 0;  */
    }

/* input text align center */

input { 
    text-align:center;
    }

::-webkit-input-placeholder {
    text-align:center;
    color: #fff;
    }

:-moz-placeholder { /* Firefox 18- */
    text-align:center;
    color: #fff;
    }

::-moz-placeholder {  /* Firefox 19+ */
    text-align:center;
    color: #fff;
    }

:-ms-input-placeholder {  
    text-align:center;
    color: #fff;
    }

.clientinfo .input_blue::-webkit-input-placeholder {
    text-align:left !important;
    }

.signaturebox {
    background: #0095ac;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    }

.signaturebox .comm_h4 {
    color: #fff !important;
    font-size: 13px;
    text-align: center;
    text-transform: capitalize;
    }

/*
.pup_bg {
    position: fixed;
    right: 0;
    /*left: 0;* /
    bottom: 0;
    left: 0;
    background: rgba(255,255,255, 0.6);
    width: 100%;
    height: 100%;
    display: none;
    }
    */
.signaturebox {
    width: 95%;
    }
/*
.signature_pup {
    width: 80%;
    height: 250px;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto !important;
    position: fixed;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    border: 2px solid #0095ac;
    display: none;
    }
*/
.signature_pup .white_btn {
    width: 100px;
    display: inline-block;
    margin-top: 10px;
    }
.swiper-container-horizontal {
    overflow-x: hidden;
    }
/*Swiper SCroll Issue*/
#question-forms {
    overflow:hidden;
    }

.preferred_btn {
    background: #0095ac;
    color: #fff;
    line-height: 25px;
    height: 25px;
    font-size: 20px;
    width: 25px;
    text-align: center;
    position: absolute;
    top: -5px;
    right: -7px;
    border-radius: 50%;
    font-weight: bold;
    font-family: arial;
    display : none !important;
    }

.lamp_popup {
    position: fixed;
    width: 92%;
    height: 75%;
    bottom: 0;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.75);
    margin: auto;
    padding: 10px;
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    border: 1px solid rgba(255, 255, 255, 0.75);
    border-radius: 10px;
    z-index: 101;
    }

.lamp_popup .comm_para {
    color: #1f1e1e;
    line-height: 20px;
    }

/*MK - Loading On Save Button*/
.clsprocessing{
    position: relative;
    }

.clsprocessing:after {
    background: url('../images/loading.gif') no-repeat 0 0;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
    width: 20px;
    height: 20px;
    }

/*SN Added TEMP May be replaced Later*/
.comm_popup_inner {
    /*border-radius: 5px;*/
    max-width: 400px;
    min-width: 250px;
    width: 90%;
    position: fixed;
    z-index:12;
    top:0;
    /*bottom:0;*/
    left:0;
    bottom:0;
    right:0;
    height: 175px;
    margin: auto;
    border:1px solid #0095ac;
    background:#fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 inset #0095ac;
    -webkit-box-shadow: 0 0 10px 0 inset #0095ac;
    }

.popupmask{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:10;
    background: rgba(255,255,255,0.7);
    }

.pupopfooter {
    text-align: center;
    }

.pupopfooter .white_btn {
    display: inline-block;
    width: 70px;
    margin: 0 4px;
    }

.pupopfooter {
    margin: 10px 0;
    }

.popuptitle {
    display: block;
    text-align: center;
    }

.popuptitle.comm_h4 {
    padding: 15px 0;
    display: block;
    }


.pupopfooter .white_btn {
    display: inline-block;
    height: 35px;
    line-height: 30px;
    margin: 0 4px;
    width: 70px;
    }

.menu_mask_bg {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 100;
    display: none;
    }

div#question-forms {
    overflow: hidden;
    }

.pnlinfocurosel.swiper-container-horizontal {
    overflow-x: hidden;
    overflow-y: auto;
    width: 90%;
    margin: 0 auto;
    }

.home_slider_inner.swiper-container-horizontal {
    overflow-x: hidden;
    overflow-y: auto;
    }

/*SN Added TEMP May be replaced Later*/
.comm_popup_inner {
    /*border-radius: 5px;*/
    max-width: 400px;
    min-width: 250px;
    width: 90%;
    position: fixed;
    z-index:12;
    top:0;
    /*bottom:0;*/
    left:0;
    bottom:0;
    right:0;
    height: 175px;
    margin: auto;
    border:1px solid #0095ac;
    background:#fff;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 inset #0095ac;
    -webkit-box-shadow: 0 0 10px 0 inset #0095ac;
    }

.popupmask{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:10;
    background: rgba(43, 37, 37, 0.51);
    }

.pupopfooter {
    text-align: center;
    }

.pupopfooter .white_btn {
    display: inline-block;
    width: 70px;
    margin: 0 4px;
    }

.pupopfooter {
    margin: 10px 0;
    }

.popuptitle {
    display: block;
    text-align: center;
    }

.popuptitle.comm_h4 {
    padding: 15px 0;
    display: block;
    }

.pupopfooter .white_btn {
    display: inline-block;
    height: 35px;
    line-height: 30px;
    margin: 0 4px;
    width: 90px !important;
    background: #0095ac;
    color: #fff;
    }

.menu_mask_bg {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 100;
    display: none;
    }

.home_welcome_ctn_bx {
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    width: 100% !important;
    }

.mar_top50 {
    margin-top: 50px;
    }

.coachimage{
    display: inline-block;
    }

.padd_12 {
    padding: 12px 0 !important;
    }

.goback_btn {
    width: 45px !important;
    height: 45px !important;
   /*  margin: -50px 0 10px 10px; */
    margin: 5px auto;
    font-size: 15px;
    }

.no_compulsory:after {
    display: none !important;
    }

.lamp_popup .white_btn {
    width: 100px;
    background: #fff;
    color: #0095ac;
    margin-top: 20px;
/* 	width: 100px;
    background: #fff;
    color: #0095ac;
    position: absolute;
    bottom: -24px;
    right: 0;
    left: 0; */
    display: none;
    }

/*
.coach_detail_arrow {
    width: 30px !important;
    height: 30px !important;
    font-size: 30px !important;
    border: 0;
    }
*/
.clientinfo .input_blue {
    padding-left: 50% !important;
    text-align: left !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    line-height: 40px;
    }

.clientinfo .input_blue.selectdropdown {
    padding-left: 0 !important;
    }

.clientinfo .input_blue {
    /* line-height: 44px !important; */
    }

/*
.birthday_label {
    width: 34% !important;
    }

.clientinfo .input_blue.birthday_input {
    padding-left: 44% !important;
    }
*/
.toastbox{
    max-width: 400px;
    width: 90%;
    height: 60px;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    display: none;
    z-index: 2020;
    }

.toastbox p {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    }

.toastbox{
    background: rgba(29, 35, 74, 0.72);
    border: 1px solid #0095ac;
    }

.toastbox p {
    color: #fff;
    }
.proceed{
    font-size:10px !important;
    }


.choosephoto_popup .close_btn {
    width: 35px;
    height: 35px;
    background: #E43838;
    color: #fff;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -25px;
    right: -26px;
    }

.clsinputfieldouterstyle1{
    background: #0095ac;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
}

.clsinputfieldouterstyle1 input[type='date']{
    width: 100% !important;
    -webkit-appearance: none !important;
    padding-left: 51% !important;
    /*ED DOB IP BOX*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }


.clsinputfieldouterstyle2.clsinputfieldouterstyle1 .clientinfo_label {
    width: 35% !important;
    }
    /*ED DOB IP BOX - Ends*/
.clsinputfieldouterstyle1 input::-webkit-inner-spin-button, .clsinputfieldouterstyle1 input::-webkit-calendar-picker-indicator {
    display: none !important;
}
/*Edison - Right Arrow button*/
/*MK Changed - for left arrow*/
span.slider_left_arrow {
    left: 0;
}
span.slider_right_arrow,span.slider_left_arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    /* background: #f00; */
    display: block;
    margin: auto 0;
    /*z-index: 10000;*/
    z-index: 100;
    line-height: 40px;
    font-size: 24px;
    color: #0095AC;
    text-align: center;
}
span.slider_right_arrow {
    right: 0;
}
/*
.lbottom,.rbottom{
    position:absolute;
    bottom:5px !important;
}
.lbottom {
    left:5px !important;
}
.rbottom {
    right:5px !important;
}

.fixed_lamp {
    position: fixed !important;
    bottom: 65px !important;
    right: 0 !important;
    }

.fixed_question_icon {
    position: fixed !important;
    bottom: 65px !important;
    left: 20px !important;
    top: auto !important;
    z-index: 7;
    }
    */
.clientinfo .security_hdr.facebook_bx + p.comm_para.txt_cntr.transneededinfo {
    margin-bottom: 25px;
    }

.clientinfo .security_hdr.facebook_bx {
    margin-bottom: 10px;
    }

/*
.comm_txt_bold{	
    font-weight: bold !important;
    font-size: 16px;
    }
*/
.canvasjs-chart-credit{
    display: none !important; /* By SNK */
    }

.intro_logo {
    position: fixed;
    width: 40%;
    right: 20px;
    bottom: 69px;
    }

.intro_logo img {
    width: 100%;
    }
/*MK Apply Ellipsis*/
.clsapplyellipsis{
    text-overflow: ellipsis !important;
    white-space:nowrap;
    overflow:hidden;
}
/*Edison Week Label*/
.week_label {
    font-size: 15px;
    float: right;
    margin-top: -20px;
    }
/*Edison - Result Chart*/
.info_graph_box .move_graph_left, .info_graph_box .move_graph_right {
    width: 100% !important;
    display: block !important;
    float: none !important;
    }
.info_graph_box .move_graph_right {
    width: 40% !important;
    margin: 0 auto !important;
    }

/*
#resultchart_thumbs {
    width: 120px !important;
    height: 120px !important;
    overflow: hidden !important;
    margin: 0 auto !important;
    }
*/
.info_graph_box .move_graph_left, .info_graph_box .move_graph_right {
    width: 100% !important;
    display: block !important;
    float: none !important;
    }

.info_graph_box .move_graph_right {
    width: 40% !important;
    margin: 0 auto !important;
    }

/*
.deshboardslider .fixed_lamp, .deshboardslider .fixed_question_icon  {
    position: relative !important ;
    display: inline-block;
    }
*/
.week_label {
    font-size: 15px;
    float: right;
    margin-top: -20px;
    }
/*Edison*/
.lamp_popup_close {
    width: 30px;
    height: 30px;
    float: right;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    /*font-size: 15px;*/
    font-size: 20px;
    color: #1f1e1e;
    }

.hints_img {
    margin: 10px 0;
    }

.hints_img img{
    display: block;
    width: 100%;
    height: auto;
    }
.white_btn.addnewuser{
    display: none !important;
    }

.poweredby{
    content: "powered by shanethatech.com";
    position: absolute;
    bottom: 6px;
    right: 0;
    font-size: 10px;
    color: #1B565F;
    left: 0;
    text-align: center;
    }

.poweredby label {
    display: block;
    text-align: center;
    font-size: 9px;
    }

.graph_center_bg:after {
    content: "";
    width: 100%;
    height: 10px;
    position: absolute;
    background-size: 100% 10px;
    top: -10px;
    left: 0;
    right: 0;
    display: none;
    }
/* .graph_bg_gray.graph_center_bg:after, .graph_bg_green.graph_center_bg:after, .graph_center_bg.clsnocurve:after{
    display: none !important;
    } */
.lamp_popup_ctn {
    overflow: auto;
    height: 88%;
    }

.clstemploader {
    position: relative;
    height: 100%;
    }

.clstemploader img{
    margin: 0 auto;
    /*top: 50%;*/
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    }

/*MK Question Splitted Text*/
/* .stepcounter_ctn_bx {
    width: 80% !important;
    } */

.questionnote-wrapper {
    width:100%;
    padding: 0 10px;
    margin:0 auto;
    /*MK Added - */
    /*max-height: 70px;*/
    /*overflow: auto;*/
    /*ED Added Number Form Issue*/
    position:relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.questionnote {
    /* Ed 20160430 */
    text-align:center;
    /*MK Commanded and moved to wrapper * /
    max-height: 40px;*/
    font-size: 18px;
    }
/*ED Questions note on bottom Questionform*/
/* */
.pageloading {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: #fff;
    z-index: 10000;
    display: none;
    }

.pageloading img {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 20px;
    height: 20px;
    margin: auto;
    }

.divices_h5 {
    padding: 10px 0 10px 10px;
    color: #fff;
    font-size: 15px;
    background: #0095ac;
/* 	margin-bottom: 10px; */
    }

.divices_fl_box {
    width: 65%;
    float: left;
    display: inline-block;
    }

.divices_fr_box {
    width: 33%;
    float: left;
    display: inline-block;
    }

.divices_fr_box img {
    width: 100%;
    height: auto;
    display: block;
    }
/* */
.stop_counter_ctn_bx {
    padding: 0 !important;
    max-height: 420px;
    padding-top: 10px !important;
    }

/*
.divices_box {
    padding: 0 5px ;
    border-bottom:1px solid #0095ac;
    }
*/
.divicesproduct_box .divices_box:last-child {
    border-bottom: 0 !important;
    }

.timeboxpopup_outer, .resitboxpop_outer,  .privacypopup{
    background: rgba(255, 255, 255, 0.65);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 10000;
    }
.privacypopup{
    background:#fff !important;
}
.timeboxpop_inner {
    width: 250px;
    height: 130px;
    border: 1px solid #0095ac;
    border-radius: 10px;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px 0 0 0;
    background: #fff;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    }

.resitboxpop_inner {
    /*  width: 80%;
   height: 70%; */
    /* Ed 20160503 */
    height: 55%;
    border-radius: 20px;
    background: #fff;
    position: fixed;
	/* right: 0;
	left: 0; */
    top: 0;
    padding: 10px;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    /* border: 1px solid #0095ac; */
    }

.resitboxpop_inner .comm_para {
    /* color: #fff !important; */
    }

.timeboxpop_inner .circle_blue_btn {
    width: 60px;
    height: 60px;
    }

.resitboxpop_inner .circle_blue_btn {
    display: inline-block !important;
    width: 60px;
    height: 60px;
    font-size: 12px;
    }

.resitbox_content {
    max-height: 90%;
    overflow: auto;
    }
/*ED Added - Multi Select Box*/
.licheckoptions .act_select {
    background: none !important;
    position: relative;
    color: #575b5b !important;
	font-size: 16px !important;
	font-weight: bold !important;
    }

.licheckoptions li {
    position: relative;
    text-align: left !important;
    padding-left: 55px;
    }

.markbtn_check{
    /*ED width: 28px;
    height: 28px;*/
    width:24px;
    height:24px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    float: left;
    position: absolute;
    left: 14px;
    top: 8px;
    border: 1px solid #0095ac;
    }

.act_select .markbtn_check {
    background: #0095ac !important;
    /*background: url(../images/radiocheckicon.png) no-repeat center center !important;
    background-size:  90% 90% !important;*/
    }
.formfocus_ipentry .ipfilled, .questions_list .input_blue.ipfilled {
	background: #fff !important;
	border: 1px solid #0095ac ;
	color: #575b5b  !important;
	}
	
.clsregdob label.ipfilled {
	border:none !important;
	}
	
/* .clsregdob input.ipfilled {
    border:none !important;
} */

.clsregdob{
    /* border:1px solid #0095ac; */
    }

#regdob {
    -webkit-appearance: none;
    -moz-appearance: none;
    /*appearance: none;*/
    }
/*
::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: #000 !important;
}*/


/* ED 20160503 */
.privacy_bx {
    text-align: center;
    }

.privacy_bx a {
    display: inline-block;
    border-bottom: 1px solid rgb(67, 70, 74);
    margin: 10px 0;
    padding: 5px 0;
    }

.privacy_bx p {
    width: auto;
    display: inline-block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
    }

.privacy_bx .checkouter  {
    vertical-align: top;
    display: inline-block;
    margin-top: 7px;
    margin-right: 7px;
    }

.privacy_header {
    padding: 6px 0;
    width: 85%;
    text-align: center;
    margin: 0 auto 1px;
    /* border-bottom: 1px solid #0095AC; */
    font-size: 14px;
    display: none;
    }

.privacy_bg {
    background: #fff;
    z-index: 1 !important;
    display: none;
    }

.privacy_back {
    bottom: 62px !important;
    position: absolute;
    right: 0;
    left: 0;
    /*bottom: 18px; */
    }

.two_btn {
    text-align: center;
    }

.two_btn .circle_blue_btn {
    display: inline-block;
    margin: 5px 10%;
    vertical-align: top;
    }
   
.newwelcome_bx {
    width: 90%;
    border: 1px solid #0095ac;
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    }

/*
.newwelcomebx_inner {
    overflow: auto;
    height: 150px;
    }
    */
.newwelcome_bx .two_btn .circle_blue_btn {
    margin: 10px 3%;
    }

.newwel_left {
   /*  width: 40%;
    float: left; */
    }

.newwel_right {
    width: 60%;
    float: left;
    }

.newwel_right span {
    padding: 9px 0;
    display: block;
    border: 1px solid #0095ac;
    border-radius: 20px;
    margin: 10px 0;
    font-size: 12px;
    text-align: center;
    position: relative;
    }

.newwelcome_head_bx {
 /*    width: 90%; */
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0 15px;
    }

.newwel_left img {
    display: block;
    margin: 0 auto;
    width: 90%;
    }

.activity_headnew .newwel_right {
    width: 48% !important;
    margin: 0 1%;
    }

.activity_headnew .newwel_right span {
    font-size: 10px;
    margin-bottom: 5px !important;
    }

.activity_headnew .white_btn, .activity_headnew .input_blue {
    width: 100%;
    height: 33px;
    font-size: 12px;
    margin-bottom: 5px !important;
    }

.newcomm_txt {
    /* width: 90%; */
    height: 90%;
    overflow: auto;
    margin: 15px auto;
    padding: 10px;
    /*border: 1px solid #0095ac;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #0095ac;
    border-radius: 15px;
    }

.thankyoupagecontent .onlycontentbox {
   /*  width:90% !important;
    height:100% !important;
    margin:15px 5%; */
}
    /*

.onlycontentbox.thankyoupagecontent .swiper-wrapper {
    width: 90%;
    border: 1px solid red;
    margin: 0 auto;
}
.onlycontentbox.thankyoupagecontent {
    width:100% !important;
    padding:inherit !important;

    }*/
.newcomm_txt {
    /*height: 170px;
    height: 110px;*/
    border: none;
    padding: 0;
    }

.yourscore_box {
    /* margin: 15px 0; */
    text-align: center;
    height: 250px !important;
    margin: 0 auto;
}

.yourscore_box h3{
    display: block;
    font-size: 25px;
    }

.yourscore_box .comm_h4{
    display: block;
    }


.newcontbx {
   /*  width: 88%;
    margin: 10px auto 0;
    height: 270px;
    overflow: auto; */
    margin: 0 25px;
    }

button.white_btn.yoursteps_btn {
    font-size: 13px;
    width: 90%;
    margin: 5px auto;
    }

.activityinfo_popup_inner .eduction .swiper-wrapper{
    overflow:hidden;
    width:100%;
}
.activityinfo_popup_inner .eduction{
    width:95%;
    margin: 0 auto;
    position: relative;
}
.activityinfo_popup_inner .educationcontent{
    overflow-y:auto;
}
.clsactstepgame.eduction {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #0095ac;
    border-radius: 15px;
    position: relative;
    height: 200px;
    /*padding: 5px;*/
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    }
.educationcontent {
    position:relative;
    width:100%;
    top: -20px;
    display: none;
    }

.swiper-slide.edu_inner {
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    }

/*
.edu-prev, .edu-next {
    width: 30px;
    height: 30px;
    color: #0095ac;
    text-align: center;
    display: block;
    top:0;
    bottom: 0;
    font-size: 15px;
    position: absolute;
    margin: auto 0;
    }

.edu-prev {
    /*left: -30px;* /
    left: 10px;
    }

.edu-next {
    /*right: -30px;* /
    right: 10px;
    }
*/
.creditchart {
   /*  width: 40%;
    float: left;
    overflow: hidden;
    height: 110px; */
}
.circleindex {
    position: absolute !important;
    left: -26px !important;
    border: none !important;
    top: -35px !important;
    bottom: 0;
    right: 0;
    height: 49px;
    text-align: center;
    width: 50px;
    font-size: 20px;
    margin: auto;
    background: #fff;
    border-radius: 50px;
    /*ED 2016 May 10*/
    line-height: 50px;
    text-indent: -9999px;
    }
/*ED Close Button*/
.activityinfo_popup .close_btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(0, 149, 172);
    color: #fff;
    border: 0;
    position: absolute;
    right: 27px;
    top: 19px;
    z-index:9999;
}
/*ED 10 May 2016 */
.day_credit .creditchart{
    width:100%  !important;
    height: 140px !important;
    margin: 0 auto !important;
    float: none !important;
    }

   

.day_credit .comm_coin_box {
    float: left !important;
    position: relative;
    top: -28px;
    width: 100%;
    }

.day_credit .comm_coin_box input {
    font-size: 16px;
    padding: 4px 0;
    width: 85px;
    margin: 3px auto;
}

.day_credit .circleindex {
    /*top: -41px !important;*/
    left: -36px !important;
    top: -35px !important;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    line-height: 70px;
    }

.scroll_tabs ul{
    width: 85%;
    margin: 0 auto;
}

.step_left {
    width: 39%;
    float: left;
    display: inline-block;
    }

.step_left .creditchart {
    width: 100% !important;
    display: block !important;
    float: none !important;
    }

.step_left .comm_h4 {
    text-align: center;
    display: block;
    position: relative;
    top: -35px;
    font-size: 13px;
    }

.step_left input {
    text-align: center;
    display: block;
    width: 80px;
    margin: 0 auto;
    position: relative;
    top: -36px;
    border: 1px solid #0095ac;
    line-height: 34px;
    border-radius: 18px;
    font-size: 13px;
    }

.step_right {
   /*  width: 60%;
    float: right;
    display: inline-block; */
    margin: 0 15px
    }

.step_right .input_blue {
    width: 95% !important;
    }

/* .step_right .white_btn {
    line-height: 36px !important;
    width: 90px !important;
    } */

.step_left .highcharts-container {
    top: -10px !important;
    }

.clsstaticcontent {
    padding: 13px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    overflow: auto;
    }

.newwel_right span .question_icon {
    width: 25px;
    height: 25px;
    font-size: 20px;
    line-height: 25px;
    top: -10px;
    right: -12px;
    }

.quic_popupbox_bg, .info_popupbox_bg  {
    position:  fixed;
    top: 70px;
    right: 0;
    left: 0;
    bottom: 55px;
    background: #fff;
    margin: auto;
    z-index: 100;
    display: none;
    }

.quic_popupbox_inner {
    position:  fixed;
    top: 90px;
    right: 20px;
    left: 20px;
    bottom: 95px;
    background: #fff;
    margin: auto;
    z-index: 105;
    border: 1px solid #0095ac;
    border-radius: 20px;
    padding: 0;
    box-sizing : border-box;
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    display: none;
    }

.info_popupbox_inner {
    position:  fixed;
    top: 70px;
    right: 0;
    left: 0;
    bottom: 95px;
    background: #fff;
    margin: auto;
    z-index: 105;
    box-sizing : border-box;
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    display: none;
    }

.quic_popupbox_inner .close_btn {
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(0, 149, 172);
    color: #fff;
    border: 0;
    position: absolute;
    right: -12px;
    top: -12px;
    z-index: 1000;
    }

.perfill_inner {
    /* border: 1px solid #0095AC; */
    height: 30px;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    position: absolute;
    }


/*ED issue*/
.cpercentage.perleft {
    right: 40px !important;
    }

label.clientinfo_label.ipfilled {
        border: 0 !important;
    height: 38px;
    left: 10.30%;
    /*background: transparent !important;*/
    }

label.clientinfo_label.ipfilled + .input_blue {
    padding-left: 51% !important;
    width: 100% !important;
    }

.logout_btn {
    border: none;
    font-size: 14px;
    color: #0095ac;
    }

.que_popupbox_bg {
    background: rgba(255,255,255,0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    }

.que_popupbox {
    width: 90%;
    height: 80%;
    border: 1px solid #0095ac;
    border-radius: 20px;
    background: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1005;
    margin: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: none;
    }

.que_popupbox .lamp_popup_header {
    margin-bottom: 10px;
    }

.que_popupbox .question_icon {
    right: auto;
    left: 10px;
    }

.que_popupbox .lamp_popup_close {
    color : #0095ac;
    }

.que_popupbox_cnt {
    height: 91%;
    overflow: auto;
    }

.thankesbox  {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255,255,255, 0.9);
    display: none;
    }

.thankesbox_cnt {
    width: 90%;
    height: 80%;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1005;
    background: rgba(255,255,255,1);
    border: 1px solid #0095ac;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: auto;
    display: none;
    }

.startphase_para {
    text-align: center;
    }

.startphase_para .comm_para {
    display: inline-block;
    }

    /*ED DOB IP BOX  - Starts*/
.clsinputfieldouterstyle2.clsinputfieldouterstyle1 input[type='date']{
    padding-left: 45% !important;
    text-align: left !important;
    }

.privacypopup footer, .resitboxpop_outer footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    }

.errortext.ipfilled {
    color : #f00 !important;
    border: 1px solid transparent !important;
    }

label.clientinfo_label.dob_label.transdob {
    width: 89% !important;

    left: 0;

    text-align: left;

    border-radius: 20px !important;

    height: 40px;

    top: 2px;

    background: #FFF;

    /* display: none; */

    padding-left: 10%;

    margin-left: 1px;
    }

.clsinputfieldouterstyle2.clsinputfieldouterstyle1.clsregdob {
    position: relative;
    }

input#regdob {
    text-align: center !important;
    padding-left: 0 !important;
    }

span.totalprecentage {
    color: #575B5B !important;
    }
#dailysteptimer {
    margin: 0 auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    /*appearance: none;*/
    }

.info_btn {
    right: auto;
    left: 26px;
    top: auto;
    bottom: 20px;
    font-size:10px;
    }

.activityinfo_popup_inner {
    width: 90%;
    height: 70%;
    border-radius: 20px;
    border: 1px solid #0095ac;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    position: fixed;
    margin: auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 1000;
    padding: 10px;
    }

.activityinfo_popup_inner.educationcontent{
    overflow: auto;
    }

.activityinfo_popup { 
    width: 100%;
    background: #fff;
    top: 70px;
    right:0;
    bottom: 55px;
    left: 0;
    position: fixed;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 99999;
    display: none
    }

/*
.activityinfo_popup .edu-prev {
    left: 3px ;
    }

.activityinfo_popup .edu-next {
    right: 3px;
    }
    */

.edit_btn {
    text-align: center;
    }

.edit_btn .white_btn {
    width: auto !important;
    display: inline-block;
    margin: 0 5px;
    }

/* .edit_btn .white_btn:hover{
    text-decoration: underline;
    } */

/* Ed 20160511 */
/* .register.editprofile.formfocus_ipentry {
    padding-top: 10px;
    } */

.question-forms_eachday .comm_panel_bx {
    padding-bottom: 0;
    margin-bottom: 0;
    }
	
/*MK Ellipsis*/

.limitwrap{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    display:block;
    }

.comm_banner_img_box {
    position : relative;
    overflow: hidden;
	margin-bottom: 15px;
    }

.comm_banner_img_box img {
    width: 100%;
    display: block;
    }

.banner_logo {
    width: 50% !important;
    position : absolute;
    top: 10px;
    left: 10px;
    display: block;
    }

.comm_banner_img_box h4 {
    display: block;
    position: absolute;
    bottom: -45px;
    left: 0;
    right: 0;
    background: rgba(0, 149, 172, 0.5);
    color: #fff;
    font-size: 20px;
    text-align: center;
	line-height: 45px;
    font-weight: normal;
    }

.slider_btn_bx .white_btn, .sequritybtn {
    background: #0095ac !important;
    color: #fff !important;
    }

.home_slider_inner .home_txt_cnt_header h4, .home_slider_inner .home_txt_cnt p {
    padding: 0 15px !important;
    }

.home_cnt_bx img {
    display: none;
    }

.log_bx {
    width: 33%!important;
    margin :2px auto 0 !important;
    }

.loginform_bx {
    padding-top: 0 !important;
    }

.questions_list .input_blue:focus, .input_blue:focus  {
    background: #fff !important;
    border: 1px solid #0095ac !important;
    color: rgb(67, 70, 74) !important;
    }

div#question-forms {
    overflow: hidden;
    /*overflow-y: auto; By Sankar*/
    /* height: 410px; */
    }

.welcome_ctn_header .question_icon{
    /*bottom: -25px; By Sankar*/
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size : 16px;
    left: -14px;
    top: 7px;
    }

.ftr_bx_two .menuspan span {
    padding-top: 37px;
    color: #fff;
    display: block;
    font-size: 11px;
    background-size: auto auto;
    background-position: center 7px;
    }

.ftr_bx_two .menuspan{
    height: 54px;
    width: 46px;
    margin: 0 2px;
    }

.ftr_bx_two .menuspan.act{
    background: rgb(150, 155, 162);
    padding: 6px 0 0 0;
    margin-top: -5px;
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 1px 0 2px rgba(86, 86, 90, 0.28) inset;
    -webkit-box-shadow: 1px 1px 0 2px rgba(86, 86, 90, 0.28) inset;
    }

.newwel_h4 {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    color: #686864;
    text-align: center;
	font-weight: normal;
    }

.shop_coin_box {
    width: 100% !important;
    max-width : 100% !important;
    }

.shop_coin_box .graph_bg_progress, .shop_coin_box .shop_coin_lf {
    width: 49%;
    float : left;
    }

.shop_coin_lf h5 {
    display: block;
    font-size: 14px;
    color: #6c7075;
    font-weight: normal;
    text-align: center;
    margin-bottom: 10px;
    }

.shop_coin_lf input {
    max-width: 120px;
    display: block;
    margin: 0 auto;
    }

.shop_coin_box .graph_bg_progress {
    width: 124px !important;
    height: 70px;
    }

.shop_btns {
    text-align: center;
    }

.shop_coin_box .comm_para {
    text-align: center;
    }

.listdiv_left img {
    width: 80%;
    display: block;
    margin: 0 auto;
    }

#slcthrmonitor + .white_btn {
    background: #0095ac !important;
    color: #fff !important;
    }

#slcthrmonitor {
    border: 0 !important
    }

.hr_mra_box {
    padding: 10px 0;
    text-align: center;
    }

.hr_mra_feild {
    width: 48%;
    display: inline-block;
    }
hr_mra_time_feild{
    width: 60%;
    display: inline-block;
    }

.hr_mra_feild label,.hr_mra_time_feild label {
    display: block;
    font-size: 14px;
    color: #0A0A0A;
    text-align: center;
    line-height: 25px;
    }

.hr_mra_feild input,.hr_mra_time_feild input{
    display: block;
    font-size: 17px;
    color: #0A0A0A;
    text-align: center;
    line-height: 34px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid #0095ac;
    margin:  0 auto;
    }

.save_btn {
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 35px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid #0095ac;
    margin: 5px auto;
    display: block;
    background: #0095ac;
    }

.border_color {
    border: 1px solid #0095ac;
    padding: 10px;
    border-radius: 15px;
    margin: 0 15px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    }

.hr_mra_box  img {
    width: 100%;
    display: block;
    }

#curactcreditchart_eat, #curactcreditchart_mind, #curactcreditchart_move{
    height: 268px;
    overflow: hidden;
    }

#curactcreditchart_eat .highcharts-container,
#curactcreditchart_mind .highcharts-container, 
#curactcreditchart_move .highcharts-container{
    height: 268px !important;
    position: absolute !important;
    }

.move_graph_left, .move_graph_right	{
    /* float : none;
    width: 100%;
    text-align: center; */
    }

.move_graph_right.move_graph_center {
    width: 100%;
    float: none;
    text-align: center;
    }

.min_coin {
    float : none;
    margin : 0 auto;
    }

.activity_todaybox div#question-forms {
    height: auto;
    }

.activity_todaybox {
   /*  height: 370px !important; */
    overflow: auto !important
    }

.blue_btn, #saveProfieldata.blue_btn {
    background: #0095ac !important;
    color : #fff !important;
    }

.comm_contentbox {
    margin: 0 25px;
    }

.stepcounter_ctn_bx {
    margin: 10px 25px !important;
    }
.user_profileimageloader{
    width: 150px;
    height: 150px;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    position: relative;
}    
/*ED 10 May 2016 - Ends*/

.clsquestioncontent{
    overflow: auto !important;
}
.daycountcls {
    position: absolute;
    top: 7px;
    right: 20px;
    font-size: 12px;
}

/********** media screen start *************/
/********** media screen start *************/


@media screen and (max-height: 1024px) {
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: 60px !important;
        }

    .slider_btn_bx {
        padding: 0 0 20px !important;
        }

    .stop_counter_ctn_bx {
        /*max-height: 892px;*/
        max-height: 846px;
        }

    /* .welcome_ctn_header .comm_h4 {
        margin: 0 60px 10px;
        } */

    .dash_ctn_bx {
        height: 805px;
        overflow: auto;
        margin: 0 15px !important;
        }

    .stepcounter_ctn_bx {
       /*  margin: 25px auto 20px !important;
        height: 710px; */
        }
        /*
    .clsprefgroup .newwelcomebx_inner  {
        height: 340px;
        }
    */
    .resitboxpop_inner{
        height: 765px;
        }

    .resitbox_content {
        /* height: 635px; */
        height: 445px;
        margin-top: 10%;
        }

    #question-forms .welcome_ctn_bx, .clsstaticcontent {
      /*  height: 756px !important; */
        }

    #welcome_cnt.welcome_ctn_bx {
        height: 675px;
        }

    .clsactstepgame.eduction {
        height: 640px;
        }

    .info_btn {
        left: 52px !important;
        }

    /*.questionnote-wrapper {*/
        /*height: 100px;*/
        /*max-height: 100px;*/
        /*}*/

    .welcome_ctn_header .comm_h4 {
        /* height: 100px; */
        }

    .close_btn.edu_close_btn {
        right: 9%;
        top: 10%;
        }

    .info_popupbox_inner .welcome_ctn_bx{
        height: 740px;
        }

    .activity_todaybox {
       /*  height: 800px !important; */
        overflow: auto !important;
        }
}
@media screen and (max-width: 800px){
    .home_txt_cnt_header h4 {
        padding: 0 ;
        font-size: 14px;
        margin-bottom: 8px;
        margin-top: 8px;
        }
    /*
    .home_txt_cnt_header, .home_txt_cnt {
        padding: 4px 0;
        }
        */
    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 58px;
        /*position:fixed;*/
        }
    .compulsory_ftr {
        padding: 5px 0;
        font-size: 10px;
        }
    .loginform_bx {
        padding-top: 5px;
        }
    .coin_box_fullwidth {
        max-width: 110px !important;
        width: 80% !important;
        }

    .input_blue {
        font-size: 14px;
        }

    .comm_coin_box input {
        font-size: 16px;
        /* padding: 6px 0; */
        }
    }

@media only screen and (min-width : 0px) and (max-width : 568px) {
    #resultchart{
        height: 250px;
        margin: 0 auto;
    }

    .highcharts-tooltip{
        font-size: 14px !important;
    }
}

@media screen and (max-width: 480px){

    .slider_btn_bx .white_btn {
        width: 120px;
        }

    .panel_cnt_header h5 {
        font-size: 15px;
        line-height: 55px;
        }

    .comm_h4 {
        font-size: 15px;
        padding: 5px 0;
        }

    .comm_para {
        font-size: 14px;
        padding: 5px 10px;
        line-height: 18px;
        }

    .welcome_ctn_bx {
        position: relative;
        }

    /* .welcome_ctn_header {
        position: initial;
        } */

    /* ED 20160503 */

    /* .welcome_ctn_bx .question_icon {
        top: auto;
        bottom: 5px;
        right: 5px;
        } */

    .log_bx {
        width: 50%;
        }
		
	.ftr_log_bx {
        width: 32%;
        }

    .yesno_btn, .question_smile_btn_bx span, .smileys_list_bx li span {
        width: 55px;
        height: 55px;
        padding: 5px;
        line-height: 55px;
        }

    .question_smile_btn_bx span{
        margin: 10px 5px;
        }

    /* .question_icon {
        width: 40px;
        height: 40px;
        line-height: 40px;
        } */

    .welcome_ctn_header .comm_h4 {
        line-height: 20px;
        }

    .smileys_list_bx li h4 {
        font-size: 15px;
        }

    .smileys_list_bx li {
        padding: 0;
        }

    .main_panel_header h5 {
		font-size: 18px;
		padding: 4px 0;
		font-weight: normal;
		}


    .comm_graph_box img {
        width: 50%;
        }

    .improvements_list_bx li {
        padding: 2px 0;
        }

    .light_icon .question_icon {
        top: -20px;
        }

    .light_label {
        font-size: 16px;
        }

    .coach_list_box li h4.comm_h4 {
        font-size: 16px;
        }

    .coach_list_box .useicon {
        margin-right: 5px;
        }

    .coach_list_box li .white_btn {
        font-size: 13px;
        height: 30px;
        width: 50px;
        line-height: 26px;
        }

    .coach_search_input {
        margin-bottom: 0;
        font-size: 15px;
        }

    .question_image {
        /*width : 60px;
        height : 60px; By SK */
        width : 50px;
        height : 50px;
        }

    .quest_list_box li h5 {
        font-size: 10px;
        }

    .quest_list_box li {
        /* min-width: 90px; */
            /* min-width: 65px; By Sankar */
            min-width: 60px;
        }

    /*
    .margin_top10 {
        font-size: 15px !important;
        }
    */
    .product_left_box img {
        max-width: initial;
        min-width: initial;
        width: 80%;
        }

    .right_white_btn {
        width: 90px !important;
        }

    .circle_span_cunt {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 25px;
        }

    .circle_box_outer .comm_para {
        font-size: 12px;
        }

    .circle_box_outer.fr{
        /* float: left !important; */
        }

    .circle_box_outer {
        width: 67px;
        }

    .graph_bg_progress {
        width: 130px;
        height: 80px;
        }

    .input_box .white_btn {
        width: 150px;
        }

    .blue_border_box{
        margin: 5px auto;
        }

    .panel_cnt_header {
        padding: 5px 10px;
        }

    .only_mar_bottom {
        margin-top: 10px;
        }

    .choosephoto_popup h2 {
        width: 90px;
        }

    .choosephoto_popup h2 span {
        width: 80px;
        height: 80px;
        }

    .choosephotocnt {
        width: 224px;
        height: 137px;
        padding-top: 0;
        }
        /*
    .newwelcomebx_inner {
        /*MK Changed to Fix Height*/
        /*height: 200px;* /
        height: 150px;
        }
        */

    }

@media screen and (max-width: 400px){
    .graph_bg_progress {
        width: 110px;
        height: 65px;
        }
}
@media screen and ( max-height: 736px ){
    .graph_bg_progress {
        width: 90px !important;
        height: 70px;
        }

    .min_coin .graph_bg_progress {
        width: 60px !important;
        height: 40px !important;
        }

    .goback_btn {
        font-size: 13px;
        }
}
@media screen and ( max-height: 1024px ) {
.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
    height: auto;
    max-height: 817px;
}
.activity_todaybox div#question-forms {
    height: 368px;
}
}

@media screen and ( max-height: 768px ) {
    div#question-forms, .clsquestioncontent {
        overflow: hidden;
        /*overflow-y: auto; By Sankar*/
       max-height: 524px;
        }
.activity_todaybox {
    
    max-height: 543px;
}
    .info_popupbox_inner .welcome_ctn_bx {
        height: 400px;
        }

    .startphasecntslide {
        overflow: auto;
        height: 582px;
        }

    .startphasecntslide  {
        height: 600px;
        }

    .activity_todaybox {
        /* height: 581px !important; */
        overflow: auto !important;
        }


}


@media screen and ( max-height: 667px ){
    .graph_bg_progress {
        width: 90px !important;
        height: 100px;
        }

    .min_coin .graph_bg_progress {
        width: 90px !important;
        height: 100px !important;
        }

    .goback_btn {
        font-size: 13px;
        }

    .home_txt_cnt {
        height: 244px;
        }

    .newcomm_txt {
        /*ED Height Fix; height: 250px;*/
        /* height: 160px; */
        }
    /*.newcontbx {
        height: 340px;
        } */
        /*
    .clsprefgroup .newwelcomebx_inner {
        height: 210px;
        }
    */
    .info_btn {
        left: 29px !important;
        }
}

@media screen and ( max-width: 380px ){
    .footer_graph_box label {
        font-size: 9px !important;
    }
}

@media screen and ( max-height: 667px ){
    /*MK Added Select Roller*/
    .clsoptionbox-skin{
       //XX  height:268px  !important;
    }
    .clsoptionbox-skin .drum-wrapper, .clsoptionbox-skin .inner{
        //XX height: 100% !important;
    }
    .welcome_ctn_bx {
        /* min-height: 350px; */
        /* margin: 5px auto; */
        margin: 5px 5%;
        }

    .stop_counter_ctn_bx {
        /*max-height: 530px;*/
        max-height: 500px;
        }

    .questionans_list {
        max-height: 360px;
        overflow: auto;
        /* ED 20160503 */
        /* margin-bottom: 40px; */
        }

    /*
    .newcontbx {
        height:270px;
        }
    */
    .dash_ctn_bx {
        height: 500px;
        overflow: auto;
        }

    .resitboxpop_inner {
        height: 425px;
        }

    .resitbox_content {
        height: 315px;
        }

    .stepcounter_ctn_bx {
        /* height: 380px; */
        }

    #question-forms .welcome_ctn_bx, .clsstaticcontent {
       /* height: 425px !important;*/
        }

    #welcome_cnt.welcome_ctn_bx {
        height: 275px;
        }

    .clsactstepgame.eduction {
        height: 300px;
        }

    .input_blue {
        font-size: 13px;
        }

    .white_btn, .forgot_label, .privacy_bx a {
        font-size: 12px; 
        /* font-size: 14px;*/
		/* Edison 20160801 */
        }

    /*.questionnote-wrapper{*/
        /*height: 80px;*/
        /*max-height: 80px;*/
        /*}*/

    .welcome_ctn_header .comm_h4 {
      /*   height: 80px; */
       /*  font-size: 14px; */
        }

    .close_btn.edu_close_btn {
        right: 8px;
        top: 17px;
        }

    .info_popupbox_inner .welcome_ctn_bx{
        height: 420px;
        }

    .activity_todaybox, div#question-forms, .clsquestioncontent {
        max-height: 460px !important;
        /*overflow: auto !important; By Sankar*/
        }
		

    #question-forms .welcome_ctn_bx {
       /* height: auto !important;*/
        }

}

@media screen and ( max-height: 568px ){
	.activity_todaybox, div#question-forms, .clsquestioncontent {
    max-height: 385px !important;
}
	#progress_group {
     margin-top:10px !important; 
}
	
    .slider_btn_bx .white_btn {
        width: 100px;
        }

        /*
    .home_txt_cnt {
        /* height: 180px; * /
        height: 200px;
        }
        */

    .welcome_ctn_bx {
        /* min-height: 250px; */
        /* margin: 5px auto; */
        margin: 5px 5%;
        }

    .comm_graph_box {
        margin: 0 auto;
        }

    .swiper-wrapper .welcome_ctn_bx {
        /* min-height: 301px; */
        margin-top: 10px;
        }

    .getpicture, .profileimages {
        width: 80px;
        height: 80px;
        margin: 0 auto;
        overflow: hidden;
        }

    .facebook_bx, .main_panel_header {
        margin-bottom: 0;
        }

    .comm_coin_box {
        margin: 2px auto;
        }

    .comm_panel_bx {
        /* margin: 2px auto; */
        /* ED 20160329 */
        margin: 5px auto;
        padding: 2px 0;
        }

    .comm_coin_box input {
        margin: 3px 0;
        }

    .triangle_question_bx {
        width: 150px;
        height: 150px;
        margin: 5px auto;
        }

   /*  .triangle_question_bx .qus_fl_btn:after {
        left: -12px;
        }

    .triangle_question_bx .qus_fr_btn:after {
        right: -12px;
        } */


    /* By SNK */
    .triangle_question_bx .qus_fl_btn {
        /* border-radius: 0 0 0 100px;
		 bottom: -2px; */
        left: -5px;
       
    }

    .triangle_question_bx .qus_fr_btn {
       /* border-radius: 0 0 100px 0;
        bottom: -2px; */
        right: -5px;
    } 
    /* By SNK  - End*/
    .circle_blue_btn {
        width: 80px;
        height: 80px;
        line-height: 20px;
        font-size: 14px;
        }

    .welcome_comm_inner_bx {
        margin: 5px auto;
        padding: 10px;
        }

    .triangle_question_bx .qus_fl_btn, .triangle_question_bx .qus_fr_btn{
        font-size: 29px;
        line-height: 20px;
        height: 115px;
        width: 79px;
		/*top: -35px;*/
        /* By Sankar
        height: 80px;
        width: 49%
        */
        }

    .footer_graph_box label {
        font-size: 9px;
        }

    .question_smile_btn_bx {
        padding: 0;
        margin: 2px 0;
        }

    .question_smile_btn_bx span {
        margin: 4px;
        }

    .questionselect_list li.act_select {
        font-size: 18px;
        }

    .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
        bottom: 70px !important;
       /* position:fixed;*/
		background: #fff;
        height:22px;
        }

    .move_listtitel_bx li {
        font-size: 11px;
        }

    .move_graph_right img {
        float: right;
        }

    .graph_bg_progress {
        width: 80px !important;
        height: 90px;
		margin-bottom: 5px;
        }

    .min_coin .graph_bg_progress {
        width: 80px !important;
        height: 90px !important;
        }

    .goback_btn {
        font-size: 13px;
        }

    .questionans_list {
        display: block;
        /* max-height: 237px; */
        max-height: 190px;
        overflow: auto;
        /* margin-bottom: 40px; */
        }

    .stepcounter_ctn_bx {
       /*  max-height: 310px;
        overflow: auto; */
        /* width: 90% !important; */
        /*ED
        margin: 25px auto 20px !important;
        margin: 10px 15px !important; */
        }

    .newcomm_txt {
        /*height: 170px;
        height: 110px;*/
        border: none;
        padding: 0;
        }

    .dash_ctn_bx {
        /* height: 430px; */
        /* ED 20160607 */
        height: 400px;
        overflow: auto;
        }

    .clsprefgroup .newwelcomebx_inner {
        /*Ed Commanded height: 165px;*/
        height: 125px;
        }

    .resitboxpop_inner {
        height: 406px  !important;
		padding: 10px 0  !important;
		margin : 0 25px  !important;
		/*top: 75px !important;*/
        }

    .resitbox_content {
        height: 300px;
		margin-top: 0;
        }

    #question-forms .welcome_ctn_bx, .clsstaticcontent  {
        /* height: 350px !important; */
        /* height: 340px !important; */
        }

    #welcome_cnt.welcome_ctn_bx {
        height: 250px;
        /*Ed Commanded height: 275px;*/
        }

    .clsactstepgame.eduction {
        height: 220px;
        /*Ed Commanded height: 240px;*/
        }
    .stop_counter_ctn_bx {
        /*max-height: 530px;*/
        max-height: 390px;
        }

    .input_blue {
        font-size: 12px;
        }

    .welcome_ctn_header .comm_h4 {
        /* height: 58px; */
        }

    /*.questionnote-wrapper {*/
        /*height: 65px;*/
        /*!* ED 20160511 *!*/
        /*}*/

    .close_btn.edu_close_btn {
        right: 6px;
        top: 6px;
        }

    .info_popupbox_inner .welcome_ctn_bx{
        height: 310px;
        }

    .activity_todaybox{
       /* height: 380px !important;
       overflow: auto !important; - By Sankar*/
        }
		
	 div#question-forms, .clsquestioncontent{
        height: auto !important;
        /*overflow: auto !important; - By Sankar*/
        }

    .ques_count {
        font-size: 35px;
        height: 70px;
        line-height: 70px;
        }

    .triangle_question_bx .qus_fl_btn:after {
        border-bottom: 41px solid #0095ac;
        border-right: 72px solid rgba(0, 0, 0, 0);
		right: 0;
        left: auto;
        top: -40px;
        }

    .triangle_question_bx .qus_fr_btn:after {
        top: -40px;
		right: auto;
        left: 0;
        border-bottom: 41px solid #0095ac;
        border-left: 72px solid transparent;
        }
    /* By SNK
    .triangle_question_bx .qus_fl_btn:after {
        border-bottom: 30px solid #0095ac;
        border-right: 77px solid rgba(0, 0, 0, 0);
        left: -2px;
        top: -29px;
        }

    .triangle_question_bx .qus_fr_btn:after {
        top: -29px;
        right: -4px;
        border-bottom: 30px solid #0095ac;
        border-left: 77px solid transparent;
        }
    */

    .profileimages span {
        line-height: 80px;
        }

    .startphasecntslide{
        overflow:auto;
        height:420px;
        }
		
	.info_popupbox_inner .welcome_ctn_bx.infoctn_box  {
		height: auto !important;
		}
		
	.info_popupbox_inner .welcome_ctn_bx.infoctn_box img {
		width: 100% !important;
		}

}
/********** Media Screen End *************/


.newcredits {
    width: 50%;
    float: left;
    text-align: center;
    }

.newcredits .graph_bg_progress {
    width: 120px !important;
    height: 92px !important;
    }

.newcredits h5 {
    line-height: 30px;
    display: block;
    }

.newcredits input {
    line-height: 30px;
    display: block;
    width: 100px;
    margin : 0 auto;
    border: 1px solid #0095ac;
    border-radius: 15px;
    }

/* .newcredits .graph_center_bg {
    height: 0% !important;
    } */

/* .onlycontentbox .comm_para {
    margin-left: 15px !important;
    margin-right: 15px !important;
    display: block;
    } */

div#progress_group {
    border: 1px solid #0095ac;
    }

div#pnlcoachresult {
    margin: 0 15px;
    }

.new_profile_bg {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.47);
    display: none;
    z-index: 900;
    }

.new_profile {
   /*  
		position: fixed;
		top: 71px;
		left: 0;
		display: none;
		right: 0;
		z-index: 1000;
	*/
	
    background: #0095ac;
	padding-top: 10px;
	position: relative;
    
    
    }

.user_profileimage {
    
    width: 150px;
    height: 150px;
    margin: 10px auto;
    /* background-color: rgba(255, 255, 255, 0.29); */
    background-image: url(../images/no-photo.png);
    background-size: 100%;
    border-radius: 50%;
    }

.user_profileimage img {
    width: 100%;
    height: 100%;
    /*display: block;*/
    border-radius: 50%;
    }

.new_profile h4 {
    color: #fff;
    font-size: 18px;
    text-align: center;
    display: block;
    padding : 15px 0;
    }

.new_profile ul {
    display: block;
    text-align: center;
    }

.new_profile ul li {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    }

.camara_icon {
    width: 40px;
    height: 50px;
    display: block;
    position: absolute;
    right: 14%;
    top: 128px;
    background: url(../images/camara_icon.png) no-repeat 0 0;
    }

.new_credit_coinbox {
    width: 110px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    }

.new_credit_coinbox_signal {
    width: 50px;
    height: 100px;
    margin: 0 auto 10px;
    position: relative;
    }

.new_credit_coin {
    width: 35px;
    background: url(../images/new_cointopbg.png) no-repeat 0 0 / 100% auto;
    position: absolute;
    bottom: 0;
    padding-top: 12px;
    }

.new_credit_coin span {
    display: block;
    height: 16px;
    margin-top: -5px;
    background: url(../images/new_coinbg.png) no-repeat 0 0 / 100% 100%;
    }

.coin_left {
    left: 0;
    bottom: -3px;
    }

.coin_center {
    left: 0;
    right: 0;
    margin: 0 auto;
    }

.coin_right {
    right: 0;
    bottom: -3px;
    }

.cloud_coin {
    width: 115px;
    height: 85px;
    margin-bottom: 10px;
    }

.cloud_coin .new_credit_coin {
    width: 35px !important;
    }

.current_credit {
    margin-top: 10px;
    }

.listdiv_right {
    text-align: center;
    }

.shop_btns .question_icon {
    line-height: 15px !important;
    font-size: 13px !important;
    padding-top: 11px;
    box-sizing: border-box;
    }

.newcommon_box {
    margin: 10px 15px;
    }

.proceed {
    margin-left: 15px;
    }

.clsinputfieldouterstyle1 .input_blue {
    width: 90% !important;
    }

.signl_btn .blue_btn {
    width: 120px;
    }

.Newcountinfo {
    width: 20px;
    height: 20px;
    background: #f00;
    color: #fff;
    line-height: 20px;
    font-size: 12px;
    position: absolute;
    right: -4px;
    top: 4px;
    border-radius: 50%;
    display: none;
    }


.new_graph_bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    }

.new_graph_bottom {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    }

.new_graphtop_bottom {
    width: 120px;
    height: 150px;
    margin:0 auto;
    position: relative;
    }
#steps2.input_blue:focus,#steps2.input_blue{
    background:#0095ac !important;
    color:#fff !important;
}

.home_ctn_padding {
	padding: 0 25px 25px;
	}
	
.home_ctn_padding .home_txt_cnt p, .home_ctn_padding .home_txt_cnt_header h4 {
	padding: 0 !important;
	}
	
.home_ctn_padding p, .home_ctn_padding .comm_para,.home_ctn_padding h4, .newcomm_txt p, .newcomm_txt .comm_h4,
.home_slider_panel .comm_h4, .home_txt_cnt_header h1,.home_slider_panel h1,.home_slider_panel p, .clsstaticcontent h1, .home_ctn_padding h2  {
	font-size: 14px !important;
	color: rgb(87, 91, 91) !important; 
	font-weight: normal !important;
	}
	
#idinfotext .swiper-slide.edu_inner {
	padding: 0 !important;
	}
	
#idinfotext .home_ctn_padding {
	height: 190px;
	}
	
#idinfotext .home_ctn_padding p {
	font-size: 14px;
	padding: 5px 0;
	line-height: 18px;
	}
	
	
/* slider css */	

#jquery-script-menu {
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-top: 5px solid rgb(49, 101, 148);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
    box-sizing: content-box;
    height: 90px;
    left: 0;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}
.jquery-script-center {
    margin: 0 auto;
    width: 960px;
}
.jquery-script-center ul {
    float: left;
    line-height: 45px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    width: 212px;
}
.jquery-script-center a {
    text-decoration: none;
}
.jquery-script-ads {
    float: right;
    height: 90px;
    width: 728px;
}
.jquery-script-clear {
    clear: both;
    height: 0;
}

/* slider css */	

.ftr_bx_one {
	padding-top: 10px;
	}
	
.edit_ctn_two {
	display: none;
	padding-top: 15px;
	}
	
.edit_ctn_one {
	padding-top: 15px;
	}
	
.edit_ctn_one li {
	display: block;
	width: 90%;
	background: #0095ac;
	color: #fff;
	font-size: 15px;
	text-align: center;
	border-radius: 20px;
	line-height: 40px;
	margin : 0 auto 10px;
	}
	
.stop_counter_ctn_bx {
	margin: 0 15px !important;
	}
	
.info_popupbox_inner .home_ctn_padding {
	padding: 0 !important;
	} 
    
    
.clsstaticcnt{
    padding:0 !important;
    margin:0 !important;
}
	
.thankyoupagecontent {
	margin-bottom: 20px;
	}
/*MK Added SCroller*/
.clsoptionbox-skin{
    text-align: center;
}
.clsoptionbox-skin .drum-wrapper{
    width:100%;
    height:190px !important;
}

.clsoptionbox-skin .drum-wrapper .inner{
    height : 180px !important;;
}

.clsoptionbox-skin .drum-wrapper .container {
    top: 40px !important;;
    height: 30px;
}
.clsoptionbox-skin .drum-wrapper figure {
    text-align: center !important;
    line-height:40px !important;
    height:40px !important;
}
/*
.clsoptionbox-skin .drum-wrapper figure {
    text-align: center !important;
    line-height:40px !important;
    height:40px !important;
}
.clsoptionbox-skin .drum-wrapper div.container, .clsoptionbox-skin .drum-wrapper figure{
    line-height: 40px !important;
}*/
.clsoptionbox-skin .drum-wrapper .figureOptionSelected{
    background: #0095ac;
    color: #fff;
    border-radius: 20px;
    font-style: normal;
    letter-spacing: normal !important;
}
/* SNK */
.generaltotalsteps{
    margin: 10px auto;
    display: block;
    text-align: center;
}

/*MK ADDED */


span.arrowtop_icon {
	width: 20px;
	height: 30px;
	display: none;
	position: absolute;
	/*bottom: 18px;*/
    top: 220px;
	right: 24px;
	line-height: 30px;
	text-align: center;
	font-size: 30px;
	color: #0095ac;
	}
	.progress_group:after, .progress_group:before {
    
    background: #fff;
    padding: 3px 1px;
}
.cpercentage{
    
    background: #fff;
    padding: 3px 1px;
}
@media screen and (max-width: 360px)
.activity_todaybox, div#question-forms, .clsquestioncontent {
    max-height: 443px !important;
}
.socialShare {
    float: right;
    position: absolute;
    right: 12px;
    top: 10px;
    z-index:55;
}
.socialShare img{
    float:left;

}
button#shareuserscore {
    background: white;
    border: none;
    padding: 0 6px 0 4px;
    border-radius: 19px;
    color: #0095ac;
}
.act img {
    display: block;
}
.radioans{
    padding: 0px 0px !important;
}
.versionnums {
    position: absolute;
    right: 10px;
    top: -23px;
    z-index: 555;
    text-align: right;
    color: #000;
    font-size: 12px;
}
/*18-may-2017*/
.swiper-containers {
    float: right;
    /*margin-top: -70%;*/
   /* margin-top: -75%;*/
    text-align: center;
    /*margin-right: 8%;*/
    font-size: 16px;
    color: #0095ac!important;
}
.swiper-containers.browser {
    float: right;
    margin-top: -78%;
    text-align: center;
    margin-right: 8%;
    font-size: 16px;
    color: #0095ac!important;
}
.swiper-containers.iOS {
    float: right;
    margin-top: -73%;
    text-align: center;
    margin-right: 8%;
    font-size: 16px;
    color: #0095ac!important;
}
.swiper-containers.Android {
    float: right;
    margin-top: -78%;
    text-align: center;
    margin-right: 8%;
    font-size: 16px;
    color: #0095ac!important;
}
/*18-jan-2017*/
p.coach_head {
    padding: 0 30px;
}