**  common css ***/
/***  common css ***/


/*Login screen*/
html{
	height:100% !important;
}
body{
	height:100% !important;
	color: #0095ac;
	font-size:15px;	
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:     #0095ac;
	text-align:left;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:     #0095ac;
	text-align:left;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:     #0095ac;
	text-align:left;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:     #0095ac;
	text-align:left;
}

strong{
	font-family: 'open_sansbold' !important;
}

p{
	margin-top:10px;
	text-align: left !important;
}
p a{
	color: #0095ac;
	text-decoration:underline !important;
}

header,	footer  {
    background:  #0095ac;
    padding: 0px 0px 0px 0px;
    height: 60px;
	width:100%;	
    text-align: center;
    position: relative;
    z-index: 1000;
    }

header{
	position:fixed  !important;
	top:0px !important;
	z-index:1001 !important;  
}

.page-title{
	width:38%;
	text-align:center;
	float:left;
	padding-top:20px;
	height:40px;
}

@media screen and (max-height: 667px){
.resitboxpop_inner {
    height: auto !important;
    margin-top: 80px !important; 
}
}
@media screen and (max-height: 1024px){
.resitboxpop_inner {
    height: auto !important;
    margin-top: 80px !important; 
}
}

header h4{
	text-transform: uppercase;
	font-size:16px !important;
	line-height:17px;
	
}

.one{
	height:10px;
}

.logo{
	width:33% !important;
	margin:0px!important;
	padding-left:0px !important;
	padding-top:10px !important;
	padding-right:0px !important;
	height:50px;
	display:block !important;
	float:left;
	text-align: left;
	
}

.logo img{
	margin-left:15px !important;
	width:50px;
}


.info{
	width:33%;
	display:block !important;
	float:left;
	height:60px;
	background:url(../images/info.png) no-repeat center right;
}


.user{
	width:33%;
	/*display:block !important;*/
	float:left;
	height:60px;
	background:url(../images/no_image.png) no-repeat center right;
}
.transparent-stripe {
	background:#0095ac;
	opacity: 0.7;
	position:absolute;
	bottom:0px;
	height:5px;
	width:100%;
}
/*
.ftr_bx_two .menuspan {
    height: 54px;
    width: 46px;
    margin: 0 0 !important;
    display: inline-block;
    width: 18.6%;
    height: 55px;
    border-right: 1px solid #66bfcd;
     float: left; 
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding-top: 5px;
}
*/
.ftr_bx_two .menuspan {
	display:inline-block !important;
	width:20% !important;
	height:55px !important;
	background:url(../images/pixel.png) repeat-y top right !important;
	/*float:left !important;*/
	font-size:12px !important;
	color:#fff !important;
	text-align: center !important;
	padding-top:5px !important;
	margin: 0px 0px 0px -4px !important;
}
.ftr_bx_two .no-background{
	background:none !important;
}

.ftr_bx_two .menuspan.act {
    background:  #017284 !important;
     padding: none !important;
   
     border-radius:0 0 0 0 !important; 
     box-shadow: none !important;
     -webkit-box-shadow: !important;
}
.comm_banner_img_box{
	position:relative;
	/*padding-top:60px;*/

}
.ftr_log_bx {
    width: 100% !important;
	max-width:100% !important;
}
section{
	padding: 80px 0 60px;
}
.fixfixed header{
    position: absolute !important;
}
.fixfixed footer{
    position: relative !important;
   
    
}


footer{
	position:fixed !important;
	bottom:0px !important;
	
}

.ftr_bx_one_mod {
	padding-top:10px;
}

	

	.input_blue {
    color: #0095ac;
    font-size: 16px;
    width: 90%;
    
    line-height: 40px;
    height: 45px;
    display: block;
    border-radius: 25px;
    background: #fff !important;;
    border: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border:1px solid #0095ac;
    font-family:'open_sanslight';
    text-align:left;
    padding-left:10%;
	margin-top:10px !important;	
    }
	
@media screen and (min-width: 320px){
	.input_blue_fontsize{font-size:12px !important;}

}
@media screen and (min-width: 375px){
	.input_blue_fontsize{font-size:14px !important;}
}
@media screen and (min-width: 414px){
	.input_blue_fontsize{font-size:15px !important;}
}
	
.email{
	background:url(../images/e-mail-symbol.png) no-repeat center right #fff !important ;
	background-size:30px !important;
	
}

#loginpswd{
	
		background:url(../images/pasword-symbol.png) no-repeat center right !important;
		background-size:35px !important;
	
}

.input_box {
	width:90%;
	margin:0px auto;
    padding: 0px;
    position: relative;
    }

.input_box .input_blue, .input_box .white_btn {
    margin-left:0 !important;	
    }

.white_btn {
    color: #575b5b;
    border: 1px solid #0095ac!important;
	background:#0095ac !important;
    width: 50% !important;
    line-height: 36px;
    height: 45px;
    display:block;
    border-radius: 20px;
    background: none;
    text-align: center;
    margin: 0 auto;
	text-transform: uppercase;
	font-family:'open_sansbold';
	font-size:13px;
	margin-top:10px !important;
    }
.cart_bttn .white_btn {
    background: #0095ac !important;
    width: 50% !important;
    line-height: 16px;
    height: 45px;
    font-size: 13px;
    
}

.move-save-btn{ 
    color: #575b5b;
    border: 1px solid #0095ac;
    width: 50% !important;
    line-height: 36px;
    height: 45px;
    display: block;
    border-radius: 20px;
    background: none;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'open_sansbold';
    font-size: 20px;
    margin-top: 10px !important;
}

.blue_btn{
	background:#0095ac !important;
	border:1px solid #0095ac ;
}

.yesno_btn_fix{
	    border-radius: 25px !important;
		width: 85px !important;
		height: 40px !important;
		padding: 5px !important;
		line-height: 43px !important;
}
.yesno_btn_text_fix{
    text-transform: uppercase;
    font-family: 'open_sansbold';
    font-size: 20px;
}
.policy_btn{
	width:40% !important;
	margin: 0px 10px;
}
  .swiper_blu_btns{  margin-bottom: 20px;}
.swiper_blu_btns .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: 1;
    border: 1px solid #017284;
}
.swiper_blu_btns .swiper-pagination-bullet-active {
    opacity: 1;
    background:#0095ac;
}
.forgot_label {
    margin: 0 auto;
    width: 100%;
    display: block;
    
    text-align: left;
    padding: 0px;
    text-decoration: underline;
	float:right;
	font-size:15px;
	color:#0095ac !important;
	
    }



.facebook{
	width:100% !important;
	color: #575b5b;
    border: 1px solid #0095ac;
   	background:url(../images/facebook-login.png) no-repeat top left #0095ac  !important ;
    line-height: 36px;
    height: 45px;
    display:block;
    border-radius: 20px;

    text-align: center;
    margin: 0 auto;
	text-transform: uppercase;
	font-family:'open_sansbold';
	font-size:14px;
	margin-top:15px !important;
}

.bottom-separator{
	height:65px !important;
	
}
/* End login screend*/


/*intro page-css*/
/*Android*/

/* .login-welcome-screen{
    width:100%;
    height:100% !important;
    overflow:hidden;
    background:url(../images/banner/intrscreenbg.jpg) no-repeat top center;
    background-size:cover;
}


.loginbottom{
    position:absolute;
    bottom:80px;
    width:100%;
} */
/*for iOS */
.login-welcome-screen{
 width:100%;
 height:100% !important;
 overflow:hidden;
 background:url(../images/banner/intrscreenbg.jpg) no-repeat top center;
 background-size:cover;  
}
@media screen and (min-width: 320px){
    .login-welcome-screen{
        width:320px;
        height:85% !important;
        position: absolute;
    }
    .cart_bttn {
    position: relative;
    top: 155px;
 }
}
@media screen and (min-width: 375px){
    .login-welcome-screen{
        width:375px;
        height:85% !important;
        position: absolute;
    }
    .cart_bttn {
    position: relative;
    / bottom: 0; /
    top: 200px;
 }

}
@media screen and (min-width: 414px){
    .login-welcome-screen{
        width:414px;
        height:85% !important;
        position: absolute;
    }
    .cart_bttn {
    position: relative;
    / bottom: 0; /
    top: 300px;
 }
}
@media screen and (min-width: 768px){
    .login-welcome-screen{
        width:768px;
        height:85% !important;
        position: absolute;
    }
    .cart_bttn {
    position: relative;
    / bottom: 0; /
    top: 300px;
 }
}

.loginbottom{
 position:absolute;
 bottom:80px;
 width:100%;
}

/*iOSEnd*/
/*End*/



/*css for application info- top right button*/

.info-popup,.notification_main_div{
	width:100%;
	height:100%;
	min-height:100% !important;
	background:#0095ac;
	position:absolute;
	z-index:10000;
	display:none;
	    overflow-y: auto;
}
.noti_tip{
	width:100%;
	height:auto;
	/*min-height:100% !important;*/
	background:#0e4550;
	position:absolute;
	z-index:10000;
	display:none;
	overflow-y: auto;
}

.info-popup h1{
	font-family:'open_sansbold';
	font-size:25px !important;
	color:#fff;
	text-transform: uppercase;
}

.password-forgot{
	width:100%;
	min-height:100% !important;
	background:#0095ac;
	position:absolute;
	z-index:10000;
	display:none;
}

.info-content h1,.forgot-content h1{
	font-family:'open_sansbold';
	font-size:25px !important;
	color:#fff !important;
	text-transform: uppercase;
}
.info-content h2,.forgot-content h2
{
	color:#FFF !important;
	font-weight: bold !important;
}
.info-content li,.forgot-content li{
	color:#FFF !important;
}

.info-content p,.forgot-content p{
	text-align:left !important;
}

.close-info{
	width:50px;
	height:50px;
	float:right;
	margin-right:20px;
	margin-top:20px;
	display: block;
	text-decoration:none;
}

.close-info img{
	width:50px;
}

.info-content,.forgot-content{
	width:85%;
	height:90%;
	margin:0px auto;
	position:relative;
}


.info-content p,.forgot-content p{
	color:#fff !important;
	font-size:15px !important;
}	

.footer-info{
	width:100%;
	margin:10px auto;
}


.footer-info img{
	width:100%;
}
/*end */


/*Register*/
.arrow-register{
 	background:url(../images/arrow-select-register.png) #fff  no-repeat right center !important;
 	background-size:17% !important;
 }


.loginform{
	padding-top:60px;
}

.privacy_bx{
	font-size:12px !important;
}

.privacy_bx a{
	display:inline-block!important;
	font-size:12px;
}

.checkouter {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid  #0095ac;
    display: inline-block;
    background: #fff;
	margin-top:10px !important;
    }

.checkouter input {
    padding: 0 !important;
    margin: 0 !important;
    visibility: hidden;
    }

.checkouter.checkbtn {
    background: #fff url("../images/checkbtn.png") no-repeat scroll center center / 70% auto;
    }


.getpicture {
    color: #fff;
    width:90%;
	height:auto;
    margin: 10px auto;
    background:#fff;
    text-align: center;
    line-height: 100px;
	border-radius:0px !important;
   
    }


.new-get-picture{
	width:124px;
	height:124px;
	background:url(../images/no-photo.png) no-repeat center center;
	background-size:80%;
	
	position:absolute !important;
	z-index:10;
	left:50%;
	margin-left: -63px;
	
	
}


.take-photo{
	width:50px;
	height:50px;
	display:block;
	background:url(../images/take-photo.gif) no-repeat center center;
	background-size:100%;
	position:absolute;
	left:30px;
	top:40px;
}


.gallery{

	width:50px;
	height:50px;
	display:block;
	background:url(../images/image-gallery.png) no-repeat center center;
	background-size:100%;
	position:absolute;
	right:30px;
	top:40px;

}

.compulsory:after {
    content: "*";
    color:  #0095ac;
    font-size: 15px;
    position: absolute;
    right: 5%;
    top: 12px;
    display: block;
    z-index: :111 !important;
    }

.quescompulsary:after {
    content: "*";
    color:  #0095ac;
    font-size: 15px;
    position: absolute;
    left: 5%;
    top: 12px;
    display: block;
    }	


.clientinfo_label {
    /* background:  #0095ac; */
    /* ED 20160507*/
    background: transparent;
	color: #0095ac;
    width: 45%;
    text-align: left;
    line-height: 39px;
    position: absolute;
    top: 5px;
    border-radius: 50px !important;
	left:10%;
    font-size: 16px;
	
    }

input[type="date"]{
	color:#fff !important;
}


.compulsory-uncheck{
	width:50%;
	position:absolute;
	right:0px;
	top:0px;
	height: 33px;
	background:red;
	-webkit-border-top-right-radius: 20px;
-webkit-border-bottom-right-radius: 20px;
-moz-border-radius-topright: 20px;
-moz-border-radius-bottomright: 20px;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
	z-index:90;
	font-size:15px;
	color:#fff;
	font-family: 'open_sanslight';
	text-align: center;
	padding-top:14px;
}




/*Terms of service css*/



.terms-of-service{
	width:90%;
	margin:0px auto;
	padding-top:70px;
	padding-bottom:125px;
	
}

p{
	color:#666;
}

h3{
	font-family: 'open_sanslight';
	font-weight:normal;
	font-size:18px;
}



/*forgot password*/
.shadow{
-webkit-box-shadow: -2px 3px 0px -1px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 3px 0px -1px rgba(0,0,0,0.75);
box-shadow: -2px 3px 0px -1px rgba(0,0,0,0.75);
}


/*start-check*/


.user-photo{
	width:25px;
	height:25px;
	background:url(../images/user-square.png) no-repeat top left;
	border-radius:50%;
	position:absolute;
	right:22px;
	top:18px;
	background-size:100%;
}


.text-wrap{
	width:90%;
	margin:0px auto;
	position:relative;
	
	
	
}

.wrapper{
	width:100%;
	overflow-x: hidden;
}

.minus-left{
	margin-left:-60%;
	overflow:hidden;
  width:100% !important;
}

.user-menu{
	width:60%;
	height: 100%;
	background:#0095ac;
	position:fixed;
	right:0px;
	top:0px;
	z-index:1000;
	display: none;

}


.logout-container{
	width:90%;
	height:41px;
	border-bottom:1px solid #fff;
	padding-top:18px;
	background: url(../images/small-arrow-right.png) no-repeat center left;
	padding-left:10%;
	color:#fff;
	font-size:12px;
}

.logout{
	width:40%;
	height:20px;
	border-radius:20px;
	border:1px solid #fff;
	display: block;
	font-size:12px;
	color:#fff;
	font-family: 'open_sansbold';
	float:right;
	margin-right:3px;
	text-align: center;
	text-transform: uppercase;
	padding-top:4px;

}



.user-menu a.menu{
	display: block;
	background: #017284;
	width:90%;
	text-align:center;
	color:#fff;
	text-transform: uppercase;
	font-family: 'open_sansbold';
	font-size:15px;
	height:25px;
	padding-top:5px;
	margin:0px auto;
	border-radius:20px;
	margin-top:20px;
}




/*question-increment-pages*/

/*.q-mark{
	width:20px;
	height:20px;
	position:absolute;
	top:0;
	left: -20px;

}  check line 1627*/

.q-mark img{
	width:100%;
	border-radius: 50%;
}

.text-wrap h3{
	text-align: center;
	font-size:18px;
	/*padding-top:10px;*/
	padding-top:25px;
	width:93%;
	margin:0px auto;
}

.counter-container{
	width:100%;
	/*margin-top:10px;*/
	position:relative;
	margin-bottom:20px;
}

#loginid{
    background: url(../images/e-mail-symbol.png) no-repeat center right #fff !important;
    background-size: 30px !important;
}
.arrow-left{
	width:20%;
	height:70px;
	background:url(../images/arrow-left.png) no-repeat center center;
	position:absolute;
	left:-2%;
	top:20px;
	
}

.arrow-right{
	width:20%;
	height:70px;
	background:url(../images/arrow-right.png) no-repeat center center;
	position:absolute;
	right:-2%;
	top:20px;
}

.counter{
	
	width:100px;
	height:82px;
	padding-top:18px;
	margin:0px auto;
	border:1px solid #d9d9d9;
	border-radius:50%;
	text-align: center;
	color: #0095ac;
	font-size:50px;
	font-family: 'open_sansbold';
	line-height: 60px;

}

.decrease{
	width:40px;
	height:40px;
	background: #0095ac;
	border-radius: 50%;
	text-align: center;
	font-family: 'open_sansbold';
	font-size:30px;
	position:absolute;
	left:13%;
	top:30px;
	color:#fff;
	line-height: 35px;
	z-index:100;
	    border: 0px;
}	



.increase{
	width:40px;
	height:40px;
	background: #0095ac;
	border-radius: 50%;
	text-align: center;
	font-family: 'open_sansbold';
	font-size:30px;
	position: absolute;;
	top:30px;
	right:13%;
	color:#fff;	
	line-height: 35px;
	z-index:100;
	    border: 0px;
}	


.progress-container{
	width:100%;
	position:relative;
	margin-top:20px;

}

.zero{
	float:left;
	display: block;
	font-size:15px;
	color: #0095ac;
}

.hundred{
		float:right;
		display: block;
		font-size:15px;
		color: #0095ac;
}

.progress-bar{
	width:100%;
	height:30px;
	border:1px solid #d9d9d9;
	border-radius:20px;
}

.tracker{
	width:12%;	
	height:25px;
	padding-top:5px;
	background: #0095ac;
	border-radius:20px;
	color:#fff;
	text-align: center;
	font-size:12px;
}

.yesno{
	width:300px;
	height:82px;
	padding-top:0px;
	margin:0px auto;
	text-align: center;
	color: #0095ac;
	font-size:50px;
	font-family: 'open_sansbold';
}

.radios{
	width:70%;
	margin-top:-10px;
	margin:0px auto;
	text-align: center;
	color: #0095ac;
	font-size:50px;
	font-family: 'open_sanslight';
}
.questionselect_list li{
 color: #0095ac !important; 
}
.questionselect_list li.act_select{
background: none !important;
     color: #0095ac !important; 
}

.videos{
	width:100%;
	margin-top:-10px;
	margin:0px auto;
	text-align: center;
	color: #0095ac;
	font-size:50px;
	font-family: 'open_sanslight';
}

.r-questions{
	font-size:15px;
	margin-top:0px;
	float: left;
	padding-top:10px;
	padding-left:10px;
	display: block;
	width:auto;max-width: 80%;
	text-align: left;
	max-width:80%;
}

.privacy_bx_1 .checkouter{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #0095ac;
    display: inline-block;
    background: #fff;
    float:left;
    margin-left:2px;
	
    }

.checkouter input {
    padding: 0 !important;
    margin: 0 !important;
    visibility: hidden;
    }

.checkouter.checkbtn {
    background: #fff url("../images/checkbtn.png") no-repeat scroll center center / 70% auto;
    }

/*scores-pages*/


   .scores-container{
   	width:250px;
   	margin:0px auto 20px auto;
    padding-top:80px;
    display: block;
    }


  .base-move{
   	width:250px;
   	height:250px;
   	background:url(../images/scores-trackers/move-base.png) no-repeat center center;
	display: table-cell;
	vertical-align: middle;
   	background-size:100%;
   	position:relative;
   
   }

.base-eat{
	  	width:210px;
   	height:210px;
   	background:url(../images/scores-trackers/eat-base.png) no-repeat center center;
	
   	background-size:100%;
   	margin:0px auto;
   	overflow: hidden;
}

.base-mind{
	width:168px;
	height:168px;
  	background:url(../images/scores-trackers/mind-base.png) no-repeat center center;
	background-size:100%;
   	margin:22px auto 0px auto;
}




  .base-move-red{
   	width:250px;
   	height:250px;
   	background:url(../images/scores-trackers/move-red.png) no-repeat center center;
	display: table-cell;
	vertical-align: middle;
   	background-size:100%;
   	position:relative;
   
   }

.base-eat-orange{
	  	width:210px;
   	height:210px;
   	background:url(../images/scores-trackers/eat-orange.png) no-repeat center center;
	
   	background-size:100%;
   	margin:0px auto;
   	overflow: hidden;
}

.base-mind-green{
	width:168px;
	height:168px;
  	background:url(../images/scores-trackers/mind-green.png) no-repeat center center;
	background-size:100%;
   	margin:22px auto 0px auto;
}

  .base-move-grayed{
   	width:250px;
   	height:250px;
   	background:url(../images/scores-trackers/move-grayed.png) no-repeat center center;
	display: table-cell;
	vertical-align: middle;
   	background-size:100%;
   	position:relative;
   
   }

.base-eat-grayed{
	  	width:210px;
   	height:210px;
   	background:url(../images/scores-trackers/eat-grayed.png) no-repeat center center;
	
   	background-size:100%;
   	margin:0px auto;
   	overflow: hidden;
}

.base-mind-grayed{
	width:168px;
	height:168px;
  	background:url(../images/scores-trackers/mind-grayed.png) no-repeat center center;
	background-size:100%;
   	margin:22px auto 0px auto;
}




h1.score-checker{
	font-size:50px;
	text-align: center;
	color: #0095ac;
	font-family:'open_sansbold';
	margin:0px auto;
	padding:0px;
	width:50%;
	height:50%;
	padding-top:45px;
	

}

.scores-text{
	width:90%;
	margin:30px auto;
}

.scores-text h4{
	font-size:20px;
	font-family: 'open_sansbold';
	text-transform: uppercase;
	float:left;
}

.scores-text .container{
	width:40%;
	height:25px;
	float:right;
	border:1px solid #d9d9d9;
	color: #0095ac;
	border-radius:20px;
	text-align:center;
	padding-top:5px;
}


.ftr_bx_two a{
	display:block;
	width:19.6%;
	height:55px;
	border-right:1px solid #66bfcd;
	float:left;
	font-size:12px;
	color:#fff;
	text-align: center;
	padding-top:5px;

}

.ftr_bx_two a img{
	width:45%;
}

.active{
	background:#0095ac;
}

.bubbles-container{
	width:280px;
	margin:40px auto 20px auto;

}

.bubble{
	width:60px;
	height:60px;
	margin-left:8px;
	border-radius:50%;
	border:1px solid  #0095ac;
	float:left;
}


/*coach listing*/


.coach-row{
	width:90%;
	height:95px;
	border-top:2px solid #d9d9d9;
	margin-top:10px;
	padding-left:5%;
	padding-right:5%;
	padding-top:5px;
	padding-bottom:5px;
}

.coach-wrap{
	
}

.coach-photo-container{
	width:100px;
	height:95px;
	background:url(../images/coach-no-photo.png) no-repeat top left;
	float:left;
	display: block;
	background-size:100%;
	padding-top:5px;
}

.coach-name{
	width:44%;
	float:right;
	padding-left:10px;
	height:80px;
	background:url(../images/coach-arrow.png) no-repeat center right;
	display: block;
	background-size:8%;
	padding-right:50px;
	padding-top:4px;
	color: #0095ac;


}

.coach-name p{
	color: #0095ac;
	font-family:'open_sansbold';
	font-size:15px;
	margin:0px;
}


.green{
	font-size:15px;
	font-family: 'open_sanslight';
	color:green;
}

.red{
		font-size:15px;
	font-family: 'open_sanslight';
	color:green;
}

.hasphoto{
	width:90px;
	height:90px;
	border-radius: 50%;
	margin:0px auto;
	display: block;
	overflow: hidden;
}


.hasphoto img{
	width:100%;
	height: 100%;
}


/*meeting requests*/

.meeting-wrap{
	padding-top:0px;
	width:90%;
	margin:0px auto;
}

/*credits-page*/


.q-mark-credit{
	width:20px;
	height:20px;
	position:absolute;
	top:75px;
	left:10px;

}

.q-mark-credit img{
	width:100% !important;
}

h3.credits{
	font-family: 'open_sansbold';
	text-align:center;
	text-transform: uppercase;
}



.credits-counter-top{
	width:250px;
	margin:10px auto;
}

.cloud-credits{
	width:110px;
	height:50px;
	background:url(../images/cloud.png) no-repeat top center;
	background-size:100%;
	float:left;
	padding-top:110px;

}

.pocket-credits{
	width:110px;
	height:50px;
	background:url(../images/porc.png) no-repeat top center;
	background-size:100%;
	float:right;
	padding-top:110px;
}

.cloud-credits h3,p{ 
text-align: center;
margin:0px !important;
padding:0px;
 }

 .pocket-credits h3,p{ 
text-align: center;
margin:0px !important;
padding:0px;
 }


 .coin-stack{
 	width:70px;
 	height:190px;
 	
 	display: table-cell;
	text-align: center;
	vertical-align: bottom;
 }

 .coin-stack img{
 	width:70%;
 	margin:0px auto;
 	display: block
 }


 .coin-counter-top{
 	width:210px;
 	margin:20px auto;
 }

 .credit-wrap{
 	padding-top:75px;
 	postion:relative;
 	width:90%;
 	margin: 0px auto;
 }


 /*move activity start*/

 .arrow{
 	background:url(../images/arrow-select.png) #fff  no-repeat right center !important;
 	background-size:12% !important;
 }

 .stp_monitor{
 	width:80%;
 	margin: 0px auto;
 }


 .today-green{
 	width:100%;
 	color:#fff;
 	background: #0095ac;
 	height:35px;
 	margin-top:-15px;
 	text-align:center;
 	padding-top:5px;
 	/*margin-bottom:30px;*/
 }

 .shoes{
 	background:url(../images/steps.png) no-repeat right center !important;
	 background-size:15% !important;
 }

.minutes{
	background:url(../images/minutes.png) no-repeat right center !important;
	background-size:15% !important;
	
}
.close-terms{
  float:right;
  padding-top:10px;
  padding-right:10px;
}

.content-privacy{
  padding-top:75px;
  margin:0px auto;
  width:90%;
}



/*shop*/



.details-container{
	width:220px;
	margin:0px auto;
}



.credit-shop{
	
	width:105px;
	height:55px;
	float:left;
	background:url(../images/pig-shop.png) no-repeat center center;
	background-size:100%;
	color: #0095ac;
	text-align:center;
	padding-top:50px;
	line-height: 15px;
	font-size:16px;
}


.basket-shopt{
	width:105px;
	height:55px;
	float:right;
	background:url(../images/basket-shop.png) no-repeat center center;
	background-size:100%;	
	color: #0095ac;
	padding-top:50px;
	text-align:center;
	line-height: 15px;
	font-size:16px;
}

.shop-item-box{
	width:94%;
	border:1px solid #d9d9d9;
	border-radius:30px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	padding:3%;
}


.price{
	width:90%;
	font-size:15px;
	font-family: 'open_sansbold';
	color: #0095ac;
	border:1px solid #d9d9d9;
	text-align: center;
	
	border-radius:8px;
	margin-top:10px;
	margin-bottom:10px;
}
.left-training {
    width: 45% !important;
    float: left;
}

.right-training {
    width: 55%;
    float: right;
}
.tt {
    float: left;
    text-transform: uppercase;
    text-align: left;
    padding-left: 5px;
    padding-top: 20px;
}

.circle_span_cunt {
    font-size: 20px !important;
    font-weight: bold !important;
    color: #0095ac !important;
    float: left !important;
    width: 60px !important;
    height: 60px !important;
    border-radius: 100px !important;
        line-height: 60px !important;
}
/*To be copied for the new formatting*/

#slctactivityimg li{
    width:48% !important;
    float:left !important;
    margin-top:10px !important;
}

.slctactivity{
    display:block !important;
    margin:0px auto !important;
    padding:0px !important;
    width:80px !important;
    height:80px !important;
}

.slctactivity img{
    width:80px !important;
    margin:0px auto !important;
}
/*End */


/*
------------------------------------------------------------------------------------------------------------
*/




/* Added by Andrei*/


/* Remove dashboard-header*/
.main_panel_header{
  display: none !important;
}


.highcharts-container  svg{
  margin:0px auto !important;
}


.newwel_h4{
  display:none !important;
}

.creditchart div{
  margin:0px auto !important;
}


.question_icon{
  background:#fff !important;
  border:2px solid #0095ac !important;
  color:#0095ac !important;
  font-weight:400 !important;
  width:25px!important;
  height:25px !important;
  padding-top:0px !important;
  line-height:25px !important;
  top:10px!important;
  z-index:1001 !important;
}

.close-terms{
  float:right;
  padding-top:10px;
  padding-right:10px;
}

.content-privacy{
  padding-top:75px;
  margin:0px auto;
  width:90%;
}

.ftr_bx_one_prv{
  padding-top:10px;
}
.minus-left{
	margin-left:-60%;
  overflow:hidden;
  width:100% !important
}


.highcharts-series path{
  background:#000 !important;
}


#userprofile{
  border:none !important;
  border-radius: none !important;
  border:1px solid #fff !important;
  outline: none !important;
}

.close-info img{
	width:40px;
}

.daycountcls {
    position: relative !important;
    top:inherit !important;
    right:inherit !important;
    font-size: 16px;
    font-weight:bold;
    display:block;
    float:left;
    text-align:left;
    padding-top:5px;
    width:50%;
}

.today-green ul>li{
  width:45% !important;
  text-align: right;
  padding-right:5%;
}
.today-green ul>li:first-child{
  display:none !important;
}
.today-green ul>li:last-child{
  display:none !important;
}


.activity_todaybox{
  height:auto !important;
}

.swiper-wrapper{
  height:auto !important;
}

.welcome_ctn_bx{
  margin:0px;
  padding:0px;
}

.q-mark{
	width:20px;
	height:20px;
	position:absolute;
	top:-20px;
	left: -5px;

}
.q-mark.mark2{
	width:20px;
	height:20px;
	/*position:relative;*/
	top:-0px;
	left: -5px;

}

.q-mark img{
	width:100%;
}

.info-content p img{
  width:100% !important;
  height:auto !important;
} *


.questionnote{
  font-size:18px !important ;
}


.home_txt_cnt{
  height:auto !important;
  width:99%;
  margin:0px auto;
}
.home_txt_ctn p{
  margin:0px;
}
.home_txt_cnt_header h1{
  font-size:14px !important;
}

.decrease{
	width:40px;
	height:40px;
	background:#0095ac;
	border-radius: 50%;
	text-align: center;
	font-family: 'open_sansbold';
	font-size:30px;
	position:absolute;
	left:13%;
	top:30px;
	color:#fff;
	line-height: 12px !important;
	z-index:100;
	    border: 0px;
}

.tt{float:left; text-transform:uppercase; text-align:left;padding-left:5px;padding-top:20px;}

.circle_span_cunt{
	font-size:20px !important;
	 font-weight:bold !important;
	 color:#0095ac !important; /* keep the old color #0095ac for your project*/
	 float:left !important;
	 width:60px !important;
	 height:60px !important;
	 border-radius: 100px !important;
     padding-top:0px;
     border: 1px solid #0095ac !important;
}
.question_image {

    border: 1px solid #0095ac !important;

}
.ipfilled_fix{
    border : none !important;
}

.left-training{
	width:45% !important;
	float:left;
}

.right-training{
	width:55%;
	float:right;
}

.start{
	font-size:16px !important;
}

.circle_cont{
	float:left;
	width:50%;
	
}

.circle_span_select_act{
	 font-size:20px !important;
	 font-weight:bold !important;
	 color:#0095ac !important;
	 width:100px !important;
	 height:100px !important;
	 border-radius: 100px !important;
	 text-align: center;
	 border:2px solid #0095ac;
	 margin: 0px auto;
	 display: block !important;
	 margin-bottom:5px;
}

.circle_span_select_act img{
	width:95%;
	margin:0px auto;
}


.week-separator{
	border-bottom:1px solid #0095ac !important;
	width:90%;
	margin: 0px auto;
}

.first_level_row_stat{
	width:90%;
	margin:0px auto;
}


.hrm_floater{
	width:25%;
	float:left;
	text-align: center;
}


.circle_span_cunt_hrm{
	 font-size:20px !important;
	 font-weight:bolder !important;
	 color:#0095ac !important;
	 width:60px !important;
	 height:60px !important;
	 border-radius: 100px !important;
	 font-size:20px;
	 border:1px solid #0095ac;
	 display: block;
	 margin:0px auto;
	 
}

.circle_span_cunt_hrm img{
	width:95%;
	margin:0px auto;
}

.circle_span_cunt_hrm p{
	text-align: center !important;
	padding-top:15px;
}

.score_txt{
	float:left;
	width:25%;
}

.score_track{
	float:left;
	width:75%;
	height:10px;
	background:#0095ac;
	margin-top:5px;
}

.third_floater{
	width:33.3%;
	float:left;
	text-align: center;
}


.slider_btn_bx .white_btn{
	background:#0095ac !important;
}




.formfocus_ipentry .ipfilled, .questions_list .input_blue.ipfilled{
	border:1px solid #0095ac  !important;
	
}

.compulsory_ftr
{
	color:#0095ac;
}

#progress_group{
	border:1px solid #0095ac !important;
}

.save_btn{
	background:#0095ac;
	border:1px solid #0095ac ;
}

.divices_h5{
	background:#0095ac;
}
.yesno_btn{
		background:#0095ac !important;
	border:1px solid #0095ac !important;
}

.checked{
		    background:#fff!important;
    color:  #0095ac !important;
    -webkit-box-shadow: 0 0 0 1px #0095ac !important ;
    -moz-box-shadow: 0 0 0 1px #0095ac !important;
    box-shadow: 0 0 0 1px #0095ac !important;
}

.info_popupbox_bg{
	background:#0095ac !important;
}

.comm_coin_box input, .current_credit{
	border:1px solid #0095ac;
}



.new_profile{
	background:#0095ac !important;
}

.blue_btn, #saveProfieldata.blue_btn{
	background:#0095ac;
}

.transgender{border:none !important;}

.choosephoto_popup span.galleryicon {
    /* background: #0095ac url(../images/photogalery.png) no-repeat center center; */
    background-image: url(../images/photogalery.png);
    background-color: #0095ac !important;
    background-repeat: no-repeat;
    background-position: center center;
}

.capturephotoopt{
	color:#0095ac !important;
}
.transgallery{
	color:#0095ac !important;
}

.choosephoto_popup{
		background:#0095ac !important;
}

.close_btn{
	backrgound:transparent !important;
	border:1px solid #fff;
}
.choosephoto_popup span.photoicon {
    /* background: url(../images/photoicon.png) no-repeat center center; */
    background-image: url(../images/photoicon.png);
    background-color: #0095ac;
    background-repeat: no-repeat;
    background-position: center center;
}

/*To be copied for the new formatting*/

#slctactivityimg li{
	width:48% !important;
	float:left !important;
	margin-top:10px !important;
	}
	
.slctactivity{
	display:block !important;
	margin:0px auto !important;
	padding:0px !important;
	width:80px !important;
	height:80px !important;
}

.slctactivity img{
	width:80px !important;
	margin:0px auto !important;
}

	#resultchart{
	padding-top:50px ;
}
.swiper-slide{
	padding-bottom:50px !important;
}

.perfill{
	background-color:#0095ac  !important;
}



.act_select .markbtn_check {
    background: #0095ac !important;
}
.markbtn_check {
  
    border: 1px solid #0095ac !important;
}
span.arrowtop_icon {
 
    color: #0095ac !important;
}

#slcthrmonitor + .white_btn {
    background: #0095ac 	!important;
    color: #fff !important;
}



@media screen and (max-width:320px){

	#progress_group{
	margin-top:0px !important;
	}	
	.swiper-slide{
		padding-bottom:10px !important;\
	}	
	.start{
	font-size:16px !important;
	}
	
	#resultchart{
	padding-top:20px ;
}
	
	
	.white_btn {
    color: #575b5b;
    border: 1px solid #0095ac!important;
	background:#0095ac !important;
    width: 50% !important;
    line-height: 36px;
    height: 45px;
    display:block;
    border-radius: 20px;
    background: none;
    text-align: center;
    margin: 0 auto;
	  text-transform: uppercase;
	  font-family:'open_sansbold';
	  font-size:12px !important;
	  margin-top:10px !important;
    }

    .facebook{
    	width:100% !important;
    	color: #575b5b;
        border: 1px solid #0095ac;
       	background:url(../images/facebook-login.png) no-repeat top left #0095ac  !important ;
        line-height: 36px;
        height: 45px;
        display:block;
        border-radius: 20px;
        text-align: center;
        margin: 0 auto;
    	text-transform: uppercase;
    	font-family:'open_sansbold';
    	font-size:12px;
    	margin-top:15px !important;
    }


    .info-content p,.info-content h2,.info-content ul,.forgot-content p{
    	text-align:left !important;
      font-size:13px !important;
    }
	

    #question-forms{

      height:auto !important;
    }

    .swiper-container-horizontal{
      height:auto !important;
    }

    .yesno_btn_fix{
    	    border-radius: 25px !important;
    		width: 60px !important;
    		height: 30px !important;
    		padding: 5px !important;
    		line-height: 35px !important;
    }
    .yesno_btn_text_fix{
        text-transform: uppercase;
        font-family: 'open_sansbold';
        font-size: 18px;
    }
    .yesno{

    	width:auto;
    	height:82px;
    	padding-top:0px;
    	margin:0px auto;
    	text-align: center;
    	color:#0095ac;
    	font-size:50px;
    	font-family: 'open_sansbold';
    }

    .counter-container{
    	width:100%;
    	margin-top:0px;
    	position:relative;
    	margin-bottom:0px;
    }
    .welcome_ctn_header h3{
     /* padding:0px !important;*/
      font-size:16px;
    }
    .today-green{
      margin-bottom:10px !important;
    }

    .questionnote{
      font-size:16px !important;
    }
}
.blue_btn, #saveProfieldata.blue_btn {
    background: #0095ac !important;
    color: #fff !important;
}
/******************CHANGED*************************/
.reg {
    float: left;
    width: 90%;
    padding: 5px 21px;
    text-align: justify;
p.reg_tittle {
    padding: 10px 0;
}
p.reg_txt {
    margin-bottom: 15px!important;
    float: left;
    width: 100%;
}
.voucher_wrap .white_btn.blue_btn {
    width: 92%!important;
    text-decoration: none!important;
    font-size: 13px!important;
    line-height: 21px;
    height: 44px;
    padding: 6px 0!important;
}
span.club_red {
    font-size: 12px;
    font-family: 'open_sanslight';
}

/*end added by andrei*/
/* css added by jeet 8 mar 2017*/

.info-content p img {
    float: left!important;
    width: 100%!important;
    padding: 10px 0!important;
}
